.wrap{width:95%;margin:10px auto;}
.tab{padding-left:10px;border-bottom:2px solid rgba(0,0,0,.25)}
.tab .tab_btn{display:inline-block;width:100px;background-color:#aaa;color:#fff;font:400 14px/30px "microsoft yahei";cursor:pointer;text-align:center;margin:0 5px -1px 0;border-radius:0.3em 0.3em 0 0;box-shadow:0 1px rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.15);border:1px solid rgba(0,0,0,.25);border-bottom:0}
.tab .tab_btn:hover{background-image:linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1));}
.tab .curr{background-color:#0074d9}
.tabcontWrap{}
.tabcontWrap .curr{display:block;}
.tabcont{display:none;}


.form{}
.form label{float:left;text-align:right;font:14px/28px "microsoft yahei"}
.form span{margin-left:10px}
.form .item{padding-bottom:10px;overflow:hidden;zoom:1;}
.form .ipt{float:left;width:210px;height:16px;padding:5px 2px;font:12px/16px arial;border:1px solid #ccc;}
.form .msg{display:none;border:1px solid #ddd;padding:3px 10px 3px 24px}
.form .success{display:inline-block;color:#d00;border:1px solid #FF0000;background:#FFF5BC url(../images/ico_del4.png) no-repeat 3px 4px}
/*.form .success{display:inline-block;color:#2ecc40;}*/
.console{display:none;padding:5px;border:1px solid #ccc;background-color:whiteSmoke}

.form .disabled{background: #ccc;cursor:default;}
.form .disabled:hover{background: #ccc}

.list{border:1px solid #ddd;}
.list tr:nth-child(odd){background-color:#fbfbfb}
.list td{border:1px solid  #ddd;line-height:30px;padding:0 7px;}
.list tr.tit{background-color:#f0f0f0;font-weight:700}
.list tr:hover{background-color:#efefef;}

.cbx_all,.cbx_one{margin:0 5px 0 0;vertical-align:middle;font-family:tahoma}
.cbx_label{vertical-align:middle}
.filte{height:16px;padding:5px 2px;font:12px/16px arial;border:1px solid #ccc;}

.page{padding:5px 0;font:12px/16px tahoma,helvetica,sans-serif;text-align:right;}
.page .page_btn{display:inline-block;margin-left:5px;padding:2px 5px;border:1px solid #ccc;text-decoration:none;color:#0074d9;vertical-align:top}
.page a.page_btn:hover{color:#fff;border-color:#2b55af;background-color:#3666d4;text-decoration:none}
.page a.page_btn:active{color:#fff;border-color:#2b55af;background-color:#3666d4;text-decoration:none}
.page .disabled{background-color:#fefefe;color:#ddd;border-color:#eee;}
.page .curr{font-weight:bold;background-color:#3666d4;border-color:#2b55af;color:#fff;}
.page .more{border:0;padding:3px 0;color:#999;}
.page .info{border:0;padding:3px 0;color:#999;}



/* 弹出插件 */
.ui-dialog{font:12px/18px 'Microsoft Yahei',Tahoma,Arial,Helvetica,STHeiti;background-color:#fff;box-shadow:5px 5px 7px rgba(0,0,0,0.4);color:#000;}
.ui-dialog{position:absolute;top:0;left:0;}
.ui-dialog-header{height:15px;line-height:15px;padding:10px;background-color:#007c8c;overflow:hidden;text-overflow:ellipsis;}
.ui-dialog-title{font-size:100%;color:#fff;}
.ui-dialog-close{float:right;width:15px;height:0;padding-top:15px;background:url(../images/ui-dialog-close.png) no-repeat 2px 2px;cursor:pointer;overflow:hidden;}
.ui-dialog-close:hover{background-position:-19px 2px}
.ui-dialog-main{text-align:center;border:1px solid #ddd;border-top:0}
.ui-dialog-loading{height:0;padding-top:32px;overflow:hidden;background:url(../images/ui-dialog-loading.gif) no-repeat 50%}
.ui-dialog-content{*zoom:1;*display:inline !important;text-align:left;border:0;vertical-align:middle;}
.ui-dialog-icon{width:46px;height:68px;vertical-align:middle;display:inline-block;*zoom:1;*display:inline;background:url(../images/ui-dialog-icon.png) no-repeat;}
.ui-dialog-question{background-position:0 50%}
.ui-dialog-error{background-position:-46px 50%}
.ui-dialog-succeed{background-position:-92px 50%}
.ui-dialog-warning{background-position:-138px 50%}
.ui-dialog-footer{margin-top:-1px;border:1px solid #ddd;border-top-color:#fff}
.ui-dialog-buttons{padding:0 0 20px;text-align:center;}
.ui-dialog-buttons button{width:60px;height:26px;margin:0 10px;border:0;font-family:inherit;opacity:1;cursor:pointer;}
.ui-dialog-buttons button:focus{outline:none;}
.ui-dialog-buttons button:hover{opacity:.8;}
.ui-dialog-buttons button[disabled]{cursor:default;color:#666;background:#DDD;border:solid 1px #999;filter:alpha(opacity=50);opacity:.5;box-shadow:none;}
.ui-dialog-submit{background:#00a6c6;color:#fff;}
.ui-dialog-cancel{background:#cfcfcf;color:#222;}


/*拖动时*/
.ui-dialog-state-drag .ui-dialog-header{opacity:0.8;filter:alpha(opacity=80);}

/*无标题*/
.ui-dialog-state-noTitle .ui-dialog-header{display:none;}

/*skin*/
/*深蓝色 navy*/
.ui-dialog-navy .ui-dialog-header{background-color:#001f3f}
.ui-dialog-navy .ui-dialog-submit{background-color:#001f3f}

/*黄绿色 olive*/
.ui-dialog-olive .ui-dialog-header{background-color:#3d9970}
.ui-dialog-olive .ui-dialog-submit{background-color:#3d9970}

/*橙色 orange*/
.ui-dialog-orange .ui-dialog-header{background-color:#ff851b}
.ui-dialog-orange .ui-dialog-submit{background-color:#ff851b}

/*栗色 maroon*/
.ui-dialog-maroon .ui-dialog-header{background-color:#85144b}
.ui-dialog-maroon .ui-dialog-submit{background-color:#85144b}

/*珊瑚色 coral*/
.ui-dialog-coral .ui-dialog-header{background-color:#ff7f50}
.ui-dialog-coral .ui-dialog-submit{background-color:#ff7f50}


/* 顶部及时消息 */
.tipsMsg{position:fixed;top:0;left:50%;padding:0 16px;background-color:#3666d4;color:#fff;animation:0.3s ease 0s normal;border-radius:0 0 3px 3px;line-height:26px}