html,body{height:100%;color:#6f6f6f;}
body{background:url(../images/bg.jpg) no-repeat 50% 50%;}
*{
	-moz-box-sizing: border-box;  
 -webkit-box-sizing: border-box; 
	  -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	     box-sizing: border-box;
}

.login-box{position:absolute;z-index:1;top:50%;left:50%;width:420px;height:420px;margin:-210px 0 0 -210px;background:#fff;}
.login-box .mask,
.login-box .border{position:absolute;top:-15px;left:-15px;right:-15px;bottom:-15px;border:1px solid #fff;opacity:0.14;filter:alpha(opacity=14);}
.login-box .mask{background:#fff;}
.login-box .camera{position:absolute;top:-48px;left:50%;width:106px;height:90px;margin-left:-53px;background:url(../images/camera.png) no-repeat 50% 0;}
.login-box .myform{position:relative;z-index:2;}
.login-box .h1{padding-top:55px;line-height:1.3;text-align:center;}
.login-box .h1 span{display:block;font-size:30px;}
.login-box .h1 em{display:block;text-transform:uppercase;}
.login-box .group{position:relative;z-index:1;padding:18px 50px;}
.login-box .input{width:100%;height:36px;line-height:20px;padding:7px 7px 7px 34px;border:1px solid #ddd;border-radius:3px;background:#fff url(../images/ico-login.png) no-repeat -30px 0;vertical-align:top;}
.login-box .user{background-position:0 0;}
.login-box .lock{background-position:0 -36px;}
.login-box .msg{height:50px;line-height:66px;color:#f00;text-align:center;}
.login-box .button{padding:25px 50px 0;}
.login-box .ubtn{width:100%;height:44px;font-size:16px;}
#loginForm{position:relative;}
#loginForm .active{position:absolute;top:0;left:0;right:-3px;height:72px;background:#e6f3f3;border-left:5px solid #00cccb;display:none;}

@media(max-height:659px) {
	.login-box{margin-top:-190px;}
}