/*广告体的外宽定义为页面最大定宽的2倍*/
html{_background:url(about:blank) no-repeat fixed;background-color:#fff;} /*ie6 fixed repair*/
body, h1, h2, h3, h4, p, dl, dd, ol, ul, form{margin:0;} 
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;color:#464646;}
body,input,textarea{outline:none;background-color:#fff}
td{padding:0}
h1,h2,h3,h4{font-size:100%;}
ol,ul{padding:0;list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{border:0;}

body {
    /*height: 100%;*/
}

.idx-top-ad { position: relative; min-width: 1200px; overflow: hidden; _zoom: 1; }
.idx-top-ad a { position: relative; left: 50%; display: block; width: 2400px; margin-left: -1200px; text-align: center; }


.icon { display: inline-block; vertical-align: middle; line-height: 99em; overflow: hidden; background: url(p8_ico.png) no-repeat; }

.wide { width: 990px; height: 2000px; background-color: #f5f5f5; margin: 20px auto; border: 5px solid #f00; }
/* floor nav */
.floor-nav {display:none;position:fixed;top:50%;left:20px;z-index:9;margin-top:-145px;width: 42px;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight/2);}
.floor-nav .fn-tit {display: block;width: 32px;height: 37px;line-height:14px;color: #fff;text-align: center;font-family:"Microsoft YaHei";font-size: 14px;padding:6px 5px 0 5px;background: #df2627;}
.floor-nav ul {background: #fff;}
.floor-nav ul li {width: 42px;}
.floor-nav ul li a {display: block;width: 30px;height: 33px;line-height:14px;text-align: center;padding:7px 5px 0 5px;border: 1px solid #dedede;border-top: none;overflow: hidden;}
.floor-nav ul li a .iconfont {color:#666;font-size:22px;line-height:28px;}
.floor-nav ul li a:hover .iconfont {display:none;}
.floor-nav ul li a span {display:none;}
.floor-nav ul li a:hover,
.floor-nav ul li a:hover span {display:block;width: 32px;height: 34px;color: #fff;text-decoration:none;text-indent: 0;border: none;background-image: none;background-color:#df2627;}
.floor-nav ul li.cur a {width: 32px;height: 36px;color: #fff;text-indent: 0;border: none;background-image: none;background-color:#df2627;}
.right-navbar { position: fixed; right: 0; top: 0; width: 36px; height: 100%; background-color: #363940; _position: absolute; _top: expression(documentElement.scrollTop); _left: expression(documentElement.scrollLeft+documentElement.clientWidth-this.offsetWidth); height: expression(documentElement.clientHeight); }

.right-navbar .rnb-list { margin-top: 50px; }

.right-navbar li { height: 35px; margin-top: 10px; font: 13px/35px "Microsoft YaHei"; vertical-align: top; }
.right-navbar a{ display: block; height: 100%; cursor: pointer; text-decoration: none; vertical-align: top; }
.right-navbar a.hvr { position: relative; }
.right-navbar a.hvr span { display: none; position: absolute; top: 0; right: 0; width: 35px; padding-left: 15px; height: 100%; color: #fff; white-space: nowrap; background-color: #df2627; }
.right-navbar .icon { width: 36px; height: 35px; background:#363940 url(get_icon.png) -98px -596px no-repeat; }
.right-navbar .hvr .icon { position: relative; z-index: 2; }
.right-navbar a:hover { background-color: #df2627; }
.right-navbar a:hover .icon { background-color: #df2627; }

.right-navbar .kf .icon { background-position: -98px -594px; }
.right-navbar .gw .icon { background-position: -98px -638px; }
.right-navbar .hy .icon { background-position: -98px -684px; }
.right-navbar .yh .icon { background-position: -98px -731px; }
.right-navbar .sc .icon { background-position: -98px -780px; }
.right-navbar .jl .icon { background-position: -98px -829px; }
.right-navbar .dc .icon { background-position: -98px -878px; }
.right-navbar .qr .icon { background-position: -98px -925px; }
.right-navbar .goback .icon { background-position: -98px -968px; }

.right-navbar .gw { height: 120px; }


.right-navbar .gw span { display: block; width: 16px; padding: 0 10px 6px; line-height: 18px; text-align: center; color: #fff; }
.right-navbar .gw .sum { display: block; width: 24px; height: 24px; margin: 0 auto; line-height: 24px; text-align: center; color: #fff; vertical-align: top; background: url(get_icon.png) -104px -1006px no-repeat; }


.right-navbar .rnb-link { position: absolute; left: 0; bottom: 0; width: 100%; }

.right-navbar .qr .cust { display: none; position: absolute; bottom: 10px; left: -152px; width: 150px; height: 175px; border: 1px solid #d1d1d1; background-color: #fff; }
.right-navbar .qr .cust img { width: 150px; height: 175px; vertical-align: top; }

.right-navbar .qr .cust .arrow { position: absolute; bottom: 0px; right: -7px; width: 7px; height: 12px; background: url(p8_img.png) -450px 0 no-repeat; overflow: hidden; }
