html,body{height:100%;color:#fff;}
body{background:url(../images/bg-login.jpg) no-repeat 50% 50%;}
*{
	-moz-box-sizing: border-box;  
 -webkit-box-sizing: border-box; 
	  -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	     box-sizing: border-box;
}
.login-box{position:absolute;top:50%;left:50%;width:1174px;height:500px;margin:-250px 0 0 -587px;background:#071346;background-color:rgba(7,19,70,.34);background:#071346 url(../images/banner.png) no-repeat 50px 50%;background-color:rgba(7,19,70,.34);border:1px solid #fff;}
.login-box .cap{position:absolute;bottom:-70px;right:70px;}
.login-box .tit{height:100px;text-align:center;line-height:90px;font-size:18px;}
.login-box .myform{position:absolute;top:66px;right:66px;bottom:66px;width:430px;padding:0 50px;background:#fff;background-color:rgba(255,255,255,.25);}
.login-box .group{position:relative;z-index:1;margin-bottom:30px;}
.login-box .input{width:100%;height:50px;padding:7px 7px 7px 70px;border:0;background:#fff;vertical-align:top;border:1px solid #ddd;border-radius:3px;}
/*.login-box .input:focus{border-color:#00a1ec;}*/
.login-box .ico{position:absolute;top:0;left:0;bottom:0;width:50px;height:auto;background:url(../images/ico-login.png) no-repeat -30px 0;border-right:1px solid #ddd;}
.login-box .clear-btn{position:absolute;top:0;right:0;bottom:0;left:auto;width:50px;cursor:pointer;display:none;background-position:-100px 0;}
.login-box .clear-btn:hover{background-position:-100px -50px;}
.login-box .user{background-position:0 0;}
.login-box .lock{background-position:-50px 0;}
.login-box .active .user{background-position:0 -50px;}
.login-box .active .lock{background-position:-50px -50px;}
.login-box .button{margin-top:30px;}
.login-box .ubtn{width:100%;height:44px;font-size:16px;}
.login-box .error{position:absolute;left:50px;right:0;bottom:30px;}
.login-box .copy{position:absolute;left:0;right:0;top:100%;padding-top:20px;text-align:center;line-height:1.8;}

