*{-webkit-box-sizing:border-box;box-sizing:border-box;}
html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;}
body{margin:0;font-size:1.4rem;line-height:1.42857143;background:#f7f7f7;color:#333;}
h1,h2,h3,h4{margin:0;padding:0;}
ul,ol,dl,dt,dd{margin:0;padding:0;list-style:none;}
img{vertical-align:top;}
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:none;}
label{margin:0;font-weight:100;}
time{color:#333;}
em,i{font-style:normal;}
button,input,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;outline:none;}
button,select{text-transform:none}
button,input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{padding:0;-webkit-appearance:none;}
fieldset{padding:0;margin:2px;}

/* public */
.cf:after{clear:both;display:table;content:"";}
.fl{float:left;}
.fr{float:right;}
.wrap{max-width:750px;margin:0 auto;}
.hide{display:none;}

/* checkbox */
.cbx, .rdo, .rdo2{width:18px;height:18px;margin:0 4px 0 0 !important;border:none;vertical-align:-4px;background:#fff no-repeat;background-size:100%;}
.cbx{background-image:url(../images/check.png);}
.cbx:checked{background-image:url(../images/checked.png);}
.rdo{text-align:center;}
.rdo{background-image:url(../images/check_c.png);}
.rdo:checked{background-image:url(../images/checked_c.png);}
.rdo2{width:28px;height:28px;}
.rdo2{background-image:url(../images/check_c_2.png);}
.rdo2:checked{background-image:url(../images/checked_c_2.png);}

/* color */
.blue{color:#35aaff;}


/* button */
.button{padding:30px 20%;text-align:center;}
.button a{color:#0093ff;text-decoration:underline;}
.button .ubtn:nth-child(n+2){margin-top:20px;}
.ubtn{display:inline-block;width:100%;line-height:46px;-webkit-border-radius:23px;border-radius:23px;border:none;font-size:1.6rem;text-align:center;text-decoration:none !important;}
.ubtn:active{outline:0;text-decoration:none;
  -webkit-box-shadow:inset 0 0 100px rgba(0,0,0,0.4);
          box-shadow:inset 0 0 100px rgba(0,0,0,0.4);}
.ubtn-blue{background:#0093ff;color:#fff !important;}
.ubtn-red{background:#fa6d75;color:#fff !important;}
.ubtn-gray{background:#c4c4c4;color:#fff !important;}
.ubtn-white{background:#fff;color:#0093ff !important;}
.ubtn-ghost{background:#fff;color:#0093ff !important;border:1px solid #0093ff;}


/* ico */
.ico{display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-size:auto 100%;vertical-align:-2px;}
.ico-clock{background-image:url(../images/clock.png);}
.ico-right{width:100px;height:100px;background-image:url(../images/right.png);}
.ico-right2{width:50px;height:50px;background-image:url(../images/right2.png);}

/* layer */
.layui-m-layer{position:relative;z-index:19891014}
.layui-m-layer *{-webkit-box-sizing:content-box;box-sizing:content-box;}
.layui-m-layermain,.layui-m-layershade{position:fixed;left:0;top:0;width:100%;height:100%}
.layui-m-layershade{background-color:rgba(0,0,0,.7);pointer-events:auto}
.layui-m-layermain{display:table;font-family:Helvetica,arial,sans-serif;pointer-events:none}
.layui-m-layermain .layui-m-layersection{display:table-cell;vertical-align:middle;text-align:center}
.layui-m-layerchild{position:relative;display:inline-block;text-align:left;background-color:#fff;font-size:16px;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 0 8px rgba(0,0,0,.1);box-shadow:0 0 8px rgba(0,0,0,.1);pointer-events:auto;-webkit-overflow-scrolling:touch;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.2s;animation-duration:.2s}
@-webkit-keyframes layui-m-anim-scale{
	0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes layui-m-anim-scale{
	0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
.layui-m-anim-scale{animation-name:layui-m-anim-scale;-webkit-animation-name:layui-m-anim-scale}
@-webkit-keyframes layui-m-anim-up{
	0%{opacity:0;-webkit-transform:translateY(800px);transform:translateY(800px)}
	100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes layui-m-anim-up{
	0%{opacity:0;-webkit-transform:translateY(800px);transform:translateY(800px)}
	100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
.layui-m-anim-up{-webkit-animation-name:layui-m-anim-up;animation-name:layui-m-anim-up}
.layui-m-layer0 .layui-m-layerchild{width:90%;max-width:640px}
.layui-m-layer1 .layui-m-layerchild{border:none;-webkit-border-radius:0;border-radius:0}
.layui-m-layer2 .layui-m-layerchild{width:auto;max-width:260px;min-width:40px;border:none;background:0 0;box-shadow:none;color:#fff}
.layui-m-layerchild h3{padding:0 10px;height:60px;line-height:60px;font-size:16px;font-weight:400;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;text-align:center}
.layui-m-layerbtn span,.layui-m-layerchild h3{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.layui-m-layercont{padding:50px 5px;line-height:22px;text-align:center}
.layui-m-layer1 .layui-m-layercont{padding:0;text-align:left}
.layui-m-layer2 .layui-m-layercont{text-align:center;padding:0;line-height:0}
.layui-m-layer2 .layui-m-layercont i{width:25px;height:25px;margin-left:8px;display:inline-block;background-color:#fff;-webkit-border-radius:100%;border-radius:100%;-webkit-animation:layui-m-anim-loading 1.4s infinite ease-in-out;animation:layui-m-anim-loading 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.layui-m-layerbtn,.layui-m-layerbtn span{position:relative;text-align:center;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}
.layui-m-layer2 .layui-m-layercont p{margin-top:20px}
@-webkit-keyframes layui-m-anim-loading{
	0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}
	40%{transform:scale(1);-webkit-transform:scale(1)}
}
@keyframes layui-m-anim-loading{
	0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}
	40%{transform:scale(1);-webkit-transform:scale(1)}
}
.layui-m-layer2 .layui-m-layercont i:first-child{margin-left:0;-webkit-animation-delay:-.32s;animation-delay:-.32s}
.layui-m-layer2 .layui-m-layercont i.layui-m-layerload{-webkit-animation-delay:-.16s;animation-delay:-.16s}
.layui-m-layer2 .layui-m-layercont>div{line-height:22px;padding-top:7px;margin-bottom:20px;font-size:14px}
.layui-m-layerbtn{display:box;display:-webkit-box;width:100%;height:50px;line-height:50px;font-size:0;border-top:1px solid #D0D0D0;background:#0093ff;}
.layui-m-layerbtn span{display:block;box-flex:1;-webkit-box-flex:1;font-size:16px;cursor:pointer}
.layui-m-layerbtn span[yes]{color:#fff;-webkit-border-radius:0 0 10px 0;border-radius:0 0 10px 0}
.layui-m-layerbtn span[no]{color:#fff;border-right:1px solid #fff;-webkit-border-radius:0 0 0 10px;border-radius:0 0 0 10px}
.layui-m-layerbtn span:active{-webkit-box-shadow:inset 0 0 100px rgba(0,0,0,0.4);
          box-shadow:inset 0 0 100px rgba(0,0,0,0.4);}
.layui-m-layerend{position:absolute;right:7px;top:10px;width:30px;height:30px;border:0;font-weight:400;background:0 0;cursor:pointer;-webkit-appearance:none;font-size:30px}
.layui-m-layerend::after,.layui-m-layerend::before{position:absolute;left:5px;top:15px;content:'';width:18px;height:1px;background-color:#999;transform:rotate(45deg);-webkit-transform:rotate(45deg);-webkit-border-radius:3px;border-radius:3px}
.layui-m-layerend::after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
body .layui-m-layer .layui-m-layer-footer{position:fixed;width:95%;max-width:100%;margin:0 auto;left:0;right:0;bottom:10px;background:0 0}
.layui-m-layer-footer .layui-m-layercont{padding:20px;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;background-color:rgba(255,255,255,.8)}
.layui-m-layer-footer .layui-m-layerbtn{display:block;height:auto;background:0 0;border-top:none}
.layui-m-layer-footer .layui-m-layerbtn span{background-color:rgba(255,255,255,.8)}
.layui-m-layer-footer .layui-m-layerbtn span[no]{color:#FD482C;border-top:1px solid #c2c2c2;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}
.layui-m-layer-footer .layui-m-layerbtn span[yes]{margin-top:10px;-webkit-border-radius:10px;border-radius:10px}
body .layui-m-layer .layui-m-layer-msg{width:auto;max-width:90%;margin:0 auto;bottom:-150px;background-color:rgba(0,0,0,.7);color:#fff}
.layui-m-layer-msg .layui-m-layercont{padding:10px 20px}

/* header */
header{position:relative;z-index:2;background:#0093ff;color:#fff;}
header .title{line-height:50px;text-align:center;font-size:1.6rem;}

/* ui-footer */
.ui-footer{position:fixed;bottom:0;left:0;z-index:8;width:100%;height:56px;background-color:#f3f3f3;}
.ui-footer .ui-nav{border-top:1px solid #ddd;overflow:hidden;}
.ui-footer .ui-nav li{float:left;width:33.333%;padding:6px 10px;text-align:center;}
.ui-footer .ui-nav a{display:block;vertical-align:top;color:#666;font-size:1.4rem;}
.ui-footer .ui-nav a.current{color:#11c211;}
.ui-footer .ui-nav span{display:block;}
.ui-footer .ui-nav i{position:relative;display:inline-block;font-size:2.4rem;line-height:1;}
.ui-footer .ui-nav .new-msg i:after{content:'';position:absolute;top:-2px;right:-10px;width:8px;height:8px;-webkit-border-radius:9rem;border-radius:9rem;background-color:#f90;}

/* ui-content */
.ui-content{max-width:640px;margin:0 auto;}

/* 气泡式弹出层组件 */
.alertmsg{position:fixed;bottom:20px;left:0;z-index:2147483641;width:100%;text-align:center;opacity:0;-webkit-transition: all .3s;transition: .3s;}
.alertmsg .txt{display:inline-block;padding:4px 14px;background-color:#000;color:#fff;font-size:1.4rem;-webkit-border-radius:5px;border-radius:5px;}
.alertmsg-active {opacity: 1;}

/* login */
.bg-login{padding:1px 0;background:url(../images/bg-login.jpg) no-repeat;background-size:100% 155%;}
.login-box .avatar{position:relative;width:29%;padding-top:29%;margin:40px auto;}
.login-box .avatar img{position:absolute;top:0;left:0;width:100%;height:100%;}
.login-box .form{padding:0 10%;}
.login-box .form .item{position:relative;margin-bottom:16px;}
.login-box .form .ipt{width:100%;height:50px;line-height:18px;padding:15px 10px 15px 50px;border:1px solid #a4d0fd;font-size:1.6rem;background:none;color:#fff;-webkit-border-radius:3px;border-radius:3px;}
.login-box .form img{position:absolute;top:12px;left:12px;width:24px;}
.login-box .form a{color:#fff;font-size:1.4rem;}
.login-box .form .error{position:absolute;z-index:2;top:108%;left:30px;padding:5px 10px;color:#0093ff;background:#fff;-webkit-border-radius:3px;border-radius:3px;display:none;}
.login-box .form .error:after{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #fff;}

/* register */
.bg-reg{background:#fff;}
.reg-box .form{padding:0 15px;}
.reg-box .form .item{position:relative;line-height:50px;}
.reg-box .form .for{position:absolute;top:0;left:5px;color:#666;}
.reg-box .form .ipt{width:100%;height:50px;line-height:20px;padding:15px 10px 15px 80px;border:none;font-size:1.6rem;background:none;color:#666;border-bottom:1px solid #e5e5e5;}
.reg-box .form .btn-wrap{position:absolute;top:5px;right:0;width:100px;line-height:40px;border-left:1px solid #ccc;text-align:right;}
.reg-box .form .btn-code{padding-right:5px;color:#0093ff;background:none;border:none;white-space:nowrap;}
.reg-box .form .btn-code:active{background:#0093ff;color:#fff;}
.reg-box .form .agreement{color:#ff7671;text-decoration:underline;}
.reg-box .form .error{position:absolute;z-index:2;top:108%;left:60px;padding:0 10px;line-height:30px;color:#fff;background:#0093ff;-webkit-border-radius:3px;border-radius:3px;display:none;}
.reg-box .form .error:after{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #0093ff;}
.reg-box .button{padding-top:100px;}
.reg-box .form-extal .ipt{padding:15px 10px;}
.reg-box .form-extal .error{left:10px;}

/* 文章 */
.article-box{padding:10px;font-size:1.6rem;color:#999;}
.article-box .title{padding:10px 0;font-size:1.6rem;text-align:center;}
.article-box .article{padding:10px 0;line-height:2.4rem;}
.article-box .article p{margin:0;text-indent:2em;}

/* 地图 */
.map-box{position:relative;height:100%;margin-top:-50px;}
.map-box .button{position:absolute;left:0;bottom:0;width:100%;padding:15px 20%;background:#fff;}
.map-wrap{height:100%;}

/* 车辆位置 */
.location-box .button{background:#f7f7f7;-webkit-box-shadow:0 17px 17px -15px rgba(0,0,0,.1) inset;box-shadow:0 17px 17px -15px rgba(0,0,0,.1) inset;}
.location-box .hd{position:relative;line-height:50px;margin-bottom:-20px;text-align:center;background:#fff;}
.location-box .hd span{display:inline-block;font-size:1.6rem;color:#666;}
.location-box .hd em{position:absolute;top:0;right:5px;padding-left:16px;font-size:1.4rem;color:#00c600;background:url(../images/marker.png) no-repeat 0 50%;background-size:auto 16px;}
.location-box .hd img{height:16px;margin-right:4px;vertical-align:-2px;}
.location-box .slide-wrap{padding-bottom:20px;-webkit-box-shadow:0 0 20px rgba(0,0,0,.1) inset;box-shadow:0 0 20px rgba(0,0,0,.1) inset;overflow:hidden;}
.location-box .slide-wrap .hd{margin:0;}
.location-box .slide{position:relative;max-width:640px;}
.location-box .slide:after{content:'';display:block;width:100%;padding-top:61%;}
.location-box .slide ul{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;-webkit-transform:translate3d(0px, 0px, 0px);transform:translate3d(0px, 0px, 0px);}
.location-box .slide li{position:absolute;left:0;top:0;width:100%;height:100%;padding:18px 30px 18px 140px;background:url(../images/bg_bus_info.jpg) no-repeat 50%;background-size:90% auto;}
.location-box .slide li:first-child{z-index:1;}
.location-box .slide .avatar{position:absolute;top:46px;left:35px;}
.location-box .slide .avatar img{width:85px;height:85px;-webkit-border-radius:100%;border-radius:100%;}
.location-box .slide .avatar span{display:block;line-height:26px;margin-top:10px;-webkit-border-radius:13px;border-radius:13px;background:#fff;color:#0093ff;text-align:center;}
.location-box .slide .detail{padding-top:20px;color:#fff;overflow:hidden;}
.location-box .slide .detail span{display:block;margin-bottom:8px;font-size:1.6rem;white-space:nowrap;}
.location-box .slide .detail .col{float:left;width:50%;}
.location-box .slide .nav{position:absolute;bottom:-15px;left:0;width:100%;text-align:center;}
.location-box .slide .nav i{display:inline-block;width:10px;height:10px;margin:0 5px;background:#e1e1e1;-webkit-border-radius:5px;border-radius:5px;}
.location-box .slide .nav .current{width:20px;background:#0093ff;}
@media (max-width:320px){
	.location-box .slide li{padding-left:130px;font-size:1.2rem;}
	.location-box .slide .avatar{top:30px;left:25px;}
	.location-box .slide .detail{padding-top:10px;}
	.location-box .slide .detail span{font-size:1.4rem;}
}
.location{padding:40px 10px;background:#fff;overflow:hidden;overflow-x:auto;}
.location ul{width:1000%;overflow:hidden;}
.location li{position:relative;float:left;width:56px;padding:55px 36px 0 0;font-size:1.6rem;vertical-align:top;color:#00acff;text-align:center;}
.location li.current{width:64px;color:#ff9f00;padding-left:2px;font-size:1.8rem;}
.location li.current ~ li{color:#999;}
.location li .arrow{position:absolute;top:30px;left:2px;width:16px;height:16px;background:url(../images/arrow_on.png) no-repeat;background-size:100%;}
.location li.current .arrow{top:26px;width:24px;height:24px;background-image:url(../images/arrow_curr.png);}
.location li.current ~ li .arrow{background-image:url(../images/arrow_off.png);}
.location li:after{content:"";position:absolute;top:38px;left:22px;right:2px;height:1px;background:#00acff;}
.location li.current:after{background:#ccc;left:30px;}
.location li.current:before{content:"";position:absolute;top:0;left:-3px;width:34px;height:19px;background:url(../images/bus.png) no-repeat;background-size:100%;}
.location li.current ~ li:after{background:#ccc;}
.location li:last-child{width:20px;padding-right:0;}
.location li:last-child:after{display:none;}
.departure{margin-top:10px;padding:10px;background:#fff;}
.departure h2{margin-top:0;text-align:center;font-size:1.6rem;}
.departure h2 img{width:16px;margin-right:6px;vertical-align:-4px;}
.departure dl{margin-bottom:-10px;}
.departure dt{color:#999;font-weight:400;}
.departure dt img{height:20px;margin-right:6px;vertical-align:-5px;}
.departure dd{padding:10px;text-align:justify;}
.departure dd span{display:inline-block;width:70px;height:31px;line-height:31px;margin:8px 0;text-align:center;background-repeat:no-repeat;background-size:100% auto;overflow:hidden;vertical-align:top;}
.departure dd span.fix{height:0;}
.departure .time1 span{background-image:url(../images/bg-time1.png);color:#52a772;}
.departure .time2 span{background-image:url(../images/bg-time2.png);color:#eb545d;}


/* 公用表单组件 */
.ui-form .form{padding:0 10px;}
.ui-form .title{line-height:24px;margin:20px 0 0;text-align:center;font-size:2rem;color:#0093ff;}
.ui-form .sub-title{line-height:24px;margin:20px 0 0;text-align:center;font-size:1.6rem;color:#666;}
.ui-form .item{position:relative;margin:20px 0;line-height:44px;font-size:1.6rem;-webkit-box-shadow:0 0 20px rgba(0,0,0,.1);box-shadow:0 0 20px rgba(0,0,0,.1);background:#fff;}
.ui-form .for{position:absolute;top:0;left:10px;color:#999;}
.ui-form .ipt{width:100%;height:44px;line-height:24px;padding:10px 10px 10px 6em;border:none;font-size:1.6rem;background:#fff;color:#333;border:none;}
.ui-form .error{position:absolute;z-index:2;top:108%;left:30px;line-height:20px;padding:5px 10px;color:#fff;background:#0093ff;-webkit-border-radius:3px;border-radius:3px;display:none;}
.ui-form .error:after{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #0093ff;}
.ui-form .ipt-tc{padding:10px;text-align:center;}
.ui-form .ipt-mul{height:100px;vertical-align:top;}
.ui-form .ipt-row{padding:10px;}
.ui-form .select{position:relative;height:44px;line-height:24px;margin-left:6em;padding:10px 10px 10px 0;font-size:1.6rem;background:#fff;color:#333;z-index:2;}
.ui-form .select:before{content:"";position:absolute;top:18px;right:10px;width:13px;height:7px;background:url(../images/arrow_down.png) no-repeat;background-size:100% auto;}
.ui-form .select .hd{padding:0;}
.ui-form .select .bd{position:absolute;top:100%;left:-4em;right:0;background:#fff;display:none;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);border-top:1px solid #ccc;}
.ui-form .select .bd .option{padding:0 10px;line-height:44px;border:1px solid #ccc;border-top:0;}
.ui-form .select .bd .hover{background:#0093ff;color:#fff;}
.ui-form .select-on .hd{-webkit-border-radius:0;border-radius:0;}
.ui-form .select-on .bd{display:block;}


.ui-form .tips{padding:20px 0;text-align:center;color:#999;}

.ui-form2 .floor{margin-bottom:10px;padding:0 9px;background:#fff;}
.ui-form2 .item{position:relative;line-height:54px;border-top:1px solid #e5e5e5;}
.ui-form2 .item:first-child{border-top:0;}
.ui-form2 .item .txt{color:#666;}
.ui-form2 .item .cnt{position:absolute;top:0;right:0;color:#333;}
.ui-form2 .item .cnt .ipt{height:100%;padding:15px 0;line-height:24px;border:none;text-align:right;}
.ui-form2 .item .cnt .arrow{padding-right:15px;}
.ui-form2 .item .cnt .error{position:absolute;z-index:2;top:108%;left:30px;line-height:20px;padding:5px 10px;color:#fff;background:#0093ff;-webkit-border-radius:3px;border-radius:3px;display:none;}
.ui-form2 .item .cnt .error:after{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #0093ff;}
.ui-form2 .item .cnt i{position:absolute;top:0;right:0;}


/* 班车线路 */
.route-box{padding:0;}
.route-box .search{padding-top:6.667%;background:#fff url(../images/bg-search.jpg) no-repeat;background-size:100% auto;}
.route-box .search .item{position:relative;margin:0 30px;}
.route-box .search .ipt{width:100%;height:48px;line-height:18px;padding:14px 10px 14px 40px;border:0;font-size:1.6rem;background:none;}
.route-box .search em{position:absolute;top:15px;left:0;width:21px;height:21px;line-height:21px;font-size:1.2rem;color:#fff;-webkit-border-radius:100%;border-radius:100%;text-align:center;}
.route-box .search .clear{position:absolute;top:15px;right:5px;width:18px;height:18px;background:url(../images/clear.png) no-repeat;background-size:100% auto;display:none;}
/*.route-box .search .ipt:focus + .clear{display:block;}*/
.route-box .search .ipt:valid + .clear{display:block;}
.route-box .search .from{border-bottom:1px solid #e6eef0;}
.route-box .search .from em{background:#00c900;}
.route-box .search .from .ipt{color:#00c900;}
.route-box .search .to em{background:#ff9f00;}
.route-box .search .to .ipt{color:#ff9f00;}
.route-box .slide{position:relative;max-width:640px;padding-top:42.666%;overflow:hidden;}
.route-box .slide ul{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;-webkit-transform:translate3d(0px, 0px, 0px);transform:translate3d(0px, 0px, 0px);}
.route-box .slide li{position:absolute;left:0;top:0;width:100%;height:100%;}
.route-box .slide li:first-child{z-index:1;}
.route-box .slide li img{width:100%;height:auto;}
.route-box .slide .nav{position:absolute;bottom:0;left:0;width:100%;text-align:center;}
.route-box .slide .nav i{display:inline-block;width:10px;height:10px;margin:0 5px;background:#e1e1e1;-webkit-border-radius:5px;border-radius:5px;}
.route-box .slide .nav .current{width:20px;background:#0093ff;}

.ui-list{padding:0 10px;overflow:hidden;}
.ui-list .hd{line-height:38px;font-size:1.6rem;color:#666;}
.ui-list .bd li{position:relative;margin:10px 0;-webkit-transition:-webkit-transform .4s;transition:transform .4s;}

.ui-list .inner{position:relative;padding:5px 80px 10px 30px;background:#fff;-webkit-box-shadow:0 0 20px rgba(0,0,0,.1);box-shadow:0 0 20px rgba(0,0,0,.1);-webkit-border-radius:5px;border-radius:5px;overflow:hidden;}
.ui-list .bd .inner:before{content:"";position:absolute;top:0;left:0;width:11px;height:100%;background:#0093ff;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
.ui-list .fromto{position:relative;height:28px;line-height:26px;padding:1px 0 1px 16px;background:url(../images/metro_4.png) no-repeat;background-size:auto 100%;color:#0093ff;}
.ui-list .fromto i{display:inline-block;width:18px;height:7px;background-repeat:no-repeat;background-size:100% auto;vertical-align:2px;}
.ui-list .fromto b{position:absolute;left:0;bottom:0;width:16px;height:16px;line-height:16px;text-align:center;color:#fff;font-weight:700;-webkit-border-radius:100%;border-radius:100%;}
.ui-list .detail{padding:15px 5px;border-bottom:1px solid #cbdbe0;overflow:hidden;}
.ui-list .detail span{display:inline-block;width:49%;line-height:22px;color:#999;white-space:nowrap;}
.ui-list .bus{margin-top:10px;padding-left:40px;color:#ff9f00;background:url(../images/bus.png) no-repeat 6px 50%;background-size:auto 16px;}
.ui-list .op{position:absolute;right:5px;top:47px;}
.ui-list .op .seat{display:inline-block;padding:30px 10px 0;background:none;border:none;color:#0093ff;background:url(../images/seat.png) no-repeat 50% 0;background-size:auto 27px;}
.ui-list .op .place{display:inline-block;padding:30px 10px 0;background:none;border:none;color:#f75f55;background:url(../images/map.png) no-repeat 50% 0;background-size:auto 27px;}
.ui-list .fav{position:absolute;right:0;top:0;width:50px;height:50px;background:url(../images/fav.png) no-repeat;background-size:50px;}
.ui-list .faved{background-image:url(../images/faved.png);}
.ui-list .fav a{display:block;width:25px;height:25px;margin-left:25px;}
.ui-list .check{position:absolute;right:0;top:50%;width:30px;height:30px;-webkit-transform:translate(50px, -50%);transform:translate(50px, -50%);}
.ui-list li.on{-webkit-transform:translate(-50px, 0);transform:translate(-50px, 0);}


.ui-list .bd .c1 .inner:before{background:#de2d38;}
.ui-list .bd .c2 .inner:before{background:#e6612a;}
.ui-list .bd .c3 .inner:before{background:#04a558;}
.ui-list .bd .c4 .inner:before{background:#0093ff;}
.ui-list .bd .c5 .inner:before{background:#01388e;}
.ui-list .bd .c6 .inner:before{background:#5b3289;}
.ui-list .bd .c7 .inner:before{background:#e82c81;}
.ui-list .bd .c1 .fromto{background-image:url(../images/metro_1.png);color:#de2d38;}
.ui-list .bd .c2 .fromto{background-image:url(../images/metro_2.png);color:#e6612a;}
.ui-list .bd .c3 .fromto{background-image:url(../images/metro_3.png);color:#04a558;}
.ui-list .bd .c4 .fromto{background-image:url(../images/metro_4.png);color:#0093ff;}
.ui-list .bd .c5 .fromto{background-image:url(../images/metro_5.png);color:#01388e;}
.ui-list .bd .c6 .fromto{background-image:url(../images/metro_6.png);color:#5b3289;}
.ui-list .bd .c7 .fromto{background-image:url(../images/metro_7.png);color:#e82c81;}
.ui-list .bd .c1 .fromto i{background-image:url(../images/arrow_1.png);}
.ui-list .bd .c2 .fromto i{background-image:url(../images/arrow_2.png);}
.ui-list .bd .c3 .fromto i{background-image:url(../images/arrow_3.png);}
.ui-list .bd .c4 .fromto i{background-image:url(../images/arrow_4.png);}
.ui-list .bd .c5 .fromto i{background-image:url(../images/arrow_5.png);}
.ui-list .bd .c6 .fromto i{background-image:url(../images/arrow_6.png);}
.ui-list .bd .c7 .fromto i{background-image:url(../images/arrow_7.png);}
.ui-list .bd .c1 .fromto b{background:#de2d38;}
.ui-list .bd .c2 .fromto b{background:#e6612a;}
.ui-list .bd .c3 .fromto b{background:#04a558;}
.ui-list .bd .c4 .fromto b{background:#0093ff;}
.ui-list .bd .c5 .fromto b{background:#01388e;}
.ui-list .bd .c6 .fromto b{background:#5b3289;}
.ui-list .bd .c7 .fromto b{background:#e82c81;}

@media (max-width:320px){
	.ui-list .bd li{font-size:1.2rem;}
	.ui-list .detail{padding:5px;}
	.ui-list .bus{margin-top:5px;}
	.ui-list .op{right:0;}
}


.ui-list2{padding:0 10px;}
.ui-list2 .hd{line-height:38px;font-size:1.6rem;color:#666;}
.ui-list2 .bd li{position:relative;padding:10px;margin-bottom:10px;-webkit-border-radius:5px;border-radius:5px;background:#fff;-webkit-box-shadow:0 0 8px rgba(0,0,0,.2);box-shadow:0 0 8px rgba(0,0,0,.2);overflow:hidden;}
.ui-list2 .bd li .img{width:42.47%;}
.ui-list2 .bd li .img img{width:100%;height:auto;}
.ui-list2 .bd li .txt{position:absolute;left:42.27%;top:15px;padding-left:10px;}
.ui-list2 .bd li .txt em{display:block;height:20px;font-size:1.6rem;color:#666;overflow:hidden;}
.ui-list2 .bd li .txt img{display:block;width:37px;height:20px;margin:10px 0;}
.ui-list2 .bd li .txt .ubtn{width:90px;height:30px;line-height:30px;-webkit-border-radius:15px;border-radius:15px;font-size:1.4rem;}

.ui-list3{padding:1px;overflow:hidden;}
.ui-list3 li{position:relative;margin:10px;padding-top:34.8%;color:#999;background:no-repeat;background-size:100% auto;-webkit-transition:all .4s;transition:all .4s;}
.ui-list3 .c1{background-image:url(../images/32.png);}
.ui-list3 .c2{background-image:url(../images/33.png);}
.ui-list3 .inner{position:absolute;top:50%;left:0;width:100%;padding-left:14%;-webkit-transform:translate(0, -50%);transform:translate(0, -50%);}
.ui-list3 .fromto{height:28px;line-height:26px;color:#666;}
.ui-list3 .fromto i{display:inline-block;width:23px;height:7px;margin:0 4px;background:url(../images/f/12.png) no-repeat;background-size:100% auto;vertical-align:2px;}
.ui-list3 .detail{padding-right:40px;font-size:1.3rem;overflow:hidden;}
.ui-list3 .detail span{display:inline-block;width:48%;line-height:22px;color:#999;white-space:nowrap;overflow:hidden;}
.ui-list3 .check{position:absolute;right:0;top:50%;width:30px;height:30px;-webkit-transform:translate(50px, -50%);transform:translate(50px, -50%);}
.ui-list3 .cat{position:absolute;left:4%;top:50%;width:20px;color:#fff;-webkit-transform:translate(0, -50%);transform:translate(0, -50%);}
.ui-list3 li.on{-webkit-transform:translate(-50px, 0);transform:translate(-50px, 0);}

.ui-hd{line-height:44px;padding:0 10px;}


.seat-box{position:relative;}
.seat-box .form{padding:0 0 200px;}
.seat-box .item{margin:0;padding:0 10px;}
.seat-box .item label{margin-right:24px;}


.ticket-box{margin-top:10px;}
.ticket-box .notice{line-height:24px;margin-bottom:10px;text-align:center;color:#fc6c36;}
.ticket{position:relative;margin:0 15px;padding-bottom:80px;background:#fff url(../images/line_btm.png) no-repeat 0 100%;background-size:100% auto;}
.ticket .fromto{height:50px;line-height:50px;font-size:1.6rem;background:#fcb036;color:#fff;text-align:center;overflow:hidden;}
.ticket .fromto img{width:46px;margin:0 14px;vertical-align:3px;}
.ticket .number{padding:15px 0;text-align:center;color:#666;font-weight:700;font-size:3rem;}
.ticket .time{padding:15px 0;text-align:center;font-size:1.6rem;}
.ticket p{margin:0 50px;line-height:47px;border-bottom:1px solid #dfdfdf;}
.ticket .space img{width:100%;}
.ticket .button{position:absolute;bottom:25px;left:0;width:100%;padding:0;text-align:center;}
.ticket .button .ubtn{width:125px;line-height:40px;}
@media (max-width:320px){
	.ticket p{margin:0 30px;}
}
.ticket-state6 .fromto{background:#c4c4c4;}

/* 状态 */
.state{position:absolute;width:42px;height:42px;right:0;bottom:0;text-indent:-99em;background-repeat:no-repeat;background-size:100%;overflow:hidden;}
.state1{background-image:url(../images/state_1.png);}
.state2{background-image:url(../images/state_2.png);}
.state3{background-image:url(../images/state_3.png);}
.state4{background-image:url(../images/state_4.png);}
.state5{background-image:url(../images/state_5.png);}
.state6{background-image:url(../images/state_6.png);}

/* 消息提示 */
.message{padding-top:50px;text-align:center;}
.message em{display:block;margin:20px 0 100px;}


/* citys */
.citys{}
.citys dl{margin:0;}
.citys dt{line-height:30px;padding:0 15px;font-weight:400;text-transform:uppercase;}
.citys dd{line-height:44px;padding:0 10px;margin-top:1px;background:#fff;}
.citys dd a{display:block;}
.elevator{position:fixed;top:55px;right:0;font-size:1.6rem;}
.elevator li{line-height:1.2;text-transform:uppercase;text-align:center;}
.elevator li a{display:block;padding:0 9px;}
.elevator li.current a{color:#0093ff;}
@media (max-width:320px){
	.elevator{font-size:1.4rem;}
}


.picktime{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);display:none;}
.picktime .main{position:absolute;bottom:0;left:0;width:100%;height:280px;background:#fff;}
.picktime .main .hd{position:relative;line-height:46px;background:#0093ff;}
.picktime .main .hd .title{line-height:50px;font-size:1.6rem;color:#fff;text-align:center;}
.picktime .main .hd .left{position:absolute;top:0;left:0;}
.picktime .main .hd .right{position:absolute;top:0;right:0;}
.picktime .main .hd .btn{width:50px;height:50px;background:none;border:none;color:#fff;vertical-align:top;}
.picktime .main .bd{padding-top:40px;overflow:hidden;}
.picktime .main .bd .scroller{float:left;width:25%;height:120px;list-style:none;vertical-align:top;overflow:hidden;}
.picktime .main .bd li{display:block;line-height:30px;color:#ccc;font-size:1.6rem;}
.picktime .main .bd li em{display:block;padding:0 10px;font-style:normal;}
.picktime .main .bd .date{width:50%;text-align:center;}
.picktime .main .bd .hours{text-align:right;}
.picktime .main .bd .minute{text-align:left;}
.picktime .main .bd .curr{color:#333;}
.slideInUp{animation:slideInUp .3s ease-in;-webkit-animation:slideInUp .3s ease-in}
@-webkit-keyframes slideInUp{
	from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
	to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}


/* 用户中心 */
.user-box{}
.user-box .inner{position:absolute;top:24px;left:0;width:100%;text-align:center;}
.user-box .info{position:relative;padding-top:46.666%;background:url(../images/f/bg_center.jpg) no-repeat;background-size:100% auto;}
.user-box .info em{display:block;margin-top:10px;color:#fff;}
.user-box .info a{color:#fff;}
.user-box .info img{width:60px;height:60px;-webkit-border-radius:30px;border-radius:30px;}
.user-box .list{}
.user-box .list .floor{margin-bottom:10px;background:#fff;}
.user-box .list .item{position:relative;padding-left:40px;line-height:54px;font-size:1.6rem;}
.user-box .list .item a{display:block;border-top:1px solid #e5e5e5;}
.user-box .list .item a:active{outline:0;text-decoration:none;
  -webkit-box-shadow:inset 0 0 100px rgba(0,0,0,0.4);
          box-shadow:inset 0 0 100px rgba(0,0,0,0.4);}
.user-box .list .item:first-child a{border-top:0;color:#333;}
.user-box .list .item img{position:absolute;top:50%;left:10px;width:20px;height:auto;-webkit-transform:translate(0, -50%);transform:translate(0, -50%);}
.user-box .list .item i{position:absolute;top:23px;right:10px;width:7px;height:13px;background:url(../images/f/arrow.png) no-repeat;background-size:100% auto;}


/* 订单信息 */
.order-box{margin-top:20px;}
.box-info{position:relative;margin:0 15px;padding:10px;color:#666;background:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);}
.box-info:before{content:"";position:absolute;top:-7px;left:-10px;right:-10px;z-index:-1;height:14px;background:#cdccd2;-webkit-border-radius:10px;border-radius:10px;}
.box-info:after{content:"";position:absolute;top:0;left:0;right:0;height:13px;background:url(../images/f/25.png) repeat-x;background-size:auto 100%;}
.box-info .hd{padding:10px 5px;border-bottom:1px solid #ccc;}
.box-info .hd em{margin-right:10px;font-size:1.6rem;font-weight:700;color:#fcb036;}
.box-info .hd .state5{color:#ef6d6d;}
.box-info .hd .state6{color:#999;}
.box-info .fromto{padding:24px 5px 10px;font-weight:700;font-size:1.6rem;}
.box-info .fromto i{display:inline-block;width:23px;height:7px;margin:0 4px;background:url(../images/f/12.png) no-repeat;background-size:100% auto;vertical-align:2px;}
.box-info .fromto .goback{height:14px;background-image:url(../images/f/13.png);}
.box-info dl{margin:0;padding:5px;}
.box-info dl dt{line-height:2.8rem;font-weight:400;}
.box-info dl dd{position:relative;line-height:2.4rem;padding-left:5em;}
.box-info dl dd.extra{padding:0 40px;}
.box-info dl span{position:absolute;top:0;left:0;color:#999;}
.box-info .ft{position:absolute;left:0;bottom:-4px;right:0;height:10px;background:url(../images/f/16.png) no-repeat 0 100%;background-size:100% auto;}
.box-info .state{bottom:-2px;}
.box-info .item{position:relative;text-align:right;}
.box-info .price{margin:10px 0;text-align:center;font-size:3rem;color:#0093ff;}
.box-info .blue span{color:#35aaff;}
.box-info .select{position:relative;margin:10px 0;height:32px;line-height:30px;color:#999;z-index:2;}
.box-info .select:before{content:"";position:absolute;top:12px;right:10px;width:13px;height:7px;background:url(../images/arrow_down.png) no-repeat;background-size:100% auto;}
.box-info .select .hd{padding:0 10px;border:1px solid #979797;-webkit-border-radius:5px;border-radius:5px;-webkit-transition:all .3s;transition:all .3s;}
.box-info .select .bd{position:absolute;top:32px;left:0;width:100%;background:#fff;display:none;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);}
.box-info .select .bd .option{padding:0 10px;border:1px solid #ccc;border-top:0;}
.box-info .select .bd .hover{background:#0093ff;color:#fff;}
.box-info .select-on .hd{-webkit-border-radius:0;border-radius:0;}
.box-info .select-on .bd{display:block;}
.box-info .detail{text-align:center;}
.box-info .detail .date{padding-bottom:10px;color:#999;}
.box-info .detail .fromto,
.box-info .detail .time,
.box-info .detail .date{clear:both;overflow:hidden;}
.box-info .detail em{float:left;width:50%;}
.box-info .detail .fromto{position:relative;}
.box-info .detail .fromto i{position:absolute;top:28px;left:50%;margin-left:-11px;}
.box-info .detail .bus{padding:10px 0;}
.box-info .detail .bus b{display:block;padding-bottom:10px;font-weight:400;}
.box-info .detail .bus span{white-space:nowrap;}
.box-info .detail .qrcode{padding:0 0 30px;text-align:center;}
.box-info .detail .qrcode img{width:56%;height:auto;}
.box-info .detail .qrcode span{display:block;margin-top:10px;font-size:1.6rem;color:#0093ff;}
.box-info .detail .button{padding:20px 0;color:#999;}
.box-info .detail .button .ubtn{width:38.76%;line-height:36px;margin:0 8px 20px;-webkit-border-radius:18px;border-radius:18px;}
.box-info .detail .item{line-height:30px;margin:0 7px;padding-left:5em;}
.box-info .detail .item .txt{position:absolute;top:0;left:0;color:#666;}
.box-info .detail .item .cnt{color:#333;}
.box-info .detail .item .cnt .ipt{height:30px;padding:3px 0;line-height:24px;border:none;text-align:right;}
.box-info .detail .item .cnt .mul{width:100%;height:75px;padding:3px 5px;line-height:18px;border:1px solid #999;-webkit-border-radius:3px;border-radius:3px;}
.box-info .detail .item .cnt .arrow{padding-right:15px;}
.box-info .detail .item .cnt .error{position:absolute;z-index:2;top:108%;left:30px;line-height:20px;padding:5px 10px;color:#fff;background:#0093ff;-webkit-border-radius:3px;border-radius:3px;display:none;}
.box-info .detail .item .cnt .error:after{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #0093ff;}
.box-info .detail .item .cnt i{position:absolute;top:0;right:0;}
.box-tips{padding:50px 15px 0;}
.box-tips a{color:#0093ff;text-decoration:underline;}
.box-tips dl{line-height:24px;padding:0 15px;}
.box-tips dd{color:#999;}


.share-guide{position:relative;margin:-50px 0 -5px;text-align:right;}
.share-guide:after{display:inline-block;width:34.666%;margin-right:20px;padding-top:25.4%;background:url(../images/f/share_guide.png) no-repeat;background-size:100% auto;content:"";vertical-align:top;}
.share-tips{margin:-20px 18% 30px;height:0;padding-top:14.11%;background:url(../images/f/share_tips.png) no-repeat;background-size:100% auto;overflow:hidden;}

/* 自定义弹出层 */
.popup .layui-m-layercont{padding:20px 24px;}
.popup .hd{margin-bottom:10px;font-size:1.8rem;}
.popup .hd-s{color:#999;}
.popup .bd{margin-top:20px;text-align:left;}
.popup .bd dl{position:relative;padding-left:5em;}
.popup .bd dt{position:absolute;top:0;left:0;line-height:28px;color:#666;font-weight:400;}
.popup .bd dd{margin-bottom:10px;}
.popup .rule{text-align:left;}
.popup .rule dl{line-height:24px;font-size:1.3rem;overflow:hidden;}
.popup .rule dt{float:left;width:60px;color:#999;}
.popup .rule dd{margin-left:66px;min-height:24px;}
.popup .rule p{margin:0;}
.popup .input{margin:15px 0 5px;text-align:center;}
.popup .input .ipt{width:75%;height:18px;padding:12px 5px;line-height:18px;border:1px solid #999;-webkit-border-radius:3px;border-radius:3px;}

/* 评分 */
.star{display:inline-block;}
.star i{display:inline-block;width:24px;height:24px;margin-right:6px;vertical-align:top;background:url(../images/f/star.png) no-repeat;background-size:100% auto;}
.star i.on{background-image:url(../images/f/star_on.png);}

.coupons-list{padding:20px 0;color:#999;}
.coupons-list li{position:relative;padding:0px;padding-top:35.733%;background:no-repeat;background-size:100% auto;-webkit-transition:all .4s;transition:all .4s;}
.coupons-list .c1{background-image:url(../images/37.png);color:#0093ff;}
.coupons-list .c2{background-image:url(../images/38.png);color:#ff9f00;}
.coupons-list .hd{left:0;width:34.65%;padding-left:10px;text-align:center;}
.coupons-list .hd em{font-size:4rem;line-height:1;}
.coupons-list .hd sub{font-size:1.4rem;bottom:0;}
.coupons-list .bd{left:43.33%;}
.coupons-list .bd h4{margin:0 0 10px;font-size:1.8rem;}
.coupons-list .bd p{margin:0 0 6px;color:#999;}
.coupons-list .hd,
.coupons-list .bd{position:absolute;top:50%;-webkit-transform:translate(0, -50%);transform:translate(0, -50%);}
.coupons-list .result{padding-top:30px;text-align:center;}

.chat{padding:30px 10px;}
.chat li{position:relative;min-height:50px;margin-bottom:20px;padding:0 40px 0 55px;}
.chat .avatar{position:absolute;top:0;left:0;width:40px;height:40px;overflow:hidden;}
.chat .avatar img{width:100%;height:100%;vertical-align:top;}
.chat .msg{position:relative;line-height:20px;padding:10px;border:1px solid #ddd;background:#fff;border:1px solid #d1d1d1;-webkit-border-radius:5px;border-radius:5px;color:#333;}
.chat .msg:before{content:"";position:absolute;top:13px;left:-10px;width:10px;height:12px;background:url(../images/char_arrow_left.png) no-repeat;background-size:100% auto;}
.chat .user{padding:0 55px 0 40px;}
.chat .user .avatar{left:auto;right:0;}
.chat .user .msg:before{left:auto;right:-10px;background-image:url(../images/char_arrow_right.png);}
.artcile{padding:15px;}
.artcile .title{margin:0;font-size:2rem;}
.artcile .date{margin:10px 0;color:#999;font-size:1.2rem;}
.artcile .date span{margin-right:10px;}
.artcile p{line-height:20px;margin:0;}
.artcile .pic{margin:10px 0;text-align:center;}
.artcile .pic img{max-width:100%;}
.artcile .apply{margin:30px 0;text-align:center;}
.artcile .apply a{color:#0093ff;text-decoration:underline;}