.mbsc-sc-whl-gr-c{width:100%;}
.mbsc-ios .mbsc-fr-overlay{background:rgba(0,0,0,.2);filter:Alpha(Opacity=20);}
.mbsc-ios .mbsc-fr-w{position:relative;background:#f7f7f7;padding-top:46px;}
.mbsc-ios .mbsc-fr-hdr{position:absolute;top:0;left:0;width:100%;line-height:46px;color:#fff;font-size:1.6rem;text-align:center;z-index:2;}
.mbsc-ios .mbsc-fr-btn-cont{position:absolute;top:0;left:0;width:100%;height:46px;background:#0093ff;}
.mbsc-ios .mbsc-fr-btn{width:56px;line-height:46px;color:#fff;font-size:1.4rem;}
.mbsc-ios .mbsc-fr-btn-a{opacity:.8;}
.mbsc-ios .mbsc-fr-btn-w{display:block;float:right;}
.mbsc-ios .mbsc-fr-btn-c{float:left;}

.mbsc-sc-whl-w:nth-child(1){max-width:50%;-webkit-box-flex:2;-webkit-flex:2 auto;-ms-flex:2 auto;flex:2 auto;}
.mbsc-sc-whl-w:nth-child(2){max-width:25%;text-align:right;padding-right:18px;}
.mbsc-sc-whl-w:nth-child(3){max-width:25%;text-align:left;padding-left:8px;}
.mbsc-sc-whl-w:nth-child(2) .mbsc-sc-whl-l:after{content:":";display:block;padding:5px 14px 0 0;font-size:1.6rem;font-weight:700;}

/* Bubble arrow */
.mbsc-ios .mbsc-fr-bubble-bottom .mbsc-fr-arr{border-color:transparent transparent #f7f7f7 transparent;}
.mbsc-ios .mbsc-fr-bubble-top .mbsc-fr-arr{border-color:#f7f7f7 transparent transparent transparent;}
.mbsc-ios.mbsc-fr-bubble .mbsc-fr-w{border-radius:8px;}

/* Inline display */
.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w{padding-top:0;}


.mbsc-ios .mbsc-sc-lbl{color:#ababab;line-height:2.5em;}
.mbsc-ios .mbsc-sc-whl-gr{padding:.833333em;}
.mbsc-ios .mbsc-sc-lbl-v{padding-top:2.5em;}
.mbsc-ios .mbsc-sc-whl-l{margin:0 -.833333em;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}
.mbsc-ios .mbsc-sc-whl-o{background:-webkit-gradient(linear,left bottom,left top,from(#f7f7f7),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#f7f7f7));background:-webkit-linear-gradient(#f7f7f7,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f7f7f7);background:linear-gradient(#f7f7f7,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f7f7f7);}
.mbsc-ios .mbsc-sc-itm{color:#999;font-size:1.6rem;}
.mbsc-ios .mbsc-sc-itm.mbsc-btn-a{background:rgba(0,122,255,.2);}
.mbsc-ios .mbsc-sc-itm-sel{color:#000;font-size:1.8rem;}

/* Clickpick mode */
.mbsc-ios .mbsc-sc-cp .mbsc-sc-whl .mbsc-sc-itm{text-align:center;}
.mbsc-ios .mbsc-sc-btn{color:#007aff;background:#f7f7f7;}
.mbsc-ios .mbsc-sc-btn:before{font-size:2em;}
.mbsc-ios .mbsc-sc-btn-a:before{opacity:.5;}

/* Multiple select */
.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-whl-o{display:none;}
.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-itm{padding:0 1.818181em;color:#000;}
.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-itm-sel{color:#007aff;}
.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before{font-size:1.818181em;}

/* Group select */
.mbsc-ios .mbsc-sc-whl .mbsc-sel-gr{padding-left:.277777em;color:#9d9d9d;font-weight:normal;font-size:1.222222em;}
.mbsc-ios.mbsc-sel-gr-whl .mbsc-sc-whl-multi{padding-left:1.66666em;}

/* Date & Time */
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align:left;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm,.mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm,.mbsc-ios .mbsc-dt-whl-i .mbsc-sc-itm,.mbsc-ios .mbsc-dt-whl-s .mbsc-sc-itm{text-align:right;}

