.btn-navy { background-color: #001f3f; }
.btn-blue { background-color: #0074d9; }
.btn-aqua { background-color: #7fdbff; }
.btn-teal { background-color: #39cccc; }
.btn-olive { background-color: #3d9970; }
.btn-green { background-color: #2ecc40; }
.btn-lime { background-color: #01ff70; }
.btn-yellow { background-color: #ffdc00; }
.btn-orange { background-color: #ff851b; }
.btn-red { background-color: #ff4136; }
.btn-fuchsia { background-color: #f012be; }
.btn-purple { background-color: #b10dc9; }
.btn-maroon { background-color: #85144b; }
.btn-white { background-color: #ffffff; }
.btn-gray { background-color: #aaaaaa; }
.btn-silver { background-color: #dddddd; }
.btn-black { background-color: #111111; }

.bg-navy { background-color: #001f3f; }
.bg-blue { background-color: #0074d9; }
.bg-aqua { background-color: #7fdbff; }
.bg-teal { background-color: #39cccc; }
.bg-olive { background-color: #3d9970; }
.bg-green { background-color: #2ecc40; }
.bg-lime { background-color: #01ff70; }
.bg-yellow { background-color: #ffdc00; }
.bg-orange { background-color: #ff851b; }
.bg-red { background-color: #ff4136; }
.bg-fuchsia { background-color: #f012be; }
.bg-purple { background-color: #b10dc9; }
.bg-maroon { background-color: #85144b; }
.bg-white { background-color: #ffffff; }
.bg-gray { background-color: #aaaaaa; }
.bg-silver { background-color: #dddddd; }
.bg-black { background-color: #111111; }