html,body{height:100%;color:#6f6f6f;overflow:hidden;}
body{background:#d3e9f5;}
*{
	-moz-box-sizing: border-box;  
 -webkit-box-sizing: border-box; 
	  -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	     box-sizing: border-box;
}

.input,.ubtn{display:block;width:100%;height:40px;}
.login-box{position:absolute;z-index:1;top:50%;left:50%;width:900px;height:540px;margin:-270px 0 0 -450px;background:#fff;box-shadow:0 0 20px 5px rgba(68,138,202, 0.3);}
.login-box .banner{position:absolute;top:0;left:0;bottom:0;width:296px;box-shadow:0 0 20px 5px rgba(68,138,202, 0.3);overflow:hidden;}
.login-box .banner img{height:100%;width:auto;}
.login-box .form{position:absolute;top:0;right:120px;bottom:0;width:360px;text-align:center;}
.login-box .logo{padding:30px 0 10px;text-align:center;}
.login-box .title{width:100%;height:80px;overflow:hidden;border-bottom:1px solid #ddd;}
.login-box .input{margin-bottom:20px;padding:10px 7px 10px 34px;border:1px solid #ddd;border-radius:3px;background:#fff url(../images/ico-login.png) no-repeat -30px 0;transition:border .1s;}
.login-box .input:focus{box-shadow:0 0 5px rgba(29,157,255, 0.54);border-color:#1d9dff;}
.login-box .user{background-position:0 3px;}
.login-box .lock{background-position:0 -33px;}
.login-box .msg{height:70px;line-height:70px;color:#f00;text-align:center;}
.login-box .ubtn{margin-top:46px;font-size:16px;background:#3980C1;color:#fff;border:0;box-shadow:0 1px 2px rgba(0,0,0,0.4);}
.login-box .ubtn:hover{background:#316CA7;}
.login-box .copy{position:absolute;left:0;right:0;top:100%;color:#666;text-align:center;}


/* footer */
.footer{position:absolute;bottom:8px;right:30px;left:30px;font-size:14px;text-align:center;}

@media(min-height:660px) {
	.input,.ubtn{height:50px;}
	.login-box{width:1050px;height:730px;margin:-365px 0 0 -525px;}
	.login-box .banner{width:420px;}
	.login-box .form{width:420px;right:100px;}
	.login-box .logo{padding-top:70px;}
	.login-box .title{font-size:30px;}
	.login-box .input{height:50px;padding:15px 7px 15px 34px;}
	.login-box .user{background-position:0 7px;}
	.login-box .lock{background-position:0 -28px;}
}