.order-nav {
    overflow: hidden;
}

.order-nav ul {
    margin-left: 1px;
}

.order-nav li {
    float: left;
    width: 106px;
    padding-left: 104px;
    text-align: center;
    background: url(../images/uc_bg.png) no-repeat -125px -148px;
    color: #666;
    overflow: hidden;
}

.order-nav span {
    display: block;
    margin: 0 -16px 0 -104px;
    padding: 5px 16px 5px 104px;
    background-color: #fff;
    color: #777;
}

.order-nav em {
    display: block;
    font: 14px/41px "Microsoft YaHei";
}

.order-nav .nav1 {
    padding-left: 16px;
}

.order-nav .nav5 {
    padding-right: 16px;
}

.order-nav-1 .nav1,
.order-nav-2 .nav1,
.order-nav-3 .nav1,
.order-nav-4 .nav1,
.order-nav-5 .nav1 {
    background-position: 0 -97px;
    color: #fff;
}

.order-nav-2 .nav2,
.order-nav-3 .nav2,
.order-nav-3 .nav3,
.order-nav-4 .nav2,
.order-nav-4 .nav3,
.order-nav-4 .nav4,
.order-nav-5 li {
    background-position: -125px -97px;
    color: #fff;
}



.order-process{padding:0;overflow:hidden;*zoom:1;}
.order-process li{position:relative;float:left;width:25%;padding-top:38px;}
.order-process .nav1{width:124px;}
.order-process .nav2{width:273px;}
.order-process .nav3{width:273px;}
.order-process .nav4{width:309px;}

.order-process .node{position:absolute;top:0;right:0;width:88px;height:88px;background:url(../images/uc_bg.png) no-repeat -412px -357px;}
.order-process .nav4 .node{right:38px;}
.order-process-1 .nav1 .node{background-position:-412px -0px;}
.order-process-2 .nav2 .node{background-position:-412px -89px;}
.order-process-3 .nav3 .node{background-position:-412px -178px;}
.order-process-2 .nav1 .node,
.order-process-3 .nav1 .node,
.order-process-3 .nav2 .node,
.order-process-4 .node{background-position:-412px -436px;}
.order-process-4 .nav4 .node{background-position:-412px -267px;}

.order-process .bar{display:block;height:11px;background:url(../images/uc_bg.png) no-repeat -80px -367px;}
.order-process .nav1 .bar{background-position:-4px -378px;}
.order-process .nav4 .bar{background-position:-52px -367px;}
.order-process-2 .nav2 .bar,
.order-process-3 .nav2 .bar,
.order-process-3 .nav3 .bar,
.order-process-4 .nav2 .bar,
.order-process-4 .nav3 .bar{background-position:-10px -378px;}
.order-process-4 .nav4 .bar{background-position:-52px -378px;}

.order-process li span{display:block;width:88px;padding:44px 0 0 185px;text-align:center;font-size:14px;font-family:"Microsoft YaHei";}
.order-process .nav1 span{padding-left:36px;}
.order-process-1 .nav1 span,
.order-process-2 .nav1 span,
.order-process-2 .nav2 span,
.order-process-3 .nav1 span,
.order-process-3 .nav2 span,
.order-process-3 .nav3 span,
.order-process-4 span{color:#f34747;}