@charset "UTF-8";
*{box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;}
body{color:#333;-webkit-font-smoothing:antialiased;-webkit-backface-visibility:hidden;background-color:#fff}
body,button,input,select,textarea{font:14px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","simsun",sans-serif}
body,button,dd,dl,h1,h2,h3,h4,h5,h6,input,ol,p,ul{margin:0}
input,ol,th,ul{padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
ol,ul{list-style:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{color:#333;text-decoration:none}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
em,i{font-style:normal;}
textarea{outline:0}
img{border:none;vertical-align:top;}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;margin:0}
button,input{border:none;outline:0}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
textarea{overflow:auto;resize:none}
table{border-collapse:collapse;border-spacing:0;width:100%}
td,th{vertical-align:middle}

.hide{display:none!important;}
.tc{text-align:center;}
.tr{text-align:right;}

/* page */
.page{padding:10px 0;text-align:right;}
.page .el-pagination{padding:0;}

.fu-filter{position:relative;}
.fu-filter .abs{position:absolute;top:0;right:0;}

.fu-form{position:relative;padding-top:20px;}
.fu-form .el-textarea,
.fu-form .el-input{width:400px;}
.fu-form .title{font-size:18px;margin:0 0 15px 0;display:none;}
.fu-form .percent:after{content:'%';position:absolute;top:0;right:5px;}
.fu-form .group{margin-bottom:10px;}
.fu-form .group .el-input{width:100px;margin-right:10px;}
.fu-form .group .w2{width:187px;}
.fu-form .group .w3{width:450px;}
.el-form-item.is-required .el-form-item__label:before{content:'*';color:#f56c6c;margin-right:4px;}

.el-menu .icon{font-size:20px;font-weight:700;margin-right:10px;}

.wrapper{position:absolute!important;top:0;left:0;right:0;bottom:0;}
.wrapper .header{height:60px;line-height:60px;background:#20a0ff;color:#fff;}
.wrapper .user{position:absolute;top:0;right:0;text-align:right;padding-right:35px;}
.wrapper .user .hd{color:#fff;}
.wrapper .user .cname{position:relative;display:inline-block;background:#7bd59f;color:#fff;width:30px;height:30px;line-height:30px;margin-right:10px;text-align:center;border-radius:50%;}
.wrapper .logo{width:230px;height:60px;font-size:22px;padding:0 20px 0 60px;border-right:1px solid #eee;background:url('../static/images/logo.png') no-repeat 20px 50%;}
.wrapper .main{position:absolute;top:60px;bottom:0;left:0;right:0;overflow:hidden;}
.wrapper .sidebar{width:230px;position:absolute;top:0;left:0;bottom:0;}
.wrapper .el-menu{height:100%;}
.wrapper .item{position:relative;}
.wrapper .submenu{position:absolute;top:0px;left:60px;z-index:99999;height:auto;display:none;}
.wrapper .content-container{position:absolute;top:0;left:230px;right:0;bottom:0;overflow-y:scroll;padding:20px;}
.wrapper .breadcrumb{margin-bottom:22px;}




.fu-upload{padding-bottom:22px;overflow:hidden;}
.fu-upload .file{float:left;margin-right:20px;}
.fu-upload .el-upload{position:relative;width:200px;height:150px;border:1px dashed #c0ccda;background:#fbfdff;border-radius:6px;vertical-align:top;overflow:hidden;}
.fu-upload .el-upload:hover{border-color:#20a0ff;color:#20a0ff;}
.fu-upload .img{width:100%;height:100%;display:block;vertical-align:top;}
.fu-upload .tips{position:absolute;bottom:0;left:-1px;right:-1px;padding:5px;line-height:18px;background:rgba(0,0,0,.4);color:#fff;}
.fu-upload .el-icon-plus{font-size:28px;color:#8c939d;line-height:150px;}
.el-upload-list__item-status-label{display:none!important;}

.fu-upload-circle{}
.fu-upload-circle .el-upload{width:120px;height:120px;border:1px dashed #d9d9d9;border-radius:50%;cursor:pointer;position:relative;overflow:hidden;}
.fu-upload-circle .plus{font-size:28px;color:#8c939d;line-height:120px;}
.fu-upload-circle .img{width:100%;height:100%;border-radius:50%;}

.fu-tooltip{background-color:#409EFF;color:#fff;padding:5px;}


/* nav */
.sidebar .el-submenu .el-menu-item{height:40px;line-height:40px;}
.sidebar .el-menu-item.is-active{background-color:#e6f7ff;}


.fu-dialog .el-dialog__header{padding:16px 24px;border-bottom:1px solid #e8e8e8;}
.fu-dialog .el-dialog__body{padding:24px 40px;}
.fu-dialog .el-dialog__title{font-size:16px;}
/*.fu-dialog .el-dialog{padding:0 40px;}*/
.fu-dialog .buttons{text-align:right;}
