::-ms-clear,::-ms-reveal{display:none;}
html,body{height:100%;color:#fff;}
body{background:url(../images/bg.jpg) no-repeat 50% 50%;background-size:cover;}
*{
	-moz-box-sizing: border-box;  
 -webkit-box-sizing: border-box; 
	  -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	     box-sizing: border-box;
}

.login-box{position:absolute;z-index:1;top:50%;left:50%;width:440px;height:360px;margin:-100px 0 0 -230px;}
.login-box .mask1{position:absolute;top:15px;left:15px;right:15px;bottom:15px;background:#fff;opacity:0.40;filter:alpha(opacity=40);}
.login-box .mask2{position:absolute;top:-15px;left:-30px;right:-30px;bottom:-15px;border:1px solid #fff;background:#0050a0;opacity:0.40;filter:alpha(opacity=40);border:1px solid #fff;}
.login-box .h1{position:absolute;bottom:100%;left:-150px;right:-150px;padding:130px 0 30px;text-align:center;background:url(../images/logo2.png) no-repeat 50% 0;}
.login-box .h1 span{display:block;line-height:30px;font-size:30px;}
.login-box .h1 em{display:block;font-size:14px;}
.login-box .myform{position:relative;z-index:2;padding:0 50px;background:url(../images/login-box.png) no-repeat;background:none;}
.login-box .title{line-height:75px;padding-top:15px;font-size:30px;color:#fff;text-align:center;}
.login-box .group{position:relative;z-index:1;margin-bottom:24px;}
.login-box .input{width:100%;height:50px;padding:7px 7px 7px 70px;border:0;background:#fff;vertical-align:top;border:1px solid #ddd;}
.login-box .ico{position:absolute;top:0;left:0;bottom:0;width:50px;height:auto;background:url(../images/ico-login.png) no-repeat -30px 0;border-right:1px solid #ddd;}
.login-box .clear-btn{position:absolute;top:0;right:0;bottom:0;left:auto;width:50px;cursor:pointer;display:none;background-position:-100px 0;}
.login-box .clear-btn:hover{background-position:-100px -50px;}
.login-box .user{background-position:0 0;background-color:#e2e2e2;}
.login-box .lock{background-position:-50px 0;background-color:#e2e2e2;}
.login-box .active .user{background-position:0 -50px;}
.login-box .active .lock{background-position:-50px -50px;}
.login-box .button{margin-top:30px;}
.login-box .ubtn{width:100%;height:50px;font-size:16px;}
.login-box .error{height:48px;line-height:48px;color:#ff0;}
.copy{position:absolute;top:100%;left:0;right:0;padding-top:30px;text-align:center;}


@media(min-height:660px) {
    .login-box .mask1{position:absolute;top:0;left:0;right:0;bottom:0;}
    .login-box .mask2{position:absolute;top:-60px;left:-100px;right:-100px;bottom:-60px;}
    .login-box .h1{padding:130px 0 80px;}
    .login-box .h1 span{display:block;line-height:50px;font-size:48px;}
    .login-box .h1 em{display:block;font-size:18px;}

    .login-box .title{line-height:100px;padding-top:0;color:#fff;text-align:center;}
    .copy{padding-top:80px;}
}