h3{font-weight:700;}

.section{position:relative;width:100%;background:#fff no-repeat 50% 0;}
.sec1{background-image:url(../images/combo/page1.jpg);height:950px;}
.sec2{background-image:url(../images/combo/page2.jpg);height:770px;}
.sec3{background-image:url(../images/combo/page3.jpg);height:3470px;}
.sec4{background-image:url(../images/combo/page4.jpg);height:800px;}
.sec5{background:#ffba00;padding-bottom:110px;}
.sec6{background-image:url(../images/combo/page6.jpg);height:610px;}
.sec7{background:#ffba00;}

.sec3 .combo{width:1276px;margin:0 auto;padding-top:66px;background:url(../images/combo/combo_bg.png) no-repeat;}
.sec3 .combo ul{border:5px solid #fff;padding:55px 72px;}
.sec3 .combo li{position:relative;height:860px;margin-bottom:35px;border-radius:5px;overflow:hidden;}
.sec3 .combo li a{position:absolute;bottom:18px;left:439px;width:200px;height:59px;}
.sec3 .text{width:900px;margin:0 auto;padding-top:100px;font-size:30px;}

.sec5 .style{width:1188px;padding:20px 0 50px;margin:0 auto;overflow:hidden;}
.sec5 .style li{float:left;width:350px;height:490px;margin:8px;padding:15px;background:#fff;}
.sec5 .style h3{margin:18px 0 22px;font-size:30px;text-align:center;line-height:1.2;}
.sec5 .style h3 em{display:block;font-size:14px;text-transform:uppercase;}
.sec5 .style .img{width:350px;height:232px;}
.sec5 .style .desc{padding:0 15px;font-size:18px;}

.sec6 .text{width:960px;margin:0 auto;padding-top:230px;font-size:24px;}
.sec7{}
.sec7 .partner{width:1290px;padding:20px 0 50px;margin:0 auto;overflow:hidden;}
.sec7 .partner ul{border:1px solid #fff;overflow:hidden;}
.sec7 .partner li{float:left;width:290px;padding:0 15px 15px;border:1px solid #fff;}
.sec7 .partner h3{font-size:26px;margin-bottom:10px;text-align:center;line-height:1.2;}
.sec7 .partner .img{background:#fff;}
.sec7 .partner .desc{height:370px;padding:15px;font-size:16px;background:#fff;}
.sec7 .partner .desc ol{margin:15px 0 0 15px;list-style:decimal;}
.sec7 .partner .desc li{float:none;width:auto;height:auto;padding:0 0 10px;border:0;}
.sec7 .btn2{padding:100px 0;border-top:1px solid #fff;text-align:center;}
.sec7 .btn2 img{transition:all .3s;}
.sec7 .btn2 img:hover{transform:scale(1.05);}
