@charset "utf-8";
/* css reset */
html{_background:url(about:blank) no-repeat fixed;_height:100%;}
body{_margin:0;_height:100%;}
body,h1,h2,h3,h4,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}
body,button,input,select,textarea{background:#fff;font:14px/1.5 arial,tahoma,'Microsoft Yahei',\5b8b\4f53;color:#444}
h1,h2,h3,h4{font-size:100%;font-weight:400;}
ul,ol{list-style:none;}
a{color:#777;text-decoration:none;outline:none;}
button,input,select,textarea{border:1px solid #ccc;outline:none}
img{vertical-align:top;border:none}
table{border-collapse:collapse;border-spacing:0}
b,i,em{font-style:normal;font-weight:400;}


/* button */
.ubtn{display:inline-block;min-width:80px;line-height:30px;padding:0 8px;text-align:center;cursor:pointer;border:0;transition:all .2s;white-space:nowrap;}
.ubtn:hover{opacity:.9;filter:alpha(opacity=90);box-shadow:inset 0 0 100px rgba(0,0,0,0.2);}
.ubtn-red{background-color:#d74141;color:#fff;}
.ubtn-white{background-color:#fff;color:#ffa902;}
.ubtn-primary{background-color:#d20001;color:#fff;}
.ubtn-blue{background-color:#0c6ad0;color:#fff;}
.ubtn-cyan{background-color:#f29700;color:#fff;}
.ubtn-black{background-color:#373d41;color:#fff;}
.ubtn-gray{background-color:#bfbfbf;color:#fff;}
.ubtn-gray:disabled{color:#999;cursor:not-allowed;}
.ubtn:disabled{opacity:1;box-shadow:none;cursor:not-allowed;}

/* color */
.is-primary{color:#fff;background:#373d41;}
.is-info{color:#fff;background:#00c0ef;}
.is-success{color:#fff;background:#6cc788;}
.is-warning{color:#fff;background:#f39c12;}
.is-danger{color:#fff;background:#f56954;}

.top, .page-search,.banner,.nav-wrap,.nav, .footer, .slide-full, .idx-floor{min-width:1200px;}

/* layout */
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.tr{text-align:right;}
.hide{display:none;}
.mt20{margin-top:20px;}
.cf,.wrap{*zoom:1;}
.cf:after,.wrap:after{content:"";display:block;height:0;clear:both;overflow:hidden;}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.icon{display:inline-block;background:url(../images/icons.png) no-repeat;}
.slt,.ipt{height:30px;padding:2px 7px;border:1px solid #ddd;font-size:14px;vertical-align:top;}
.ipt:disabled{background:#ededed;color:#999;}
.ipt-area{background:#fff url(../images/icon_area.png) no-repeat 98% 50%;}
.ipt-money{background:#fff url(../images/icon_yusuan.png) no-repeat 98% 50%;}

.slt,.ipt{
	-moz-box-sizing: border-box;  
 -webkit-box-sizing: border-box; 
      -o-box-sizing: border-box; 
     -ms-box-sizing: border-box; 
     	 box-sizing: border-box;
}
.res-img{width:100%;height:100%;}
.msg-box{position:absolute;right:1px;top:1px;padding:0 9px;color:#d20001;font-size:12px;background:#fff;}
.bg-gray{background:#f5f5f5;}

/* wrap */
.wrap{width:1200px;margin:0 auto;}
.wrap .title{clear:both;margin-top:40px;padding-bottom:20px;font-size:30px;line-height:1;border-bottom:1px solid #ddd;}
.wrap .title:before{content:"";margin-right:10px;border-left:8px solid #f39c12;}
.wrap .title em{font-size:14px;color:#999;vertical-align:bottom;}
.wrap .title span{color:#f39c12;margin:0 3px;}
.wrap .title a{color:#444;}
.wrap .title a:hover{color:#d20001;}

/* img */
.img{overflow:hidden;}
.img img{width:100%;height:100%;transition:all .6s;}
.img:hover img{transform:scale(1.1);}


/* topt */
.top{line-height:30px;font-size:12px;background:#f9f9f9;border-bottom:1px solid #ddd;}
.top em{color:#999;margin:0 3px;}
.top a{display:inline-block;}
.top a:hover{color:#d20001;}
.top .top1{float:left;}
.top .top1 .wechat{position:relative;margin-right:20px;padding-left:14px;background:url(../images/mobile.png) no-repeat 0 50%;}
.top .top1 .wechat span{position:absolute;top:30px;left:0;z-index:9;display:none;border:1px solid #ddd;}
.top .top1 .wechat span:before{content:"";position:absolute;top:-6px;left:26px;background: url(../images/arrow.png) no-repeat;width:20px;height:6px;}
.top .top1 .wechat:hover span{display:block;}
.top .top1 .wechat img{width:120px;height:120px;}
.top .top2{float:right;}
.top .top2 a{margin-left:14px;}
.top .top2 .free{padding-left:14px;background:url(../images/pencil.png) no-repeat 0 50%;}
.top .top2 .meet{padding-left:14px;background:url(../images/rmb.png) no-repeat 0 50%;}
.top .top2 .service{padding-left:20px;background:url(../images/comment.png) no-repeat 0 50%;}

/* header */
.header{background:#fff;padding:20px 0;border-bottom:1px solid #e5e5e5;}
.header .logo{float:left;width:140px;height:60px;line-height:99em;background:#fff url(../images/logo.png) no-repeat 50% 50%;overflow:hidden;}
.header .welcome{float:left;width:210px;height:60px;margin-left:20px;line-height:99em;background:#fff url(../images/welcome.png) no-repeat 50% 50%;overflow:hidden;}
.header .tel{float:right;padding:0 0 0 36px;font:700 26px/60px 'arial';background:url(../images/tel.png) no-repeat 0 50%;color:#191970;}
.header .search{float:left;margin:10px 0 0 80px;}
.header .search .select{float:left;width:100px;line-height:38px;border:1px solid #d20001;position:relative;text-align:center;border-right:0;cursor:pointer;}
.header .search .select span{position:absolute;top:100%;left:-1px;right:-1px;background:#fff;z-index:9;border:1px solid #d20001;padding:1px;display:none;}
.header .search .select em{display:block;}
.header .search .select em:hover{background:#ad0101;color:#fff;}
.header .search .select:hover span{display:block;}
.header .search .select:after{content:'';border:4px dashed transparent;border-bottom:0;border-top:6px solid #555;position:absolute;top:17px;right:9px;}
.header .search .ipt{float:left;width:280px;height:40px;border-color:#d20001;}
.header .search .ubtn{float:left;height:40px;width:100px;}

/* footer */
.footer{margin-top:50px;padding:20px 0;line-height:22px;border-top:1px solid #ddd;color:#555;background:#F8F8F8;}  
.footer .divider{position:relative;float:left;width:400px;margin-right:30px;padding-right:30px;}
.footer .divider:after{content:'';position:absolute;top:90px;right:0;height:80px;width:1px;background:#00c0ef;}
.footer .contact{float:right;}
.footer h3{position:relative;margin-bottom:10px;line-height:40px;font-size:16px;border-bottom:1px solid #ddd;}
.footer h3:after{content:"";width:25%;height:1px;background:#00c0ef;position:absolute;bottom:-1px;left:0;}
.footer dl{float:left;width:400px;} 
.footer dt{font-weight:700;font-size:16px;} 
.footer .hotline{display:block;margin-bottom:20px;} 
.footer .brands{display:inline-block;width:56px;height:56px;background:#575E68 no-repeat 50% 50%;vertical-align:top;border-radius:50%;} 
.footer .sina{background:#F86673 url(../images/sina.png) no-repeat 50% 50%;margin-left:40px;} 
.footer .sina:hover{background-color:#E34E5C;} 
.footer .qq{background:#00A1D6 url(../images/qq.png) no-repeat 50% 50%;margin-left:40px;} 
.footer .qq:hover{background-color:#00BEE7;} 
.footer .wechat{background:#575E68 url(../images/mobile2.png) no-repeat 50% 50%;position:relative;} 
.footer .wechat:hover{background-color:#424953;} 
.footer .wechat:hover img{display:block;}
.footer .wechat img{width:120px;height:120px;position:absolute;bottom:60px;left:-32px;z-index:9;display:none;border:1px solid #ddd;}
.footer a{color:#999;}
.footer a:hover{color:#333;}

/* nav */
.nav{line-height:40px;background:#D20001;}
.nav li{float:left;width:9%;text-align:center;}
.nav a{display:block;color:#fff;font-size:14px;}
.nav a.on,
.nav a:hover{background:#ad0101;}
.nav-fixed{position:fixed;top:0;left:0;right:0;z-index:9;}
.nav-wrap{height:40px;}

/* crumbs */
.crumbs{margin:20px 0;padding-left:20px;background:url(../images/home.png) no-repeat 0 50%;color:#999;}
.crumbs a{color:#333;}
.crumbs a:hover{color:#D20001;text-decoration:underline;}

/* 返回顶部 */
.gotop{position:fixed;right:5px;bottom:75px;_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);_position:absolute;width:55px;}
.gotop a{display:block;height:50px;width:54px;overflow:hidden;text-indent:-999px;background-position:-1px -118px;background:#f29700 url(../images/gotop.gif) no-repeat 0 0}
.gotop a:focus{outline:none;}
.gotop a:hover{background-color:#36a68e}

.banner{width:100%;height:500px;background:#fff no-repeat 50% 0;text-align:center;}
.gg{margin-top:40px;height:90px;overflow:hidden;}
.gg img{height:90px;}

/* slide */
.slide-full{width:100%;height:600px;position:relative;text-align:center;overflow:hidden;}
.slide-full .bd li{overflow:hidden;}
.slide-full .hd{ position:absolute;left:0;bottom: 10px;right:0;}
.slide-full .hd i{display:inline-block;margin:0 4px;width:14px;height:14px;border-radius:50%;background:#ccc;cursor:pointer;}
.slide-full .hd .on{ background:#f00; }
.slide-full .bd img{width:100%;height:600px;}


/* index */
.idx-floor{margin-bottom:50px;}
.idx-hd{margin-bottom:50px;text-align:center;}
.idx-hd h2{font-size:40px;line-height:1;}
.idx-hd p{margin:20px 0;padding:0 20px;height:1px;line-height:1px;font-size:18px;border-left:400px solid #ddd;border-right:400px solid #ddd;}
.idx-bd{position:relative;}
.idx-1{background:#f5f5f5;padding:30px 0;overflow:hidden;}
.idx-1 ul{margin-right:-13px;}
.idx-1 li{float:left;width:290px;margin-right:13px;background:#fff;transition:all .3s;background:#fff url(../images/idx/grid2.png) no-repeat;}
.idx-1 li:hover{box-shadow:1px 4px 8px #ccc;transform:translate3d(0,-2px,0);}
.idx-1 a{position:relative;display:block;height:70px;padding:23px 30px;overflow:hidden;}
.idx-1 strong{display:block;font-size:20px;line-height:44px;color:#333;}
.idx-1 em{font-size:12px;color:#666;}
.idx-1 .li1{background-position:100% 4px;}
.idx-1 .li2{background-position:100% -135px;}
.idx-1 .li3{background-position:100% -280px;}
.idx-1 .li4{background-position:100% -420px;}

.idx-2{overflow:hidden;}
.idx-2 ul{margin-right:-20px;}
.idx-2 li{width:183px;height:116px;border:1px solid #d9d9d9;float:left;margin-right:18px;position:relative;}
.idx-2 a{height:116px;display:block;}
.idx-2 .icon{width:100%;height:46px;line-height:46px;text-align:center;margin-top:24px;position:relative;top:0;left:0;}
.idx-2 .icon img{margin:0 auto;}
.idx-2 .icon .img{display:block;}
.idx-2 .icon .img1{display:none;}
.idx-2 .txt{font-size:16px;line-height:16px;color:#b0b0b0;text-align:center;margin-top:11px;position:relative;top:0;left:0;}
.idx-2 li.li2:hover{border:1px solid #ffc000;background:#ffc000;}
.idx-2 li.li3:hover{border:1px solid #2aa300;background:#2aa300;}
.idx-2 li.li4:hover{border:1px solid #d5a97d;background:#d5a97d;}
.idx-2 li.li6:hover{border:1px solid #b85c00;background:#b85c00;}
.idx-2 li.li8:hover{border:1px solid #ffe953;background:#ffe953;}
.idx-2 li.li9:hover{border:1px solid #0096ff;background:#0096ff;}
.idx-2 li:hover .icon .img{display:none;}
.idx-2 li:hover .icon .img1{display:block;}
.idx-2 li:hover .txt{color:#fff;}

.idx-3{position:relative;background:#eee url(../images/idx/074b3c247009e8f0ea02a07baf71632d.png) 80px -40px no-repeat;padding:50px 0;overflow:hidden;}
.idx-3 .img{float:left;width:370px;height:450px;}
.idx-3 .form{float:left;width:380px;height:420px;margin:0 20px;padding:10px 20px 20px;background:#eee;overflow:hidden;}
.idx-3 .form h3{padding-top:60px;height:0;font-size:16px;background:url(../images/i_title.gif) no-repeat;overflow:hidden;}
.idx-3 .form p{margin-bottom:10px;line-height:50px;text-align:center;}
.idx-3 .form .count{margin:0 4px;color:#f00;}
.idx-3 .form .group{line-height:30px;margin-bottom:15px;}
.idx-3 .form .ipt,
.idx-3 .form .slt{height:36px;width:306px;}
.idx-3 .form .msg-box{line-height:34px;}
.idx-3 .form .buttons{margin-top:20px;text-align:left;padding-left:74px;}
.idx-3 .form .buttons .ubtn{height:40px;}

.idx-4 .idx-bd{overflow:hidden;}
.idx-4 .idx-bd ul{margin-right:-40px;}
.idx-4 .idx-bd li{float:left;width:377px;margin:40px 36px 0 0;text-align:center;}
.idx-4 .idx-bd a{display:block;height:265px;position:relative;overflow:hidden;}
.idx-4 .idx-bd img{width:100%;height:100%;transition:all .6s;}
.idx-4 .idx-bd .cover{position:absolute;top:100%;left:0;right:0;bottom:0;padding:30px 0;color:#fff;background:#000;background-color:rgba(0,0,0,.6);transition:all .3s;}
.idx-4 .idx-bd .cover span{display:block;line-height:30px;font-size:16px;}
.idx-4 .idx-bd .cover em{width:110px;margin-top:50px;border-radius:2px;}
.idx-4 .idx-bd li:hover .cover{top:0;}
.idx-4 .idx-bd li:hover img{transform:scale(1.1);}

.idx-4 .cat{text-align:center;}
.idx-4 .cat li{display:inline-block;}
.idx-4 .cat i{padding:0 18px;color:#c3c3c3;}
.idx-4 .cat a:hover{color:#d20001;}

.idx-5{position:relative;background:#f5f5f5;padding:50px 0;overflow:hidden;}
.idx-5:before{content:'';position:absolute;top:0;left:50%;width:500px;height:500px;margin-left:-1020px;background:url(../images/idx/7c78d0392f0c80628394a8485b61b3aa.png) no-repeat;}
.idx-5 .idx-bd{position:relative;height:304px;overflow:hidden;}
.idx-5 .avatar{float:left;width:300px;height:300px;border-radius:50%;overflow:hidden;border:2px solid #ddd;}
.idx-5 .avatar img{width:100%;height:auto;}
.idx-5 .desc{margin:0 0 0 330px;background:#f5f5f5;}
.idx-5 .desc .tag strong{font-size:26px;}
.idx-5 .desc .tag span{margin-left:20px;color:#f29700;}
.idx-5 .desc .tag p{margin-top:10px;color:#999;}
.idx-5 .desc .eg{position:relative;height:200px;margin:10px -30px 0 0;overflow:hidden;}
.idx-5 .desc .eg a{float:left;width:275px;height:200px;margin-right:20px;overflow:hidden;}
.idx-5 .desc .eg img{width:100%;height:100%;transition:all .3s;}
.idx-5 .desc .eg a:hover img{transform:scale(1.1);}
.idx-5 .info{float:left;width:420px;margin-left:100px;padding-top:30px;}
.idx-5 .info p{ float:left; width:50%;  height:60px;font-size:16px;}
.idx-5 .order{float:right;line-height:30px;padding-top:30px;}
.idx-5 .order .item{position:relative;margin-bottom:10px;}
.idx-5 .order .short{position:relative;margin-right:80px;}
.idx-5 .order .short .slt{position:absolute;top:0;right:-80px;width:75px;}
.idx-5 .order .msg-box{line-height:28px;}
.idx-5 .order .ipt{width:240px;vertical-align:top;}
.idx-5 .order .ft{padding-left:46px;}
.idx-5 .order .ft .ubtn{width:100%;height:40px;}
.idx-5 .prev{position:absolute;top:0;left:0;z-index:1;width:45px;height:45px;background:url(../images/btn_l.png) no-repeat;cursor:pointer;}
.idx-5 .next{position:absolute;top:0;right:0;z-index:1;width:45px;height:45px;background:url(../images/btn_r.png) no-repeat;cursor:pointer;}

.idx-6{overflow:hidden;}
.idx-6 .visit{float:right;width:260px;padding:25px 20px;border:1px solid #ddd;text-align:center;}
.idx-6 .visit .group{position:relative;margin-bottom:14px;}
.idx-6 .visit .group .msg-box{line-height:36px;}
.idx-6 .visit .ipt{width:100%;height:38px;}
.idx-6 .visit .ubtn{width:100%;height:38px;}
.idx-6 .visit p{margin-top:20px;text-align:left;color:#999;}
.idx-6 .idx-bd{float:left;width:861px;}
.idx-6 .idx-bd .hd{margin:0 -50px 20px 0;}
.idx-6 .idx-bd .hd a{display:inline-block;width:200px;margin-right:14px;line-height:36px;border:1px solid #ddd;text-align:center;border-radius:18px;}
.idx-6 .idx-bd .hd .on{background:#D20001;border-color:#D20001;color:#fff;}
.idx-6 .idx-bd .img{float:left;width:300px;height:300px;border:1px solid #ddd;}
.idx-6 .idx-bd .box{float:right;width:500px;height:300px;padding:0 20px;border:1px solid #ddd;}
.idx-6 .idx-bd .box .bd{height:96px;overflow:hidden;}
.idx-6 .idx-bd .box .tit{padding:20px 0 10px;font-size:16px;text-align:center;font-weight:700;}
.idx-6 .idx-bd .box p{text-indent:2em;}
.idx-6 .idx-bd .box .nlist{margin-top:15px;border-top:1px solid #ddd;}
.idx-6 .idx-bd .box .nlist li{height:20px;margin-top:10px;overflow:hidden;}
.idx-6 .idx-bd .box .nlist span{float:right;}
.idx-6 .idx-bd .box a:hover{color:#d20001;}
/* index end*/


.menu{margin-top:20px;text-align:center;}
.menu a{display:inline-block;width:200px;margin-right:14px;line-height:36px;border:1px solid #ddd;text-align:center;border-radius:18px;}
.menu a:hover,
.menu .on{background:#D20001;border-color:#D20001;color:#fff;}

.toutiao{margin:40px auto 0;padding-bottom:40px;border-bottom:2px solid #222;overflow:hidden;}
.toutiao .img{float:left;width:400px;height:200px;}
.toutiao .desc{margin-left:460px;}
.toutiao .desc h1{font-size:20px;font-weight:700;}
.toutiao .desc .summary{padding:20px 0;}

.dongtai{margin:40px auto 0;overflow:hidden;}
.dongtai .box{float:left;width:800px;}
.dongtai .box li{padding:20px 0;border-bottom:1px solid #ddd;overflow:hidden;}
.dongtai .box .img{float:left;width:200px;height:150px;}
.dongtai .box .desc{margin-left:220px;}
.dongtai .box .desc h3{font-size:18px;height:24px;overflow:hidden;}
.dongtai .box .desc h3 a{color:#333;}
.dongtai .box .desc h3 a:hover{color:#d20001;}
.dongtai .box .summary{height:42px;margin:10px 0;overflow:hidden;}
.dongtai .box .date{margin-top:14px;font-size:12px;}
.dongtai .box .date em{color:#999;}
.dongtai .article{float:left;width:800px;}
.dongtai .article h1{font-size:24px;line-height:44px;font-weight:700;text-align:center;}
.dongtai .article .date{padding:10px 0;text-align:center;}
.dongtai .article .summary{width:660px;margin:0 auto;padding:13px 15px;background:#F7F7F7;}
.dongtai .article .summary em{font-weight:700;}
.dongtai .article .text{margin-top:20px;line-height:24px;}
.dongtai .side{float:right;width:350px;}
.dongtai .side .recommend{height:150px;margin-top:20px;}
.dongtai .tit{background:#f39c12;color:#fff;font-size:18px;line-height:40px;text-align:center;}
.dongtai .visit{padding:20px;border:1px solid #ddd;text-align:center;border-top:0;}
.dongtai .visit .group{position:relative;margin-bottom:14px;}
.dongtai .visit .group .msg-box{line-height:36px;}
.dongtai .visit .ipt{width:100%;height:38px;}
.dongtai .visit .ubtn{width:100%;height:38px;}

.wz_list{padding:2px 10px 10px;border:1px solid #ddd;}
.wz_list h3{font-size:18px;line-height:40px;margin-bottom:8px;font-weight:700;border-bottom:1px solid #ddd;}
.wz_list h3:before{content:'';margin-right:6px;border-left:5px solid #f39c12;border-radius:3px;}
.wz_list h3 a{float:right;font-size:12px;background:url(../images/more.png) no-repeat 100% 50%;padding-right:16px;}
.wz_list li{line-height:28px;}
.wz_list img{width:100%;height:100%;}
.wz_list dt{position:relative;}
.wz_list dd{position:relative;height:60px;padding:15px 0 15px 90px;border-top:1px solid #ddd;overflow:hidden;}
.wz_list span{display:block;color:#999;font-size:12px;background:url(../images/date.png) no-repeat 0 2px;padding-left:18px;}
.wz_list .img{position:absolute;top:15px;left:0;width:80px;height:60px;}
.wz_list .mask{position:absolute;bottom:0;left:0;right:0;line-height:40px;padding:0 10px;background:url(../images/mask.png);color:#fff;}
.wz_list a{display:block;}
.wz_list a:hover{color:#d20001;}
.faq{float:left;width:800px;}
.faq h2{position:relative;margin-bottom:6px;font-size:22px;font-weight:700;line-height:36px;}
.faq .ico{position:absolute;top:-1px;left:-1px;color:#fff;border-radius:0 0 50px 0;font-size:12px;width:26px;height:26px;padding:5px 0 0 5px;}
.faq .ask h2{color:#f91;}
.faq .ask .ico{background:#f91;}
.faq .answer h2{color:#9b1;}
.faq .answer .ico{background:#9b1;}
.faq .box2{position:relative;margin-bottom:20px;padding:15px 30px;border:1px solid #ddd;}
.faq .box2 p{line-height:30px;}
.faq .links{line-height:30px;}
.faq .buttons{padding:30px 0;text-align:center;}
.faq .buttons .ubtn{height:50px;width:180px;line-height:50px;font-size:18px;margin:0 10px;}
.faq .recommend{overflow:hidden;margin-right:-50px;margin-top:50px;}
.faq .recommend .wz_list{float:left;width:368px;margin-right:20px;}


.pic_ybj{ width: 100%; position: relative;margin-top:20px;}
.ybj_list{ border: 1px solid #ddd; height: 38px; background: #fcfcfc; }
.ybj_list li{ width: 112px; float: left; text-align: center;  }
.ybj_list li a{ width: 100%;  line-height: 38px; color: #444; border-left: 1px solid #ddd; font-size: 16px; display: block;}
.ybj_list li.first{ width: 180px;  line-height: 38px; color: #444; font-size: 16px;;}
.ybj_list li a:hover,.ybj_list li.on a{ background: #D20001; color: #fff;}
.pic_ybj .picshowlist{ width: 100%; float: right;  }
.pic_ybj .picshowlist_mid{ width: 100%; height: 155px; background: #313131;    padding: 15px 0px 0px 0px;}
.pic_ybj .picmidleft,.pic_ybj .picmidright{ text-align: center; }
.pic_ybj .picmidleft img,.pic_ybj .picmidright img{ max-width: 100%; padding-top: 16px}
.pic_ybj .picmidleft a,.pic_ybj .picmidright a{ width: auto; height: auto; float: none;; display: initial;;  }
.pic_ybj .picmidmid li img{  max-width: 100%; height: auto; border: none;}
.pic_ybj_share{ height: 28px; padding-top: 10px; width: 100%; width: 320px;float: right; } 
.pic_ybj  .picmidmid li img.selectpic{ border: 2px solid #fff; width: 200px !important;}
.pic-ybj{position:relative;display:none;}
.pic-ybj .zoom{position:relative;}
.pic_cont{ width:56%; float: left;}
.pic_site{ width:100%; height:50px;}
.pic_site h2{ font-size:14px; font-weight:normal; line-height:50px;}
.pic_site h2 span{ float:right;}

/*图片特效*/
.piccontext{width:100%; overflow:hidden;}
.piccontext h2{width:950px;height:46px;line-height:46px;overflow:hidden;font-size:20px;color:#2c2c2c;margin-top:18px;margin-left:25px;font-weight:normal;}
.support{float:left;height:20px;overflow:hidden;}
.support img{padding:0px 5px;} 

/*大图展示*/
.picshow{width:100%; overflow:hidden;}
.picshowtop{width:100%;text-align:center;position:relative;z-index:1;overflow:hidden; background: #f1f1f1;}
.picshowtop img{ max-width:1200px;}
#pic1{width:100%}
#preArrow{left:0px;}
#nextArrow{right:0px;}
.contextDiv{cursor:pointer;height:100%;width:50%;position:absolute;top:0px;z-index:5;background:url("blank") repeat;}
.contextDiv span{position:absolute;top:50%;margin-top:-10%;width:46px;height:80px;}
#preArrow_A{left:0px;background: url(../images/pic_left.png)   0px 0px no-repeat;display:none;}
#nextArrow_A{right:0px;background:url(../images/pic_right.png)  0px 0px no-repeat;display:none;}
.picshowtxt{ padding-left:20px; min-height:40px;_height:40px;margin-top:20px;}
.picshowtxt_left{float:left;width:50px; height:50px; line-height:30px; font-family:Georgia, "Times New Roman", Times, serif;}
.picshowtxt_left span{color:#e55656;font-size:30px;}
.picshowtxt_left strong{font-size:24px; font-weight: normal}
.picshowtxt_left i{color:#666666;font-size:20px;}
.picshowtxt_right{float:left;margin-left:10px;display:inline;line-height:40px;color:#666666;font-size:14px;width:880px; font-family:"宋体";}
.picshowlist{width:100% ;overflow:hidden;}
.picshowlist_left{float:left; width:120px; overflow:hidden;}
.pic_next_img { width:120px;height:100px; padding:8px 0px 0px 0px; background: url(photo_bg.jpg) no-repeat;}
.pic_next_img img{ width:106px; height:66px; margin:0px 0px 10px 5px; }
.pic_next_img p{ text-align:center;}
.picleftimg{padding-top:9px;padding-left:5px;overflow:hidden;}
.picleftimg img{width:106px;height:66px;}
.piclefttxt{width:120px;line-height:20px; font-family:"宋体";}
.piclefttxt a{color:#444444;}
.piclefttxt a:hover{color:#ff5d11; text-decoration:underline;}
.picshowlist_mid{float:left; width: 100%;   padding:20px 0px 0px 0px; display:inline; overflow:hidden; height:140px;}
.picmidleft{float:left; min-width:24px; width: 8%; height:140px;overflow:hidden;}
.picmidleft a{display:block; width:100%; height:140px;}
.picmidmid{float:left; width:920px;   overflow: hidden;  height:140px;   } 
.picmidmid ul li{float:left; margin:0px 10px;  width:210px; text-align:center; overflow:hidden;  height:140px;  }
.picmidmid ul li img{ height:134px; width: 204px; border: 3px solid #ddd;}
.picmidmid ul li img.selectpic{  border-color: #d00;  }
.picmidright{float:right; min-width:24px;  width: 8%; height:140px; overflow:hidden;}
.picmidleft img,.picmidright img{ max-width: 100%;}
.picmidright a{display:block; width: auto;  height:140px; float: right;}
.picshowlist_right{float:right;width:120px; overflow:hidden;}
.pic_360{ width:180px; height:90px;float:right; text-align:center;}
.pic_360 a{ font-size:18px; color:#fff; background:#f26a76; width:180px; height:80px;  padding-top:10px ; line-height:34px; display:block;}
.pic_360 span{ border-radius:4px; background:#fff; color:#e62536; padding:4px 10px;}
.pic_360 a:hover{ background:#d00b0b; }
.pic_sjs{width:220px; height:100px;float:right;background:#e62536; padding:10px 0px 0px 0px; }
.pic_sjs img{  height:80px; width:80px; margin: 0px 5px 0px 5px; float:left; border-radius:50%;}
.pic_sjs h3 a{ font-size:14px; color:#fff;} 
.pic_sjs p{color:#fff; padding:3px 0px;}
.pic_sjs p a{ background:#fff; color:#d00; padding:2px 10px; margin-top:10px;}
.pic_sjs p a:hover{ background:#d00b0b; color:#fff;}

/* filter */
.filter{border:1px solid #ddd;overflow:hidden;}
.filter dl{position:relative;margin-top:-1px;padding-left:90px;line-height:42px;border-top:1px dotted #ddd;}
.filter dt{position:absolute;top:0;left:20px;}
.filter a{margin-left:10px;padding:5px 10px;}
.filter a:hover,
.filter a.on{color:#fff;background:#d20000;-webkit-border-radius:5px;border-radius:5px;}

.action{margin-bottom:20px;overflow:hidden;}
.action .search{float:right;}
.action .search .ipt{width:240px;}
.action .crumbs{margin:0;line-height:30px;}

/*.list{overflow:hidden;*zoom:1;}*/
.list ul{margin-right:-40px;}
.list li{position:relative;float:left;width:273px;margin:40px 36px 0 0;text-align:center;overflow:hidden;}
.list .img{height:265px;}
.list .desc{padding:15px 0;border:1px solid #ddd;border-top:0;white-space:nowrap;overflow:hidden;}
.list .desc p{font-size:20px;}
.list .desc p em{font-size:14px;color:#999;margin-left:10px;}
.list .desc span{margin:0 4px;}
.list .desc i{padding:2px 3px;font-size:12px;color:#fff;-webkit-border-radius:3px;border-radius:3px;}
.list .desc .bg1{background:#00c0ef;}
.list .desc .bg2{background:#f56954;}
.list .desc .bg3{background:#f39c12;}
.list .price{position:absolute;left:0;bottom:0;right:58%;padding:5px 10px;font-size:20px;color:#fff;background:#00c0ef;border-radius:0 21px 21px 0;font-family:georgia;text-align:left;}
.list .price i{margin-right:3px;font-size:14px;font-weight:700;font-family:arial;}
.list .avatar{height:280px;border:1px solid #ddd;border-bottom:0;overflow:hidden;}
.list .avatar img{width:100%;height:100%;transition:all .6s;}
.list .avatar:hover img{transform:scale(1.1);}
.list .detail{padding:10px;border:1px solid #ddd;border-top:0;position:relative;text-align:left;}
.list .detail h3{font-size:20px;font-weight:700;}
.list .detail em{font-size:14px;margin-left:10px;}
.list .detail i{padding:0 3px;color:#f56954;}
.list .detail .ubtn{position:absolute;right:10px;bottom:10px;}
.list li:hover{box-shadow:1px 4px 8px #ccc;}
.list li:hover .avatar{border-color:#f29700;}
.list li:hover .detail{border-color:#f29700;}
.list li:hover .desc{border-color:#f29700;}
.list .button{padding:2px;border-top:1px solid #ddd;}
.list .button .btn{display:block;width:100%;height:34px;line-height:34px;}
.list .button .btn:hover{background:#d20001;color:#fff;}
.list .bg{padding:12px 20px;white-space:nowrap;text-align:left;overflow:hidden;border:1px solid #ddd;border-top:0;background:#fff;}
.list .bg strong{display:block;font-size:20px;}
.list a:hover .bg{background:#f29700;color:#fff;border-color:#f29700;}
.list .more{border:0;}
.list .more a{height:100%;display:block;font-size:30px;color:#fff;background:#78DADD;}
.list2 li{width:377px;}
.case-bg{background:#eee;padding:10px 0 50px;margin-top:20px;}

.page{margin:40px 0;text-align:center;}
.page a,
.page .current{display:inline-block;min-width:22px;margin:0 2px;padding:3px;font:12px/22px tahoma;border:1px solid #ddd;background:#fff;text-align:center;border-radius:2px;vertical-align:top;}
.page .current{color:#fff;border-color:#f29700;background:#f29700;}
.page a:hover{border-color:#f29700;color:#f29700;}

/* jquery.pagination */
.pagination{line-height:30px;margin:40px 0;text-align:center;}
.pagination .p-num a,
.pagination .p-num .current{display:inline-block;min-width:22px;margin:0 2px;padding:3px;font:12px/22px tahoma;border:1px solid #ddd;background:#fff;text-align:center;border-radius:2px;vertical-align:top;}
.pagination .p-num .current{color:#fff;border-color:#f29700;background:#f29700;}
.pagination .p-num a:hover{border-color:#f29700;color:#f29700;}


.case-d{border:1px solid #ddd;}
.case-d .h1{font-size:18px;text-align:center;font-weight:400;line-height:35px;border-bottom:#b00000 2px solid;}

/* 组图开始 小图部分 */
.thumbpic{margin:10px auto;width:1030px;overflow:hidden;}
.thumbpic a{ color:#666;}
.thumbpic a:hover{ color:#b00000;}
.thumbpic .ltp{float:left;width:58px;height:86px;margin:15px 35px 0 0;}
.thumbpic .ltp a img,.thumbpic .rtp a img{ width:78px; height:58px;}
.thumbpic span{height:20px;float:left;cursor:pointer; line-height:20px;width:80px;}
.thumbpic .rtp{float:left;width:58px;height:86px;margin:15px 0 0 15px;}

#piclist{width:802px;float:left;overflow:hidden;height:120px;position:relative;}
#piclist ul{margin:0;padding:0;list-style:none;overflow:hidden;width:20000px;position:relative;}
#piclist ul li{float:left;cursor:pointer;position:relative;height:120px;}
#piclist ul li img{height:88px;width:120px;margin:10px 4px;padding:3px;}
#piclist .hover{height:120px;background-image: url(../images/ico_bg.png);background-repeat: no-repeat;background-position: center 0;}
#piclist ul li i{background:rgba(0,0,0,0.6);color:#FFF;position:absolute;z-index:20; font-family:arial;font-size:12px;line-height:16px;padding:0 5px;margin:85px 0 0 -127px;}

.thumbpic a.bntprev{float:left;width:20px;height:88px;display:block;outline:none;background: url(../images/ico_left.png) no-repeat center 0; margin-top:14px;}
.thumbpic a.bntnext{float:left;width:20px;height:88px;display:block;outline:none;background:url(../images/ico_right.png) no-repeat center 0; margin-top:14px;}

#originalpic{position:relative;overflow:hidden;zoom:1;height:100%;clear:both;text-align:center;}
#originalpic img{display:none;position:relative;max-width:100%;}
#aPrev{position:absolute;z-index:10;left:0;top:0;display:block;width:50%;height:100%;background:url(../images/blank.gif);cursor:url(../images/prev.cur),auto}
#aNext{position:absolute;z-index:10;right:0;top:0;display:block;width:50%;height:100%;background:url(../images/blank.gif);cursor:url(../images/next.cur),auto}

.smnr{padding:20px;line-height:30px;font-size:16px;}
.case-eg{margin-top:20px;overflow:hidden;}
.case-eg ul{margin-right:-20px;}
.case-eg li{float:left;position:relative;width:285px;height:169px;margin:0 20px 0 0;overflow:hidden;}
.case-eg img{width:100%;height:100%;transition:all .3s;}
.case-eg em{position:absolute;bottom:0;left:0;right:0;height:40px;line-height:40px;padding:0 10px;background:url(../images/mask.png);color:#fff;}
.case-eg li:hover img{transform:scale(1.065,1.065);}



.sjs_hot{margin:20px 0 40px;background:#eee;padding:50px 0;}
.sjs_hot .sjs{float:left;width:300px;padding:20px;border:1px solid #ddd;background:#fff;}
.sjs_hot .sjs .avatar{width:220px;height:220px;margin:0 auto 20px;overflow:hidden;border-radius:50%;border:2px solid #ddd;}
.sjs_hot .sjs .avatar img{width:100%;height:auto;}
.sjs_hot .sjs .desc h3{font-size:22px;color:#78DADD;text-align:center;}
.sjs_hot .sjs .desc .position{padding-bottom:6px;margin:6px 0 26px;font-size:16px;color:#78DADD;text-align:center;border-bottom:1px solid #ddd;}
.sjs_hot .sjs .desc p{margin-bottom:6px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sjs_hot .pro{margin-left:400px;}
.sjs_hot .pro .img{margin-bottom:20px;height:260px;}
.sjs_hot .pro .desc{position:relative;height:134px;padding:10px 20px 10px 70px;border:1px solid #ddd;line-height:24px;background:#fff;}
.sjs_hot .pro .desc .lab{position:absolute;top:0;left:0;bottom:0;width:16px;padding:25px 15px;font-size:16px;background:#78DADD;color:#fff;}

.sjc-desc{padding:40px 50px 20px;overflow:hidden;}
.sjc-desc .avatar{width:235px;height:284px;border:7px solid #E5E5E5;float:left;}
.sjc-desc .avatar img{width:100%;height:100%;}
.sjc-desc .desc{margin-left:310px;}
.sjc-desc .desc h3{font-size:28px;}
.sjc-desc .desc p{font-size:14px;margin-top:5px;}
.sjc-desc .desc .position{font-size:18px;}
.sjc-desc .desc ul{margin-top:10px;padding-top:4px;border-top:1px solid #ddd;}
.sjc-desc .desc ul li{margin-top:6px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sjc-desc .button{margin-top:14px;}
.sjc-desc .button .ubtn{width:120px;}

.page-search{margin-top:20px;padding:15px 0;background:#f56954;color:#fff;}
.page-search .ipt{width:240px;border:0;}


.layer-form{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:9;}
.layer-form .mask{position:fixed;top:0;left:0;right:0;bottom:0;background:#000;opacity:.5;filter:alpha(opacity=50);z-index:8;}
.layer-form .inner{position:absolute;top:50%;left:50%;z-index:9;width:360px;margin-left:-220px;padding:20px 40px;background:#fff;}
.layer-form .layer-close{position:absolute;top:10px;right:10px;color:#000;font:700 30px/1 arial;cursor:pointer;}
.layer-form .layer-close:hover{color:#d20001;}
.layer-form iframe{border:0;width:100%;vertical-align:top;}
.layer-msg{padding:25px;font-size:16px;}

.form{width:360px;}
.form .title{margin-bottom:20px;text-align:center;font-size:24px;}
.form .group{position:relative;margin-bottom:9px;line-height:30px;}
.form .ipt,
.form .slt{width:286px;vertical-align:top;}
.form .ipt-short{width:180px;}
.form .vcode{width:100px;height:30px;}
.form .buttons{margin-top:30px;text-align:center;}
.form .buttons .ubtn{width:210px;height:44px;}
/*
.form .msg-box{position:absolute;top:100%;left:80px;z-index:2;display:block;line-height:18px;padding:2px 5px;background:#d74141;color:#fff;white-space:nowrap;font-size:12px;}
.form .msg-box:after{content:"";position:absolute;top:-9px;left:10px;border:5px dashed transparent;border-bottom:5px solid #d74141;}
.form .msg-box .error{color:#fff;}*/

.form .msg-box{line-height:28px;}


.case .calc{float:left;padding:10px 50px;color:#fff;background:#c0b072;text-align:center;}
.case .calc h2{font-size:28px;}
.case .calc p{font-size:16px;}
.case .form{position:relative;float:left;width:450px;margin-left:10px;}
.case .form .ipt{width:200px;margin-bottom:10px;}
.case .form .btn{width:86px;height:86px;padding:0 20px;line-height:1.3;border:0;background:#c0b072;font-size:20px;position:absolute;top:0;right:-96px;cursor:pointer;color:#fff;}
.case .box{width:1060px;margin:30px auto 0;overflow:hidden;}

.calc{margin:40px 0;overflow:hidden;}
.calc .form{float:left;}
.calc .form .group{line-height:50px;margin-bottom:15px;}
/*
.calc .form .short{margin:0 100px 0 0;}
.calc .form .short .btn{position:absolute;top:0;right:-100px;width:75px;}
.calc .form .short .getcode{position:absolute;top:0;right:-100px;height:50px;width:100px;}
.calc .form .short .ipt{width:186px;}
*/
.calc .form .ipt{height:50px;}
.calc .form .msg-box{line-height:48px;}
.calc .start{float:left;width:480px;text-align:center;}
.calc .start .btn{width:180px;height:180px;background:url(../images/start_btn.jpg) no-repeat 50% 50%;transition:all .3s;text-indent:-99em;overflow:hidden;border:0;}
.calc .start .btn:hover{transform:scale(0.9);box-shadow:none;}
.calc .result{float:right;padding:10px 0;background:#f29700;color:#fff;
width:360px;}
.calc .result h3{font-size:22px;font-weight:700;text-align:center;}
.calc .result p{font-size:18px;margin:5px 0 0 100px;}
.estimate{font-size:14px;padding:20px;color:#ff5400;text-align:center;}
.estimate strong{display:block;margin:30px 0;font-size:28px;}
.estimate .tips{margin-top:24px;padding-top:20px;line-height:24px;color:#999;border-top:1px solid #ddd;text-align:left;}
.main4{position:relative;margin-top:20px;font-size:28px;font-weight:700;color:#fff;}
.main4 .mian4_pab1{position:absolute;top:61px;left:518px;}
.main4 .mian4_pab2{position:absolute;top:238px;left:114px;}
.main4 .mian4_pab3{position:absolute;top:238px;left:923px;}
.main5{position:relative;height:400px;overflow:hidden;}
.main5 img{width:100%;}
.main5 .prev{position:absolute;top:160px;left:40px;width:41px;height:78px;background:url(../images/l.png) no-repeat 0 50%;cursor:pointer;}
.main5 .next{position:absolute;top:160px;right:40px;width:41px;height:78px;background:url(../images/r.png) no-repeat 0 50%;cursor:pointer;}
.main6{position:relative;margin-top:20px;line-height:1;text-align:center;color:#fff;background:#f1f1f1;}
.main6 h3{font-size:26px;margin-bottom:15px;font-weight:700;}
.main6 p{margin-top:10px;}
.main6_pab1{position: absolute;top:70px;left:279px;}
.main6_pab2{position: absolute;top:70px;left:766px;}
.main6_pab3{position: absolute;top:190px;left:401px;}
.main6_pab4{position: absolute;top:190px;left:645px;}
.main6_pab5{position: absolute;top:310px;left:283px;}
.main6_pab6{position: absolute;top:310px;left:766px;}

/* visiter */
.visit1{padding-top:20px;}
.visit1 .ipt{width:200px;height:38px;vertical-align:top;}
.visit1 .ubtn{height:38px;width:100px;vertical-align:top;}
.visit1 .slt{width:220px;height:38px;padding:0 9px;vertical-align:top;}
.visit2{margin:20px 0;padding:10px;border:1px solid #e9e9e9;}
.visit2 .ico{float:left;font-size:20px;padding-right:80px;line-height:38px;}
.visit2 .ipt{width:200px;height:38px;margin-right:20px;vertical-align:top;}
.visit2 .ubtn{width:155px;height:38px;}
.visit3{padding:40px 0 0;overflow:hidden;}
.visit3 .desc{float:left;padding:10px 50px;color:#fff;background:#c0b072;text-align:center;}
.visit3 .desc h2{font-size:28px;}
.visit3 .desc p{font-size:16px;}
.visit3 .form{position:relative;float:left;width:650px;margin-left:40px;}
.visit3 .form .sp{display:inline-block;position:relative;margin-right:6px;}
.visit3 .msg-box{line-height:36px;}
.visit3 .form .mb{margin-bottom:10px;}
.visit3 .form .ipt{width:300px;height:38px;}
.visit3 .form .btn{width:86px;height:86px;padding:0 20px;line-height:1.3;border:0;background:#c0b072;font-size:20px;position:absolute;top:0;right:-96px;cursor:pointer;color:#fff;}
.visit3 .box{width:1060px;margin:30px auto 0;overflow:hidden;}


.building{background:#342f2b;margin-bottom:20px;}
.building .form{position:relative;width:auto;color:#fff;line-height:44px;padding:15px 0;text-align:right;}
.building .form .sp{display:inline-block;position:relative;margin-right:30px;}
.building .msg-box{line-height:42px;}
.building .form .slt,
.building .form .ipt{width:200px;height:44px;vertical-align:top;}
.building .form .ubtn{width:160px;height:44px;vertical-align:top;background:#920000;}
.building .form strong{position:absolute;bottom:20px;left:0;height:80px;line-height:130px;padding-left:100px;font-size:20px;background:url(../images/build.png) no-repeat;}

.dialog{position:absolute;top:0;left:0;width:300px;border:5px solid #d7d7d7;border-color:rgba(153,153,153,.8);font:12px/18px 'Microsoft Yahei',Tahoma,Arial;color:#000;background:#fff;box-shadow:5px 5px 7px rgba(0,0,0,0.4);border-radius:3px;}
.dialog-title{height:30px;line-height:30px;padding:0 10px;background:#e4e4e4;border-bottom:1px solid #ccc;overflow:hidden;}
.dialog-close{position:absolute;top:8px;right:8px;width:12px;height:12px;background:url(../images/close.png) no-repeat;cursor:pointer;}
.dialog-close:hover{background-position:-12px 0;}
.dialog-content{}
.dialog-bottom{padding:0 20px 20px;text-align:right;}
.dialog-bottom .button{height:28px;margin-left:10px;padding:0 15px;border:1px solid #ddd;background:#fff;color:#666;cursor:pointer;font-size:12px;border-radius:2px;transition:.3s;}
.dialog-bottom .button:hover{opacity:0.9;}
.dialog-bottom .ok{color:#fff;background:#e74649;border-color:#e74649;}
.dialog-bottom .cancel{color:#333;background:#f0f0f0;border-color:#ddd;}


/* stylist */
.stylist{position:relative;margin-top:20px;overflow:hidden;}
.stylist .avatar{float:left;width:300px;height:300px;margin-top:10px;border-radius:50%;overflow:hidden;border:2px solid #ddd;}
.stylist .avatar img{width:100%;height:auto;}
.stylist .desc{margin:0 0 0 330px;}
.stylist .desc .tag strong{font-size:26px;}
.stylist .desc .tag span{margin-left:20px;color:#f29700;}
.stylist .desc .tag p{margin-top:10px;color:#999;}
.stylist .desc .eg{position:relative;height:200px;margin:10px -30px 0 0;overflow:hidden;}
.stylist .desc .eg a{float:left;width:275px;height:200px;margin-right:20px;overflow:hidden;}
.stylist .desc .eg img{width:100%;height:100%;}
.stylist .info{float:left;width:580px;margin-left:100px;}
.stylist .info li{padding:10px 0;font-size:16px;}
.stylist .info label{display:inline-block;width:32%;}
.stylist .order{float:right;line-height:30px;margin-top:10px;}
.stylist .order .item{position:relative;margin-bottom:10px;}
.stylist .order label{color:#d20001;font-weight:700;}
.stylist .order .short{position:relative;margin-right:80px;}
.stylist .order .short .slt{position:absolute;top:0;right:-80px;width:75px;}
.stylist .order .msg-box{line-height:28px;}
.stylist .order .ipt{width:240px;height:34px;vertical-align:top;}
.stylist .order .ft{padding-left:46px;}
.stylist .order .ft .ubtn{width:100%;height:40px;border-radius:3px;}
.stylist .prev{position:absolute;top:0;left:0;z-index:1;width:45px;height:45px;background:url(../images/btn_l.png) no-repeat;cursor:pointer;}
.stylist .next{position:absolute;top:0;right:0;z-index:1;width:45px;height:45px;background:url(../images/btn_r.png) no-repeat;cursor:pointer;}


.project{margin-top:20px;}
.project li{margin-bottom:20px;padding:20px 10px;border:1px solid #ddd;overflow:hidden;*zoom:1;}
.project li:hover{box-shadow:1px 4px 8px #ccc;}
.project .img{float:left;width:300px;height:200px;}
.project .desc{margin-left:350px;}
.project .desc .hd{position:relative;padding-bottom:5px;border-bottom:1px dashed #ddd;}
.project .desc .hd .yuyue{position:absolute;top:0;right:0;line-height:44px;width:150px;padding:0 16px 0 0;font-size:18px;border-radius:10px;background:#f29700 url(../images/icon_gd_01.png) 120px -93px no-repeat;}
.project .desc .hd h3{font-size:24px;}
.project .desc .hd h3 a{color:#333;}
.project .desc .hd h3 a:hover{color:#d20001;}
.project .desc .hd .date{line-height:30px;color:#999;}
.project .desc .bd{padding-top:10px;}
.project .desc .bd label{display:inline-block;width:340px;font-size:16px;line-height:35px;}
.project .schedule{position:relative;margin-top:6px;font-size:16px;}
.project .schedule h3{width:640px;display:block;background:url(../images/icon_gd2.png) 80px 3px  no-repeat;}
.project .schedule .step{padding-left:70px;overflow:hidden;}
.project .schedule span{float:left;display:inline-block;width:97px;text-align:center;}
.project .schedule i{width:0;height:26px;display:block;position:absolute;top:-1px;left:75px;background:url(../images/icon_gd2.png) 6px -23px no-repeat;transition: all .5s ease;}
.project .s1 i{ width: 93px;}
.project .s2 i{ width: 188px;}
.project .s3 i{ width: 284px;}
.project .s4 i{ width: 383px;}
.project .s5 i{ width: 480px;}
.project .s6 i{ width: 566px;}
.project .s7 i{ width: 677px;} 
.project .schedule:hover i{ width: 566px;}
.project span:hover,
.project .s1 .w1,
.project .s2 .w1,
.project .s2 .w2,
.project .s3 .w1,
.project .s3 .w2,
.project .s3 .w3,
.project .s4 .w1,
.project .s4 .w2,
.project .s4 .w3,
.project .s4 .w4,
.project .s5 span,
.project .s6 span,
.project .s7 span{color: #f29700;}
.project .s5 .w6,
.project .s5 .w7,
.project .s6 .w7{color: #444;}

.gc-info{overflow:hidden;}
.gc-info .desc{float:left;width:790px;height:auto;padding:36px 15px 37px;border:1px solid #ddd;}
.gc-info .desc .img{float:left;width:300px;height:200px;}
.gc-info .desc .attr{float:right;width:470px;}
.gc-info .desc .attr h3{font-size:24px;margin-bottom:10px;padding-bottom:15px;border-bottom:1px dashed #ddd;}
.gc-info .desc .attr label{display:inline-block;width:220px;font-size:16px;line-height:40px;}

.gc-info .side{float:right;width:350px;}
.gc-info .tit{background:#f39c12;color:#fff;font-size:18px;line-height:40px;text-align:center;}
.gc-info .visit{padding:20px;border:1px solid #ddd;text-align:center;border-top:0;}
.gc-info .visit .group{position:relative;margin-bottom:14px;}
.gc-info .visit .group .msg-box{line-height:36px;}
.gc-info .visit .ipt,
.gc-info .visit .slt{width:100%;height:38px;}
.gc-info .visit .ubtn{width:100%;height:38px;}

.progress{margin-top:50px;}
.progress li{position:relative;padding-left:103px;overflow:hidden;}
.progress li:nth-child(even){background-color:#f5f5f5;}
.progress li .idx{position:absolute;left:40px;top:28px;}
.progress li .cnt{padding-left:40px;border-left:1px solid #ddd;}
.progress li .hd{padding-top:20px;font-size:30px;}
.progress li .hd span{margin-left:20px;font-size:20px;color:#999;vertical-align:bottom;}
.progress li .thumb{padding:40px 0;overflow:hidden;}
.progress li .thumb img{float:left;width:200px;margin:0 10px 10px 0;}

/*.fixed-bottom-iframe{position:fixed;left:0;bottom:0;height:396px;width:100%;z-index:9;}*/
.fixed-bottom-iframe{position:fixed;left:0;bottom:0;width:100%;z-index:9;height:120px;}
.fixed-bottom-iframe .mx{position:relative;width:965px;height:120px;margin:0 auto 0;cursor:pointer;overflow:hidden;}
.fixed-bottom-iframe .bg{position:absolute;top:44px;left:0;right:0;bottom:0;background:#000;background:rgba(0,0,0,0.7);filter:Alpha(opacity=90);}
.fixed-bottom-iframe .mx .img{position:absolute;top:0;left:50px;width:720px;height:120px;background:url(../images/abc.png) no-repeat;}
.fixed-bottom-iframe .mx .cursor{position:absolute;left:880px;top:70px;width:21px;height:29px;background:url(../images/biao.png) no-repeat;}
.fixed-bottom-iframe .mx .down{position:absolute;right:100px;top:60px;width:42px;height:47px;background:url(../images/bottom_slide_ud.png) no-repeat;}
.fixed-bottom-iframe .mx .up{background-position:-45px 0;-webkit-animation:bounce-up 1.4s linear infinite;animation:bounce-up 1.4s linear infinite;}
/*.fixed-bottom{background:#000;background:rgba(0,0,0,0.7);filter:Alpha(opacity=90);}*/
.fixed-bottom .bd{position:relative;width:965px;height:320px;margin:0 auto;background:#fff;overflow:hidden;}

.fixed-bottom .col1{position:relative;width:409px;height:276px;padding:24px 40px; float: left;border-right:1px solid #ddd;}
.fixed-bottom .col1 h3{font-size:20px;color:#333;}
.fixed-bottom .col1 span{margin-left:10px;color:#f36f20;font-size:12px;}
.fixed-bottom .form .sp{position:relative;line-height:34px;margin-top:16px;width:314px;}
.fixed-bottom .ipt{vertical-align:top;}
.fixed-bottom .msg-box{line-height:32px;}
.fixed-bottom .form .ipt, .fixed-bottom .form .slt{width:240px;height:34px;}
.fixed-bottom .col2{float:right;width:302px;padding:64px 40px 24px;}
.fixed-bottom .col2 .result{width:300px;padding:40px 0;border:1px solid #eee;}
.fixed-bottom .col2 .result h3{height:60px;margin-top:-80px;font-size:22px;font-weight:700;text-align:center;}
.fixed-bottom .col2 .result p{font-size:18px;margin:5px 0 0 100px;}
.fixed-bottom .col2 em{color:#f50;}
.fixed-bottom .start{position:absolute;top:50px;left:400px;width:180px;height:180px;background:#fff;}
.fixed-bottom .start .btn{width:180px;height:180px;background:#fff url(../images/start_btn.jpg) no-repeat 50% 50%;transition:all .3s;text-indent:-99em;overflow:hidden;border:0;cursor:pointer;}
.fixed-bottom .start .btn:hover{transform:scale(0.9);box-shadow:none;}

@-webkit-keyframes bounce-up{
	25%{-webkit-transform:translateY(10px);}
	50%,100%{-webkit-transform:translateY(0);}
	75%{-webkit-transform:translateY(-10px);}
}
@keyframes bounce-up{
	25%{transform:translateY(10px);}
	50%,100%{transform:translateY(0);}
	75%{transform:translateY(-10px);}
}