<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>调度管理</title>
	<meta name="renderer" content="webkit" />
	<link rel="stylesheet" href="assets/css/style.css" />
	<script src="assets/js/jquery191.js"></script>
</head>
<body>

<div class="side" id="side">
    <div class="search">
        <form name="search">
            <label>车辆列表</label>
            <input type="text" class="ipt" placeholder="请输车牌号" onkeyup="searchCar(this)">
            <button type="button" class="ico ico-search"></button>
            <button type="button" onclick="getCarTree(0,0,0,0)" class="ico ico-refresh"></button>
        </form>
        <div class="choose" id="autoSearch"></div>
    </div>
    <div class="tools">
        <span class="li active" onclick="getCarTree(0,0,0, 0)"><i class="ico ico-1"></i>全部车辆</span>
        <span class="li" onclick="getCarTree(2,0,0, 1)"><i class="ico ico-2"></i>在线车辆</span>
        <span class="li" onclick="getCarTree(1,0,0, 2)"><i class="ico ico-3"></i>离线车辆</span>
        <span class="li" onclick="getCarTree(0,0,1, 3)"><i class="ico ico-4"></i>出警车辆</span>
    </div>
    <div class="open"></div>
    <ul id="carTree" class="ztree"></ul>
</div>

<script src="assets/app/carTree.js"></script>

<div class="wrapper fold">
	<div class="box">
		<div class="tit">信息编辑</div>
		<div class="form g-form">
            <form class="myform" action="" name="filter" id="filter" method="POST" enctype="multipart/form-data">
				<div class="item req">
					<div class="txt">调度车辆：</div>
					<div class="cnt"><input type="text" class="ipt" name="car" id="jcar" value="" readonly="" style="text-overflow:ellipsis;"></div>
				</div>
				<div class="item req">
					<div class="txt">调度内容：</div>
					<div class="cnt"><input type="text" class="ipt" name="content" /></div>
				</div>
				<div class="item">
					<div class="txt">调度地址：</div>
					<div class="cnt">
						<input type="text" class="ipt" name="address" id="tipinput" autocomplete="off" />
						<input type="hidden" name="lng" id="lng">
						<input type="hidden" name="lat" id="lat">
					</div>
				</div>
				<div class="item">
					<div class="txt">调度电话：</div>
					<div class="cnt"><input type="text" class="ipt" name="phone" /></div>
				</div>
				<div class="item">
					<div class="txt">调度图片：</div>
					<div class="cnt">
						<input type="file" class="ipt" name="photo" id="jphoto" />
                        <input type="text" class="ipt hide" id="jthumb" />
                    </div>
				</div>
				<div class="item">
					<div class="txt">定时发送：</div>
					<div class="cnt">
						<i class="cbx" id="isClock"></i>
						<input type="text" class="ipt date hide" style="width:270px;" name="clockTime" />
						<span class="tips">(定时小于30min无法修改)</span>
					</div>
				</div>
				<div class="item">
					<button type="button" class="ubtn ubtn-red" id="jsubmit">发送</button>
					<button type="button" class="ubtn ubtn-red hide" id="jcancel">取消</button>
					<button type="submit" class="ubtn ubtn-red">查询</button>
					<button type="reset" class="ubtn ubtn-red">清空</button>
				</div>
			</form>
			<div class="gps">
				<label class="lbl">地图选点：</label>
				<div class="map" id="map"></div>
				<div class="tc">经度：<i id="slng" style="margin-right:30px;"></i>纬度：<i id="slat"></i></div>
			</div>
		</div>
	</div>

	<div class="box mt60">
		<div class="tit">历史记录</div>
		<div class="table mt15">
			<table>
				<thead>
				<tr>
					<th>调度发送时间</th>
					<th>调度文本</th>
					<th width="120">调度地址</th>
					<th>调度电话</th>
					<th>调度图片</th>
					<th>调度发送车辆</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody id="tbody"></tbody>
			</table>
		</div>
		<div class="operate">
			<div class="pagination"></div>
		</div>
	</div>
</div>

<div class="footer">
	<span>湖北省宏锐慧通信息技术有限公司</span>
</div>

<!-- 公用 -->
<script src="assets/plugins/layer/layer.js"></script>
<script src="assets/js/common.js"></script>

<!-- 页面专用 -->
<script src="assets/plugins/zTreeStyle/jquery.ztree.min.js"></script>
<script src="assets/plugins/datepicker/WdatePicker.js"></script>
<script src="assets/plugins/viewer/viewer.min.js"></script>
<script src="assets/js/art.template.js"></script>
<script src="assets/js/ajaxPage.js"></script>
<script id="tableTemp" type="text/html">
	{{each list as item i}}
	<tr>
		<td>{{item.datetime}}</td>
		<td>{{item.content}}</td>
		<td>{{item.address}}</td>
		<td>{{item.mobile}}</td>
		<td><img  height="60" width="80" src="{{item.pic}}" /></td>
		<td>
			{{if (item.car.length > 3) }}
			{{item.car.slice(0, 3).join('、') + '...'}}
			{{else}}
			{{item.car.join('、')}}
			{{/if}}
		</td>
		<td>
			<button type="button" class="ubtn ubtn-primary" onclick="_show({{item.id}})">详情</button>
			<button type="button" class="ubtn ubtn-primary" onclick="_edit({{item.id}})">编辑</button>
			<button type="button" class="ubtn ubtn-red" onclick="_delRow({{item.id}}, this)">删除</button>
		</td>
	</tr>
	{{/each}}
</script>
<script src="http://webapi.amap.com/maps?v=1.3&key=9d870244cd940650899a73c0566d7652&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Geocoder"></script>

<!-- 拦截ajax请求并返回虚拟数据(只做演示使用，开发时请删除) -->
<script src="assets/js/mock.js"></script>
<script>
	Mock.mock('http://g.cn', {
		"result": "SUCCESS",
		"totalSize": 18,
		"list|10": [{
			"id": "@increment",
			"datetime": "20170901 08:21",
			"content": "武汉市公安消防支队",
			"pic": "/static/uploads/1.jpg",
			"address": "武汉市公安消防支队",
			"mobile": /^1[345678]\d{9}$/,
			"car": ['鄂A10001', '鄂A10002', '鄂A10003', '鄂A10004']
		}]
	});
</script>
<!-- 拦截ajax请求并返回虚拟数据(只做演示使用，开发时请删除) end -->

<script id="detailTemp" type="text/html">
	<div>
		<p>创建时间：{{createTime}}</p>
		<p>是否定时：{{time}}</p>
		<p>定时发送时间：{{clockTime}}</p>
		<p>调度内容：{{content}}</p>
		<p>调度地址：{{address}}</p>
	</div>
	{{if carList.length > 0}}
	<div style="margin:15px 0;border-top:1px solid #ccc;"></div>
	<div class="nice-table">
		<div class="thead">
			<em class="col1">调度发送车辆</em>
			<em class="col2">调度状态</em>
		</div>
		<div class="tbody">
			{{each carList as item i}}
			<div class="tr">
				<em class="col1">{{item.car}}</em>
				<em class="col2">{{item.status}}</em>
			</div>
			{{/each}}
		</div>
	</div>
	{{/if}}
</script>
<script>
	// 调度详情
	function _show(iid) {
		$.ajax({
			url: '',
			data: {id: iid},
			success: function(res) {
				res = {
					"createTime": '2017-09-14 15:23:35',
					"time": '是',
					"clockTime": '2017-09-14 15:23:35',
					"content": '请往前街道口！',
					"address": '街道口',
					"carList": [
						{"car":"鄂A10001", "status":"已发送"},
						{"car":"鄂A10002", "status":"已发送"},
						{"car":"鄂A10001", "status":"已发送"},
						{"car":"鄂A10002", "status":"已发送"},
						{"car":"鄂A10001", "status":"已发送"},
						{"car":"鄂A10002", "status":"已发送"},
						{"car":"鄂A10003", "status":"已发送"}
					]
				}
				layer.open({
					btn: false,
					title: '调度详情',
					area: '360px',
					content: template('detailTemp', res)
				})
			}
		})
	}
	// 编辑
	function _edit(iid) {
		$.ajax({
			url: '',
			data: {id: iid},
			success: function(res) {
				window.scrollTo(0, 0);
				res = {
					"car": "鄂A10020",
					"content": '请往前街道口！',
					"address": 'A家风尚酒店(长春路店)',
					"phone": '5000002222',
					"photo": 's',
                    "lng":"114.31154947916667",
                    "lat":"30.554380154079862",
					"clockTime": '2017-09-14 15:23:35'
				}

				// 回填值
				$('#filter').find('.ipt').each(function(i, item) {
					if (res[this.name]) {
						if (this.type === 'file') {
							$(this).after('<input type="text" class="ipt" style="position:absolute;left:0;top:0;" id="jupfile" readonly="" value="' + res[this.name] + '" />');
						} else {
							this.value = res[this.name];
						}
					}
				})
				if (res.clockTime) {
					$('#isClock').addClass('cbx-on').nextAll().show();
				} else {
					$('#isClock').removeClass('cbx-on').nextAll().hide();
				}
				// 显示地图坐标点
                map.clearMap();
		        new AMap.Marker({
		            map: map,
		            position: [res.lng, res.lat],
		            icon: new AMap.Icon({            
		                size: new AMap.Size(23, 28), 
		                image: 'assets/images/icon/marker.png'
		            })        
		        });
		        map.setFitView();

				$('#jcancel').show().next().hide();
			}
		})
	}
	// 删除
	function _delRow(iid, el) {
		$.ajax({
			url: '',
			success: function() {
				$(el).closest('tr').remove();
			}
		})
	}

    // 点击机构或小车名称
    function clickCarName(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj('carTree');
        var checked = treeNode.checked;
        zTree.checkNode(treeNode, !checked, true);
        zTree.cancelSelectedNode(); // 取消节点选中状态

        clickCarInput(event, treeId, treeNode);
    }

    // 勾选机构或小车
    function clickCarInput(event, treeId, treeNode) {
        var carTree = $.fn.zTree.getZTreeObj('carTree'),
            nodes = carTree.getCheckedNodes(true),
            value = [],
            carIds = [];
        cars = {}; // 重置车辆勾选状态
        $.each(nodes, function(i, item) {
            // 保存机构和车辆勾选状态
            cars[item.id] = true;
            if (item.iconSkin === 'car') {
                value.push(nodes[i].name);
                carIds.push(nodes[i].id);
            }
        })
        if (value.length < 5) {
            $('#jcar').val(value.join(',')).data('tips', '');
        } else {
            $('#jcar').val(value.join(',')).data('tips', '<span>' + value.join('</span>，<span>') + '</span>');
        }
        $('#jcarId').val(carIds.join(','));
    }

	/**
	 * 只显示子节点图标
	 * @return {null}
	 */
	function showIconBySon(treeId, treeNode) {
	    return treeNode.iconSkin;
	}

	var setting = {
		check: {
			enable: true,
			// chkStyle: "radio",
			// radioType: 'all',
			chkboxType: { "Y": "s", "N": "s"}
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "id",
				pIdKey: "pid",
				rootPId: null
			}
		},
		view: {
	        showIcon: showIconBySon
		},
		callback: {
            onClick: clickCarName,
            onCheck: clickCarInput
		},
        done: function(treeObj) {
            var id = fx.GetQueryString('id');
            if (id) {
                var node = treeObj.getNodeByParam('id', id);
                treeObj.checkNode(node,true,false);
                cars[id] = true;
                $('#jcar').val(node.name);
                $('#jcarId').val(node.id);
            }

        }
	};



	var map = new AMap.Map('map');
	//输入提示
	var autoOptions = {
		input: "tipinput"
	};
	var auto = new AMap.Autocomplete(autoOptions);
	var placeSearch = new AMap.PlaceSearch({
		map: map
	});  //构造地点查询类
	AMap.event.addListener(auto, 'select', _autoSelect);//注册监听，当选中某条记录时会触发
	AMap.event.addListener(placeSearch, 'markerClick', _markerClick);//注册监听，当点击某个点时会触发
	function _autoSelect(e) {
		if (e.poi && e.poi.location) {
			map.setZoom(15);
			map.setCenter(e.poi.location);
			$('#lng').val(e.poi.location.lng);
			$('#lat').val(e.poi.location.lat);
			$('#slng').html(e.poi.location.lng);
			$('#slat').html(e.poi.location.lat);
		}
		placeSearch.setCity(e.poi.adcode);
		placeSearch.search(e.poi.name);  //关键字查询查询
	}

	function _markerClick(e) {
		if (e.data && e.data.location) {
			map.setZoom(15);
			map.setCenter(e.data.location);
			var pt = {
				lng: e.data.location.lng,
				lat: e.data.location.lat
			}
			var address = e.data.name;
			mapCallback(pt, address);
		}
	}

	map.on('click', function(e) {
		var address = '';
		var pt = {
			lng: e.lnglat.getLng(),
			lat: e.lnglat.getLat()
		}
		var geocoder = new AMap.Geocoder({
			radius: 1000,
			extensions: "all"
		});
		var lnglatXY = new AMap.LngLat(pt.lng, pt.lat);
		geocoder.getAddress(lnglatXY, function(status, result) {
			if (status === 'complete' && result.info === 'OK') {
				address = result.regeocode.formattedAddress;
			}
			try{
				mapCallback(pt, address);
			}catch(err){}
		});
	});

	// 地图选点回调
	function mapCallback(pt, address) {
		var msg = '确定保存该地点经纬度？ <br/>';
		msg += '地点位置：' + address + '<br/>';
		msg += '地点坐标：经度：' + pt.lng + ',纬度：' + pt.lat + '<br/>';

		fx.confirm(msg, function() {
			$('#tipinput').val(address);
			$('#lng').val(pt.lng);
			$('#lat').val(pt.lat);
			$('#slng').html(pt.lng);
			$('#slat').html(pt.lat);
		});
	}
var oType = 'edit';
	var _global = {
		init: function() {
            this.filter();
            this.bindEvent();
		},
		filter: function() {
			var that = this;
			var $form = $('#filter');
			var page =  new Page({
				request: false,
				pageIndex: 1, // 当前页
				pageSize: 10, // 每页显示10条
				url: 'http://g.cn',
				callback: function(res) {
					$('#tbody').empty().html(template('tableTemp', res)).viewer('destroy').viewer();
				}
			})

			// 查询
			$form.on('submit', function() {
				var filterData = $form.serializeArray();
				page.request(true, filterData);
				return false;
			})


            function _query() {
                var carNumber = $('#jcar').val();
                if(carNumber.indexOf(',') > -1) {
                    $.notify({
                        title: '只能勾选一辆小车',
                        type: 'warning'
                    })
                }  else {
                    var filterData = $form.serializeArray();
                    page.request(true, filterData);
                }
            }

            function _reset() {
                $form[0].reset();
                var treeObj = $.fn.zTree.getZTreeObj('carTree');
                treeObj.checkAllNodes(false);
                $('#jcarId').val('');
                $('#jdrId').val('0');
                $('#jcancel').hide().next().show();
                $('#jthumb').hide();
                $('#isTiming').removeClass('cbx-on');
                cars = {};
                oType = '';
            }

			// 发送
			$('#jsubmit').on('click', function() {
				var filterData = $form.serializeArray();
				var data = {};
				$.each(filterData, function(i, item) {
					data[item.name] = item.value;
				})
				if (data['carId'] == '') {
                    $.notify({
                        'title': '请至少选择一辆小车',
                        'type': 'warning'
                    })
                    return false;
                }
				if (data['content'] == '') {
					$.notify({
						'title': '请填写发送内容',
						'type': 'warning'
					})
					return false;
				}

				$('#jcancel').hide().next().show();
                $('#jthumb').hide();

                var url = oType === 'edit' 
                    ? '/dispatchRecord/updateDispatchRecord' 
                    : '/dispatchRecord/addDispatchRecord';

				$.ajaxFileUpload({
                    type: 'POST',
                    url : 'json.php',
                    secureuri : false,
                    fileElementId : 'jphoto',
                    dataType : 'json',
                    data : data,
                    success : function(data, status) {
                        $.notify({
                            'title': '发送成功！',
                            'type': 'warning'
                        })
                        $form[0].reset();
                        var treeObj = $.fn.zTree.getZTreeObj('carTree');
                        treeObj.checkAllNodes(false);
                        // $('#jcarId').val('');
                        _query();
                    },
                    error : function(data, status, e) {
                        $.notify({
                            'title': '发送失败！',
                            'type': 'warning'
                        })
                    }
                })
			})

			// 取消
			$('#jcancel').on('click', function() {
                _reset();
			})

			// 定时发送
			$('#isClock').on('click', function() {
				var time = $(this).hasClass('cbx-on');
				$(this).toggleClass('cbx-on');
				if (time) {
					$(this).next().val('').hide().next().hide();
				} else {
					$(this).nextAll().show();
				}
			}).next().on('click', function() {
                WdatePicker({autoPickDate:true,minDate:'%y-%M-%d %H:%m:%s',dateFmt:'yyyy-MM-dd HH:mm:ss'})
            })

		},
		bindEvent: function() {
			$('#jcar').tooltipsy({placement: 'right'});
		}
	}


</script>

</body>
</html>