<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>车辆监控</title>
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/plugins/date/daterangepicker.min.css" />
    <script src="assets/js/jquery191.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header cf">
    <div class="logo">
        <a href="index.html">武汉119作战指挥中心调度平台<em>Intelligent command platform for fire fighting</em></a>
    </div>
    <div class="nav">
        <ul>
            <li>
                <dl>
                <dt><i class="ico ico-1"></i>每日警情</dt>
                    <dd>
                        <a href="track.html">车辆监控</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><i class="ico ico-2"></i>历史统计</dt>
                    <dd>
                        <a href="alarmHotSpot.html">警情记录</a>
                        <a href="alarmRecord.html">报警记录</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><i class="ico ico-3"></i>车辆监控</dt>
                    <dd>
                        <a href="ocxClient.html">视频监控</a>
                        <a href="videoConference.html">视频会议</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><i class="ico ico-5"></i>地图管控</dt>
                    <dd>
                        <a href="track.html">车辆监控</a>
                        <a href="dispatcherManage.html">调度管理</a>
                        <a href="trackHis.html">历史轨迹</a>
                        <a href="railManage.html">电子围栏</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><i class="ico ico-6"></i>系统管理</dt>
                    <dd>
                        <a href="carManage.html">车辆管理</a>
                        <a href="orgManage.html">机构管理</a>
                        <a href="userManage.html">用户管理</a>
                        <a href="roleManage.html">角色管理</a>
                        <a href="purviewManage.html">权限管理</a>
                        <a href="contactsManage.html">通讯录管理</a>
                    </dd>
                </dl>
            </li>
            <li class="admin">
                指挥长 <em>欢迎登录</em>
            </li>
            <li class="dropdown">
                <dl class="menu">
                    <dt>设置</dt>
                    <dd>
                        <a href="javascript:;" id="mdyH1">配置标题</a>
                        <a href="javascript:;" id="mdyPwd">修改密码</a>
                        <a href="login.html">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-- header end -->


<div class="side" id="side">
    <div class="search">
        <form name="search">
            <label>车辆列表</label>
            <input type="text" class="ipt" placeholder="请输车牌号" onkeyup="searchCar(this)">
            <button type="button" class="ico ico-search"></button>
            <button type="button" onclick="getCarTree(0,0,0,0)" class="ico ico-refresh"></button>
        </form>
        <div class="choose" id="autoSearch"></div>
    </div>
    <div class="tools">
        <span class="li active" onclick="getCarTree(0,0,0, 0)"><i class="ico ico-1"></i>全部车辆</span>
        <span class="li" onclick="getCarTree(2,0,0, 1)"><i class="ico ico-2"></i>在线车辆</span>
        <span class="li" onclick="getCarTree(1,0,0, 2)"><i class="ico ico-3"></i>离线车辆</span>
        <span class="li" onclick="getCarTree(0,0,1, 3)"><i class="ico ico-4"></i>出警车辆</span>
    </div>
    <div class="open"></div>
    <ul id="carTree" class="ztree"></ul>
</div>
<script src="assets/app/carTree.js"></script>

<div class="map" id="map"></div>

<div class="side" id="side4">
    <button type="button" class="tooltip ico ico-1" data-tips="路况" id="traffic"></button>
    <button type="button" class="tooltip ico ico-2" data-tips="机构" id="org"></button>
    <button type="button" class="tooltip ico ico-3" data-tips="警情" id="avc"></button>
    <button type="button" class="tooltip ico ico-4" data-tips="消防栓" id="xfs"></button>
</div>

<div class="side" id="side5">
    <div class="tit">实时报警 </div>
    <ul></ul>
    <div class="open"></div>
</div>

<div class="side" id="side6">
    <div class="tit"><button type="button" class="ico ico-add" onclick="_addAlarm();"></button>警情列表</div>
    <div class="tab">
        <span class="active">待处理（<i class="t1">0</i>）</span>
        <span>处理中（<i class="t2">0</i>）</span>
    </div>
    <div class="cont">
        <div class="item">
            <ul class="ul1"></ul>
        </div>
        <div class="item hide">
            <ul class="ul2"></ul>
        </div>
    </div>
    <div class="open"></div>
</div>

<div class="sirens">
    <span class="ubtn ubtn-red" id="sirens1" onclick="getAlarm(1)">全部警情（14起）</span>
    <span class="ubtn ubtn-red" id="sirens2" onclick="getAlarm(2)">实时警情（4起）</span>
    <span class="ubtn ubtn-red" id="sirens3" onclick="getAlarm(3)">处理完毕警情（10起）</span>
</div>

<div class="footer-fix">
    <span>湖北省宏锐慧通信息技术有限公司</span>
</div>


<!-- 点击小车详情模板 -->
<script id="carTemp" type="text/html">
    <div class="layer-detail">
        <ul class="ul1">
            <li>车辆所属机构：{{position.car.agency.agencyName}}</li>
            <li>终端SIM：{{position.car.terminalSim}}</li>
            <li>使用人姓名：{{position.car.carUsername}}</li>
            <li>使用人电话：{{position.car.carUserPhone}}</li>
            <li>车辆用途：
                
                    {{if (position.car.carUse==1)}} 出租营运 {{/if}}
                
                    {{if (position.car.carUse==2)}} 客运 {{/if}}
                
                    {{if (position.car.carUse==3)}} 工程运输 {{/if}}
                
                    {{if (position.car.carUse==4)}} 危险货物运输 {{/if}}
                
                    {{if (position.car.carUse==5)}} 交通大队警用摩托 {{/if}}
                
                    {{if (position.car.carUse==6)}} 交通大队警用汽车 {{/if}}
                
                    {{if (position.car.carUse==7)}} 特警专用 {{/if}}
                
                    {{if (position.car.carUse==8)}} 汉警快骑 {{/if}}
                
                    {{if (position.car.carUse==9)}} 搬家公司车 {{/if}}
                
                    {{if (position.car.carUse==10)}} 混泥土搅拌车 {{/if}}
                
                    {{if (position.car.carUse==11)}} 绿通车 {{/if}}
                
                    {{if (position.car.carUse==12)}} 普通货运车 {{/if}}
                
                    {{if (position.car.carUse==13)}} 邮政快递车 {{/if}}
                
                    {{if (position.car.carUse==14)}} 消防车 {{/if}}
                
            </li>
            <li>车辆在线状态：
                
                    {{if (position.car.carStatus==1)}} 离线 {{/if}}
                
                    {{if (position.car.carStatus==2)}} 在线 {{/if}}
                
            </li>
            <li>车辆出警状态：
                
                    {{if (position.car.actionStatus==1)}} 未出警 {{/if}}
                
                    {{if (position.car.actionStatus==2)}} 通知 {{/if}}
                
                    {{if (position.car.actionStatus==3)}} 出动 {{/if}}
                
                    {{if (position.car.actionStatus==4)}} 到场 {{/if}}
                
                    {{if (position.car.actionStatus==5)}} 返队 {{/if}}
                
                    {{if (position.car.actionStatus==6)}} 归队 {{/if}}
                
                    {{if (position.car.actionStatus==7)}}  {{/if}}
                
            </li>
        </ul>
        <ul class="ul2">
            <li>电子围栏状态：

                
                    {{if (position.car.efStatus==1)}} 未报警 {{/if}}
                
                    {{if (position.car.efStatus==2)}} 出围栏报警 {{/if}}
                
                    {{if (position.car.efStatus==3)}} 进围栏报警 {{/if}}
                
            </li>
            <li>状态回告：
                
                    {{if (position.car.statusReturn==1)}} 未报警 {{/if}}
                
                    {{if (position.car.statusReturn==2)}} 支援求助 {{/if}}
                
                    {{if (position.car.statusReturn==3)}} 车辆故障 {{/if}}
                
                    {{if (position.car.statusReturn==4)}} 车辆缺水 {{/if}}
                
                    {{if (position.car.statusReturn==5)}} 车辆缺泡沫 {{/if}}
                
            </li>
            <li>GPS上报时间：{{position.registerTime}}</li>
            <li>GPS速度：{{position.speed}}km/h</li>
            <li>GPS地址：<em id="carPosition"></em></li>
            <li>车辆当日里程：{{position.distance}}km</li>
        </ul>
        {{if position.car.carStatus === 2}}
        <div class="btm tc">
            <a href="/ocxMonitor/manager?id={{position.car.carId}}&pageName=ocxMonitor" class="ubtn ubtn-red fr">视频监控</a>
            <a href="/carPositionRecord/manager?id={{position.car.carId}}&pageName=carPositionRecord"
               class="ubtn ubtn-red fl">历史轨迹</a>
            <a href="/dispatchRecord/manager?id={{position.car.carId}}&pageName=dispatchRecord" class="ubtn ubtn-red">调度管理</a>
            
        </div>
        {{/if}}
        {{if alarm.carActionStatus != 0 }}
        <div class="dynamic">
            <div class="hd">出警动态<i class="fold" onclick="dynamicFold()"></i></div>
            <div class="bd">
                <ul class="ul1">
                    <li>立案时间：{{alarm.asRegisterTime}}</li>
                    <li>燃烧对象：{{asBurnObject}}</li>
                    <li>案发地点：{{alarm.asAddress}}</li>
                    <li>距离现场距离：{{distance}}</li>
                </ul>
                <ul class="ul2">
                    <li>类别：
                        
                            {{if (alarm.asType==1)}} 火灾 {{/if}}
                        
                            {{if (alarm.asType==2)}} 社会救援 {{/if}}
                        
                            {{if (alarm.asType==3)}} 抢险救援 {{/if}}
                        
                            {{if (alarm.asType==4)}} 勤务保卫 {{/if}}
                        
                            {{if (alarm.asType==5)}} 其他 {{/if}}
                        
                    </li>
                    <li>级别：
                        
                            {{if (alarm.asLevel==1)}} 一级警情 {{/if}}
                        
                            {{if (alarm.asLevel==2)}} 二级警情 {{/if}}
                        
                            {{if (alarm.asLevel==3)}} 三级警情 {{/if}}
                        
                            {{if (alarm.asLevel==4)}} 四级警情 {{/if}}
                        
                    </li>
                    <li>车辆出警状态：
                        
                            {{if (position.car.actionStatus==1)}} 未出警 {{/if}}
                        
                            {{if (position.car.actionStatus==2)}} 通知 {{/if}}
                        
                            {{if (position.car.actionStatus==3)}} 出动 {{/if}}
                        
                            {{if (position.car.actionStatus==4)}} 到场 {{/if}}
                        
                            {{if (position.car.actionStatus==5)}} 返队 {{/if}}
                        
                            {{if (position.car.actionStatus==6)}} 归队 {{/if}}
                        
                            {{if (position.car.actionStatus==7)}}  {{/if}}
                        
                    </li>
                    <li>预计到场时间：{{minute}}</li>
                </ul>
            </div>
        </div>
        {{/if}}
    </div>
</script>
<!-- end 点击小车详情模板 -->


<!--警情详情模块-->
<script id="detailTemp" type="text/html">
<div class="layer-detail3">
    <div class="cnt1">
        <ul class="info">
            <li>立案时间：{{asRegisterTime}}</li>
            <li>处置对象：{{asBurnObject}}</li>
            <li>案发地点：{{asAddress}}</li>
            <li>报警人姓名：{{asPeopleName}}</li>
            <li>报警人电话：{{asPeoplePhone}}</li>
            <li>报警方式：电话报警</li>
            <li>人员被困：0</li>
            <li>报警内容：{{asText}}</li>
        </ul>
        <ul class="info">
            <li>警情类别：
                {{if (asType==1)}} 火灾 {{/if}}
                {{if (asType==2)}} 社会救援 {{/if}}
                {{if (asType==3)}} 抢险救援 {{/if}}
                {{if (asType==4)}} 勤务保卫 {{/if}}
                {{if (asType==5)}} 其他 {{/if}}
            </li>
            <li>警情级别：
                {{if (asLevel==1)}} 一级警情 {{/if}}
                {{if (asLevel==2)}} 二级警情 {{/if}}
                {{if (asLevel==3)}} 三级警情 {{/if}}
                {{if (asLevel==4)}} 四级警情 {{/if}}
            </li>
            <li>GPS经度：{{asLongitude}}</li>
            <li>GPS纬度：{{asLatitude}}</li>
            <li>主管支队：{{asDealAgencyName}}</li>
            <li>辖区中队：{{asDealAgencyName}}</li>
            <li>伤亡情况：{{asDealAgencyName}}</li>
            <li>警情状态：
                {{if (asStatus==1)}} 待处理 {{/if}}
                {{if (asStatus==2)}} 处理中 {{/if}}
                {{if (asStatus==3)}} 已处理 {{/if}}
                {{if (asStatus==4)}} 暂缓处理 {{/if}}
                {{if (asStatus==5)}} 忽略 {{/if}}
            </li>
        </ul>
        <div class="btm">
            {{if asStatus ===2 || asStatus ===3}}
            <button type="button" class="ubtn ubtn-red" disabled="disabled" onclick="_defer({{asId}})">暂缓处理</button>
            <button type="button" class="ubtn ubtn-red" disabled="disabled" onclick="_ignore({{asId}})">忽略</button>
            {{else}}
            <button type="button" class="ubtn ubtn-red" onclick="_defer({{asId}})">暂缓处理</button>
            <button type="button" class="ubtn ubtn-red" onclick="_ignore({{asId}})">忽略</button>
            {{/if}}
        </div>

        <div class="form1" id="diaopai">
            <form action="javascript:return false;" method="POST" name="anqin" id="anqin">
                <div class="item item2 req">
                    <label>案发地位置修正：</label>
                    <input type="text" class="ipt" id="asAddressEdit" name="asAddressEdit" value="{{asAddress}}" value=""/>
                    <button type="button" class="ubtn ubtn-red" onclick="showMap(1);" style="right:95px;">地图选点</button>
                    <button type="button" class="ubtn ubtn-red" onclick="_save({{asId}})">保存</button>
                </div>
                <div class="item">
                    <label>警情修正GPS经度：</label>
                    <input type="text" class="ipt" id="lng1" name="lng1" readonly value=""/>
                </div>
                <div class="item">
                    <label>警情修正GPS纬度：</label>
                    <input type="text" class="ipt" id="lat1" name="lat1" readonly value=""/>
                </div>
                <div class="item">
                    <label>车辆到场的地点：</label>
                    <input type="text" class="ipt" id="address" readonly  value="{{arriveAddress}}"/>
                </div>
                <div class="item3">
                    <div class="item">
                        <label>到场地点的经度：</label>
                        <input type="text" class="ipt" id="lng" readonly value="{{arriveLongitude}}"/>
                    </div>
                </div>
                <div class="item3">
                    <div class="item">
                        <label class="tr">到场地点的纬度：</label>
                        <input type="text" class="ipt" id="lat" readonly value="{{arriveLatitude}}"/>
                    </div>
                </div>
                <div class="item item2 req">
                    <label>选择需要调派的车辆：</label>
                    <input type="text" class="ipt ipt-tree" name="ddiaopai" id="ddiaopai" onclick="showCarMenu()" style="text-overflow:ellipsis;" readonly>
                    <input type="hidden" name="ddiaopaiId" id="ddiaopaiId">
                    <div class="layer-tree" style="left:143px;right:185px;">
                        <input type="text" class="ipt" name="orgName" id="orgName" placeholder="请输入中队机构名称" autocomplete="off" onkeyup="searchTree(this)" />
                        <div class="choose"></div>
                        <ul id="carTree2" class="ztree"></ul>
                    </div>
                    <button type="button" class="ubtn ubtn-red" style="right:90px;" onclick="_dispatch({{asId}})">调派</button>
                </div>
            </form>

            <div class="hide">
                <div class="map2" id="map2"></div>
                <div class="map2-close" onclick="showMap(false);">×</div>
            </div>
        </div>

        <div class="map3" id="detailMap"></div>
    </div>
    <div class="cnt2">
        <div class="table table1">
            <table>
                <caption>已选择的车辆</caption>
                <thead>
                    <tr>
                        <th>车辆名称</th>
                        <th>车牌号</th>
                        <th>车辆类型</th>
                        <th>使用人姓名</th>
                        <th>主管支队</th>
                        <th>辖区中队</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="table table2">
            <table>
                <caption>已调派的车辆</caption>
                <thead>
                    <tr>
                        <th>警情调派时间</th>
                        <th>调派车辆</th>
                        <th>接警车辆</th>
                        <th>接警时间</th>
                        <th>车辆到场时间</th>
                    </tr>
                </thead>
                
                <tbody>
                {{each alarmSituationCarList as carList}}
                <tr>
                    <td>{{carList.asDispatchTime}}</td>
                    {{if carList.status === 1}}
                    <td>{{carList.asCarCode}}</td>
                    <td></td>
                    {{else}}
                    <td>{{carList.asCarCode}}</td>
                    <td>{{carList.asCarCode}}</td>
                    {{/if}}
                    <td>{{asReceiveTime}}</td>
                    <td>{{asPresentTime}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="mid">
            <button type="button" class="ubtn ubtn-red" onclick="alarmLayerInfo.send()">调派车辆</button>
        </div>
    </div>
</div>
</script>

<!--添加新警情模块-->
<script id="alarmSituationTemp" type="text/html">
    <form id="addAlarm" name="addAlarm" method="POST" action="" onsubmit="return false;">
        <div class="form layer-form">
            <div class="ftit">新增警情</div>
            <div class="item req">
                <div class="txt">立案时间：</div>
                <div class="cnt">
                    <input class="ipt" name="asRegisterTime" id="createTime" type="text">
                </div>
            </div>
            <div class="item">
                <div class="txt">燃烧对象：</div>
                <div class="cnt">
                    <input type="hidden" name="fireId" id="fireId">
                    <input class="ipt ipt-tree" name="asBurnObject" id="asBurnObject" onclick="showFireMenu()" type="text" readonly />
                    <div class="layer-tree" style="top:100%;">
                        <input type="text" class="ipt" placeholder="请输入燃烧对象" autocomplete="off" onkeyup="searchTree(this)" />
                        <div class="choose"></div>
                        <ul id="frieTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
            <div class="item req">
                <div class="txt">警情类别：</div>
                <div class="cnt">
                    <select name="asType" class="slt select2" onchange="asTypeChange()">
                    </select>
                </div>
            </div>
            <div class="item req">
                <div class="txt">警情级别：</div>
                <div class="cnt">
                    <select name="asLevel" class="slt select2">
                    </select>
                </div>
            </div>
            <div class="item req">
                <div class="txt">案发地点：</div>
                <div class="cnt">
                    <input type="text" class="ipt" name="asAddress" id="tipinput3" autocomplete="off" style="width:260px;">
                    <button type="button" class="ubtn ubtn-red" onclick="showMap3(true);" style="position:absolute;top:0;right:10px;">地图选点</button>
                </div>
            </div>
            <div class="item req">
                <div class="txt">GPS经度：</div>
                <div class="cnt">
                    <input type="text" class="ipt" name="asLongitude" id="lng" readonly autocomplete="off">
                </div>
            </div>
            <div class="item req">
                <div class="txt">GPS纬度：</div>
                <div class="cnt">
                    <input type="text" class="ipt" name="asLatitude" id="lat" readonly autocomplete="off">
                </div>
            </div>
            <div class="item item-map3">
                <div class="map3" id="map3"></div>
                <div class="map3-close" onclick="showMap3(false);">×</div>
            </div>
            <div class="item">
                <div class="txt">报警人姓名：</div>
                <div class="cnt">
                    <input class="ipt" name="asPeopleName" type="text">
                </div>
            </div>
            <div class="item">
                <div class="txt">报警人电话：</div>
                <div class="cnt">
                    <input class="ipt" name="asPeoplePhone" type="text">
                </div>
            </div>
            <div class="item">
                <div class="txt">报警人方式：</div>
                <div class="cnt">
                    <input class="ipt" name="asPeopleType" type="text">
                </div>
            </div>
            <div class="item">
                <div class="txt">警情主管支队：</div>
                <div class="cnt">
                    <input class="ipt" name="asMainOrg" type="text" readonly>
                </div>
            </div>
            <div class="item">
                <div class="txt">警情管辖中队：</div>
                <div class="cnt">
                    <input type="hidden" name="asDealAgency" id="agencyId">
                    <input id="agency_name" name="agencyName"  type="text" readonly="" value="" class="ipt ipt-tree" onclick="showAgencyMenu();" />
                    <div class="layer-tree">
                        <input type="text" class="ipt" placeholder="请输入中队机构名称" autocomplete="off" onkeyup="searchTree(this)" />
                        <div class="choose"></div>
                        <ul id="agencyTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="txt">人员被困：</div>
                <div class="cnt">
                    <input class="ipt" name="astext2" type="text">
                </div>
            </div>
            <div class="item">
                <div class="txt">伤亡情况：</div>
                <div class="cnt">
                    <input class="ipt" name="astext3" type="text">
                </div>
            </div>
            <div class="item">
                <div class="txt">报警内容：</div>
                <div class="cnt">
                    <input class="ipt" name="asText" type="text">
                </div>
            </div>
            <div class="buttons">
                <button type="reset" class="ubtn ubtn-gray layer-close">取消</button>
                <button type="submit" class="ubtn ubtn-red" onclick="_alarmSubmit('add')">确定</button>
            </div>
        </div>
    </form>
</script>


<script id="sirensTemp" type="text/html">
<div class="layer-sirens">
    <ul class="ul1">
        <li>火灾扑救：<i class="s s-fire"></i> <em>{{fire}}</em>起</li>
        <li>反恐排爆：<i class="s s-cap"></i> <em>{{cap}}</em>起</li>
        <li>社会救助：<i class="s s-help"></i> <em>{{help}}</em>起</li>
    </ul>
    <ul class="ul2">
        <li>抢险救援：<i class="s s-rescue"></i> <em>{{rescue}}</em>起</li>
        <li>公务执勤：<i class="s s-duty"></i> <em>{{duty}}</em>起</li>
        <li>其&#12288;&#12288;他：<i class="s s-other"></i> <em>{{other}}</em>起</li>
    </ul>
    <dl>
        <dt>出动力量情况：</dt>
        <dd>
            <span>水罐消防车： <em>{{waterCar}}</em> 辆</span>
            <span>抢险救援车：<em>{{rescueCar}}</em> 辆</span>
            <span>泡沫消防车： <em>{{foamCar}}</em> 辆</span>
            <span>举高救援车：<em>{{jugaoCar}}</em> 辆</span>
            <span>其他： <em>{{otherCar}}</em> 辆 </span>
        </dd>
    </dl>
</div>
</script>
<!-- 公用 -->
<script src="assets/plugins/layer/layer.js"></script>
<script src="assets/plugins/datepicker/WdatePicker.js"></script>
<script src="assets/plugins/zTreeStyle/jquery.ztree.min.js"></script>
<script src="assets/js/art.template.js"></script>
<script src="assets/app/jquery.nicescroll.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.3&key=9d870244cd940650899a73c0566d7652&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Geocoder,AMap.MarkerClusterer"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/gaode.tools.js"></script>
<script src="assets/app/textcode.js"></script>
<script src="assets/app/monitor.js"></script>
<script src="assets/app/agencyTree.js"></script>

</body>
</html>