@media (min-width:992px){
	.container{width:970px;}
	.idx-focus .swiper-slide a:hover{text-decoration:none;-webkit-transform:scale(1.15);transform:scale(1.15);}
}
@media (max-width:1080px){
	.idx-floor{padding:30px 0;}
	.idx-subhead{height:84px;}
	.idx-subhead .tit{line-height:84px;}
	.idx-subhead .plus{width:200px;background-size:50% auto;}
	.idx-subhead .plus:before{left:-25px;width:50px;}
	.idx-subhead .hour{right:200px;}
	nav{height:44px;}
	nav li{width:11.11%;}
	nav li:first-child{background:none;}
	nav li a{line-height:44px;font-size:14px;}
	.idx-banner .login{display:none;}
	.side-bar{display:none;}
}

@media (max-width:768px){
	header .logo{width:60%;}
	.idx-subhead{height:64px;}
	.idx-subhead .tit{line-height:64px;}
	.idx-subhead .plus{width:160px;}
	.idx-subhead .plus:before{left:-19px;width:38px;}
	.idx-subhead .hour{right:160px;}
	.idx-news .swiper-wrapper{width:100%;}
	.idx-dl-horizontal dl{padding:10px 0;}
	.idx-focus{display:none;}
	.idx-focus-mini{display:block;}
	.idx-focus-mini .swiper-prev{left:10px;}
	.idx-focus-mini .swiper-next{right:10px;}
}

@media (max-width:750px) {
	nav{height:36px;}
	nav li a{font-size:12px;line-height:36px;}
	.idx-floor{padding:15px 0;}
	.idx-banner .swiper-slide{height:240px;}
	.idx-subhead{height:34px;}
	.idx-subhead .tit{line-height:34px;font-size:14px;}
	.idx-subhead .tit span{font-size:12px;}
	.idx-subhead .plus{width:70px;background-size:70% auto;}
	.idx-subhead .plus:before{left:-10px;width:20px;}
	.idx-subhead .hour{right:70px;}
	.idx-guide h3{height:34px;padding:0 10px;background-size:100% 34px;}
	.idx-guide h3:before{display:none;}
	.idx-guide .detail{padding:10px;}
	.idx-guide .desc{margin-bottom:15px;}
	.idx-exp .detail{height:auto;}
	.idx-hd .tit{padding-right:10px;font-size:14px;line-height:24px;}
	.idx-hd .tit span{font-size:12px;}
	.idx-hd .more{padding-left:10px;line-height:24px;}
	.idx-hd .more a{font-size:12px;}
	.idx-bd{margin-top:15px;}
	.col-sm-4{float:left;width:33.3333%;}
	.col-sm-5{float:left;width:45%;}
	.col-sm-7{float:right;width:55%;}
	.idx-dl-horizontal dd{height:77px;overflow:hidden;}
}

@media (max-width:670px){
	header .hotline{padding-left:50px;background-size:auto 90%;}
	header .hotline span{font-size:14px;}
	header .hotline a{font-size:20px;}
	.idx-banner .swiper-slide{height:200px;}
	.col-sm-4{float:none;width:auto;margin-top:15px;}
	.col-sm-4:first-child{margin-top:0;}
	.brands .col-sm-4{margin-top:0;}
	.col-sm-5{float:none;width:auto;}
	.col-sm-7{float:none;width:auto;margin-top:15px;}
	.col-md-2{float:left;width:33.3333%;}
	.idx-news .swiper-container{width:300px;}
}

@media (max-width:480px){
	header .hotline{padding-left:40px;background-size:auto 90%;}
	header .hotline span{font-size:12px;}
	header .hotline a{font-size:16px;}
	nav .container{padding:0;}
}

@media (max-width:460px){
	header{position:fixed;top:0;left:0;right:0;z-index:9;background-color:#fff;}
	header .logo{width:75%;}
	header .hotline{display:none;}
	header .menu-icon{display:block;font-size:24px;}
	.idx{margin:0;padding-top:50px;}
	nav{height:0;position:relative;z-index:9;}
	nav ul{position:fixed;top:40px;right:-100px;background:none;width:66px;background-color:rgba(0,0,0,.8);}
	nav.active ul{right:0;}
	nav li{float:none;width:100%;padding:0;background:none;}
	nav li.login{display:block;}
	nav li a{font-size:12px;line-height:36px;}
	.idx-news .swiper-container{width:auto;}
	.cooperation .col-sm-4{float:left;width:50%;}
	.col-md-2{float:left;width:50%;}

}
@media (max-width:360px){
	header .menu-icon{font-size:16px;}
	.idx-subhead .tit span{display:none;}
	.idx-hd .tit span{display:none;}
}