@charset "utf-8";
body{font-family:"微软雅黑",Arial;font-size:12px;color:#999;}
/*header,section{width:100%;}*/
table{border-collapse:collapse;}
p{margin:0;}
a:focus{outline:none;}

.topbar{display:none;}
.topbar{background-color:#f0f0f0;line-height:30px;}
.topbar .container{position:relative;z-index:8;}
.topbar .txt{position:relative;z-index:2;}
.topbar .menu{position:absolute;top:3px;right:0;margin:0;padding:25px 0 0;background-color:#fff;border:1px solid #ddd;list-style:none;display:none;}
.topbar .menu li{padding:0 15px;text-align:center;}
.topbar .menu li:hover{background-color:#f0f0f0;}
.topbar .pull-right:hover .menu{display:block;}
.topbar .pull-right a:hover{text-decoration:none;}

/* header */
header{padding:5px 0;}
header .container{position:relative;}
header .logo{float:left;padding:10px 10px 10px 80px;background:url(../images/logo.png) no-repeat 0 50%;}
header .logo a{display:block;line-height:36px;font-size:24px;color:#333;}
header .logo a:hover,
header .logo a:focus,
header .logo a:active{text-decoration:none;}
header .logo span{display:block;line-height:18px;font-size:14px;color:#999;}
header .sub-title{width:370px;height:74px;padding:10px 0;line-height:54px;font-size:18px;color:#333;overflow:hidden;}
header .hotline{position:absolute;top:15px;right:10px;padding-left:65px;background:url(../images/tel.png) no-repeat 0 50%;}
header .hotline span{display:block;padding-left:5px;font-size:16px;color:#505050;}
header .hotline a{font-size:24px;font-style:italic;color:#ff2500;}
header .hotline a:hover{text-decoration:none;}
header .menu-icon{display:none;position:absolute;top:10px;right:10px;color:#ff2500;}
header .menu-icon a{color:#ff2500;text-decoration:none;}
header .menu-icon span{margin-left:10px;cursor:pointer;}

/* nav */
nav{height:50px;background-color:#293647;}
nav ul{margin:0;padding:0;list-style:none;-webkit-transition:right .2s ease-in-out;transition:right .2s ease-in-out;}
nav li{position:relative;float:left;width:14.28%;padding-left:1px;text-align:center;background:url(../images/list_style_nav.png) no-repeat 0 50%;}
nav li:first-child{background:none;}
nav li.login{display:none;}
nav li:hover{background-color:#127aa1;}
nav li:hover .subnav{display:block;}
nav li a{display:block;line-height:50px;font-size:16px;color:#fff;overflow:hidden;}
nav li a:hover,
nav li a.active{color:#fff;background-color:#127aa1;text-decoration:none;}
nav li .subnav{position:absolute;top:100%;right:0;z-index:9;width:100%;background-color:#293647;display:none;}
nav li .subnav a{font-size:12px;border-top:1px solid #ccc;}
nav .plus li{width:12.5%;}
/*nav li.login{display:none;}*/

/* footer */
footer .copyright{padding:30px 20px;line-height:24px;color:#fff;text-align:center;background-color:#293647;}

/* cooperation */
.cooperation{padding-bottom:50px;}
.cooperation .brands{overflow:hidden;}
.cooperation .brands a{display:block;margin:5px 0;border:1px solid #ddd;text-align:center;overflow:hidden;}
.cooperation .brands a:hover{text-decoration:none;}
.cooperation .brands a img{max-width:100%;}

/* swiper */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;}
.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-wrapper:after{display:table;content:"";clear:both;}
.swiper-free-mode > .swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide{float:left;width:100%;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-slide:nth-child(n+2){display:none;}
.swiper-wp8-horizontal{-ms-touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;}
.swiper-guide{position:absolute;left:0;bottom:10px;width:100%;}
.swiper-pagination-switch{display:inline-block;width:14px;height:14px;margin:0 5px;border-radius:14px;background:#fff;cursor:pointer;}
.swiper-active-switch{background:#fa8100;}

/* side-bar */
.side-bar{position:fixed;top:30%;right:0;width:50px;text-align:center;}
.side-bar a{display:block;color:#fff;}
.side-bar a:hover{text-decoration:none;}
.side-bar .gotop{background:#127aa1 url(../images/arrow2.png) 50% 14px no-repeat;color:#fff;}
.side-bar .gotop a{height:50px;padding-top:6px;line-height:50px;font-weight:700;overflow:hidden;}
.side-bar .service{background-color:rgba(0,0,0,.7);}
.side-bar .service a{height:50px;line-height:999px;background-position:50%;background-repeat:no-repeat;overflow:hidden;}
.side-bar .service a.qq{background-image:url(../images/qq.png);}
.side-bar .service a.tel{background-image:url(../images/tel2.png);}
.side-bar .contact{margin-top:8px;padding-top:20px;background:#d11e37 url(../images/msg.png) no-repeat 50% 20px;}
.side-bar .contact a{padding:30px 10px 20px;font-size:16px;line-height:18px;}


/* page index start =================================================================*/
.idx{margin-top:10px;}
.idx h3{margin:0;font-size:14px;}

/*.idx-banner{height:450px;}*/
.idx-banner{position:relative;}
.idx-banner .swiper-slide{height:450px;background-size:cover;}
.idx-banner .swiper-slide a{display:block;height:100%;}
.idx-banner .swiper-guide{text-align:center;}
.idx-banner .login{position:absolute;top:40px;right:140px;width:300px;padding:10px 20px;line-height:24px;font-size:12px;color:#fff;background-color:rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);}
.idx-banner .login h2{margin:0;line-height:24px;font-size:14px;border-bottom:1px solid #fff;}
.idx-banner .login .item{position:relative;margin-top:16px;padding-left:66px;}
.idx-banner .login .item .for{position:absolute;top:0;left:0;width:66px;line-height:30px;margin:0;}
.idx-banner .login .item .ipt{clear:both;width:100%;height:30px;;padding:6px 5px;line-height:18px;border:none;color:#333;}
.idx-banner .login .item .code{width:106px;}
.idx-banner .login .item .verify{float:right;width:80px;height:30px;vertical-align:top;cursor:pointer;}
.idx-banner .login .item .cbx{display:inline-block;line-height:30px;margin:0 20px 0 0;}
.idx-banner .login .item .cbx input{margin-right:4px;vertical-align:-2px;}
.idx-banner .login .button{padding:20px 0 0 0;text-align:right;}
.idx-banner .login .button .submit{width:100%;height:34px;background:url(../images/bg_submit.png);border:none;font-size:14px;}
.idx-banner .login .reg{margin-top:-24px;text-align:right;}
.idx-banner .login .reg a{color:#ffcd36;}
.idx-banner .login .find-pwd{color:#fff;}

/* idx-focus */
.idx-focus{padding:30px 0;background-color:#f1eef8;overflow:hidden;}
.idx-focus .container{position:relative;height:280px;}
.idx-focus .swiper-container{width:940px;height:280px;}
.idx-focus .swiper-slide{width:235px;height:280px;}
.idx-focus .swiper-slide:nth-child(n+5){display:none;}
.idx-focus .swiper-slide a{display:block;margin:20px;text-align:center;transition:all .3s;}
.idx-focus .swiper-slide img{display:block;width:100%;}
.idx-focus .swiper-slide span{display:block;padding:20px 0;background-color:#fff;color:#999;}
.idx-focus .swiper-slide strong{display:block;margin-bottom:4px;font-size:20px;color:#333;}
.idx-focus .arrow{position:absolute;top:0;width:21px;height:100%;background:url(../images/arrow.png) no-repeat;cursor:pointer;}
.idx-focus .swiper-prev{left:-15px;background-position:0 50%;}
.idx-focus .swiper-prev:hover{background-position:-21px 50%;}
.idx-focus .swiper-next{right:-15px;background-position:-42px 50%;}
.idx-focus .swiper-next:hover{background-position:-63px 50%;}
.idx-focus-mini{display:none;}
.idx-focus-mini .swiper-container{width:235px;height:280px;}

/* idx-subhead */
.idx-subhead{height:104px;background-color:#293647;overflow:hidden;}
.idx-subhead .container{position:relative;}
.idx-subhead .tit{margin:0;line-height:104px;font-size:24px;color:#fff;}
.idx-subhead .tit span{margin-left:10px;font-size:20px;}
.idx-subhead .plus{position:absolute;top:0;width:260px;height:100%;line-height:300px;background-repeat:no-repeat;background-position:50%;}
.idx-subhead .plus:before{content:"";position:absolute;top:0;left:-31px;width:62px;height:100%;background:url(../images/slash.png) no-repeat;background-size:100% auto;}
.idx-subhead .hour{right:260px;background-image:url(../images/24.png);}
.idx-subhead .date{right:0;background-image:url(../images/365.png);}

/* idx-floor */
.idx-floor{padding:30px 0;background-color:#fff;}
.idx-hd{background:url(../images/bg_idx_hd.png) repeat-x 0 50%;overflow:hidden;}
.idx-hd .tit{float:left;margin:0;padding-right:80px;font-size:24px;color:#c65d00;background-color:#fff;}
.idx-hd .tit span{margin-left:10px;font-size:20px;}
.idx-hd .more{float:right;padding-left:20px;background-color:#fff;}
.idx-hd .more a{color:#f27405;font-size:16px;}
.idx-bd{margin-top:30px;}

.idx-hr{border-top:2px solid #e7e7e7;}

/* idx-dl */
.idx-dl{overflow:hidden;}
.idx-dl dl{margin:0;overflow:hidden;}
.idx-dl dt{text-align:center;}
.idx-dl dt img{max-width:100%;vertical-align:top;}
.idx-dl h3{height:18px;line-height:18px;color:#337ab7;overflow:hidden;}
.idx-dl .detail{margin-top:10px;}
.idx-dl-vertical dd{margin-top:10px;}
.idx-dl-horizontal dl{padding:15px 0;border-top:1px dotted #ccc;}
.idx-dl-horizontal dl:first-child{padding-top:0 !important;border:none;}
.idx-dl-horizontal dl:last-child{padding-bottom:0 !important;}
.idx-dl-horizontal dt{float:left;width:89px;}
.idx-dl-horizontal dd{margin-left:100px;}

/* 党务指南 */
.idx-guide h3{height:59px;padding:20px 20px 0 20px;line-height:34px;background:url(../images/bg_hd.png) repeat-x;color:#fff;}
.idx-guide h3:before{content:"";display:block;width:14px;height:2px;background-color:#fff;overflow:hidden;}
.idx-guide .desc{margin-bottom:20px;font-size:14px;color:#666;}
.idx-guide .detail{padding:20px;line-height:24px;border:1px solid #e8e8e8;border-top:none;}
.idx-guide .detail p{height:50px;overflow:hidden;} /* 等高列 */ 

/* 党委公告&时政要闻 */
.idx-news{/*border-top:2px solid #e7e7e7;border-bottom:2px solid #e7e7e7;*/}
.idx-news .swiper-wrapper{width:92%;overflow:hidden;}
.idx-news .swiper-slide{position:relative;}
.idx-news .swiper-slide img{width:100%;}
.idx-news .swiper-slide span{position:absolute;left:0;bottom:0;right:0;height:40px;padding:0 60px 0 10px;color:#fff;line-height:40px;background-color:#127aa1;overflow:hidden;}
.idx-news .swiper-guide{bottom:7px;padding-right:10px;text-align:right;}

/* 经验交流 */
.idx-exp .box{position:relative;padding:25px;border:2px solid #ddd;}
.idx-exp .box:after{content:"";position:absolute;bottom:-2px;right:-2px;width:44px;height:31px;background:url(../images/bg_corner.png) no-repeat 100% 100%;}
.idx-exp .detail{height:126px;line-height:22px;color:#333;overflow:hidden;} /* 等高列 */ 

@media (min-width:992px){
	/*.container{width:970px;}*/
	.idx-focus .swiper-slide a:hover{text-decoration:none;-webkit-transform:scale(1.15);transform:scale(1.15);}
}
@media (max-width:1080px){
	nav{height:44px;}
	nav li{width:11.11%;}
	nav li:first-child{background:none;}
	nav li a{line-height:44px;font-size:14px;}
	.idx-subhead{height:84px;}
	.idx-subhead .tit{line-height:84px;}
	.idx-subhead .plus{width:200px;background-size:50% auto;}
	.idx-subhead .plus:before{left:-25px;width:50px;}
	.idx-subhead .hour{right:200px;}
	.idx-banner .login{display:none;}
	.side-bar{display:none;}
	.idx-focus{display:none;}
	.idx-focus-mini{display:block;}
	.idx-focus-mini .swiper-prev{left:10px;}
	.idx-focus-mini .swiper-next{right:10px;}
}
@media (max-width:768px){
	header .sub-title{width:170px;}
	.idx-subhead{height:64px;}
	.idx-subhead .tit{line-height:64px;}
	.idx-subhead .plus{width:160px;}
	.idx-subhead .plus:before{left:-19px;width:38px;}
	.idx-subhead .hour{right:160px;}
	.idx-news .swiper-wrapper{width:100%;}
	.idx-dl-horizontal dl{padding:10px 0;}
}

@media (max-width:750px) {
	header .sub-title{height:64px;line-height:44px;font-size:14px;}
	header .logo{padding-left:60px;background-size:50px auto;}
	header .logo a{line-height:26px;font-size:18px;color:#333;}
	header .logo span{font-size:12px;}
	header .hotline{top:8px;padding-left:44px;background-size:40px auto;}
	header .hotline span{font-size:14px;}
	header .hotline a{font-size:18px;}
	nav{height:36px;}
	nav li a{font-size:12px;line-height:36px;}
	.idx-floor{padding:15px 0;}
	.idx-banner .swiper-slide{height:240px;}
	.idx-subhead{height:34px;}
	.idx-subhead .tit{line-height:34px;font-size:14px;}
	.idx-subhead .tit span{font-size:12px;}
	.idx-subhead .plus{width:70px;background-size:70% auto;}
	.idx-subhead .plus:before{left:-10px;width:20px;}
	.idx-subhead .hour{right:70px;}
	.idx-guide h3{height:34px;padding:0 10px;background-size:100% 34px;}
	.idx-guide h3:before{display:none;}
	.idx-guide .detail{padding:10px;}
	.idx-guide .desc{margin-bottom:15px;}
	.idx-exp .detail{height:auto;}
	.idx-hd .tit{padding-right:10px;font-size:14px;line-height:24px;}
	.idx-hd .tit span{font-size:12px;}
	.idx-hd .more{padding-left:10px;line-height:24px;}
	.idx-hd .more a{font-size:12px;}
	.idx-bd{margin-top:15px;}
	.col-sm-4{float:left;width:33.3333%;}
	.col-sm-5{float:left;width:45%;}
	.col-sm-7{float:right;width:55%;}
	.idx-dl-horizontal dd{height:77px;overflow:hidden;}
}

@media (max-width:670px){
	header .container{padding:0;}
	header .sub-title{display:none;}
	header .hotline{padding-left:50px;background-size:auto 90%;}
	header .hotline span{font-size:14px;}
	header .hotline a{font-size:20px;}
	.idx-banner .swiper-slide{height:200px;}
	.col-sm-4{float:none;width:auto;margin-top:15px;}
	.col-sm-4:first-child{margin-top:0;}
	.brands .col-sm-4{margin-top:0;}
	.col-sm-5{float:none;width:auto;}
	.col-sm-7{float:none;width:auto;margin-top:15px;}
	.col-md-2{float:left;width:33.3333%;}
	.idx-news .swiper-container{width:300px;}
}

@media (max-width:480px){
	header .hotline{padding-left:40px;background-size:auto 90%;}
	header .hotline span{font-size:12px;}
	header .hotline a{font-size:16px;}
	nav .container{padding:0;}
}

@media (max-width:460px){
	header{position:fixed;top:0;left:0;right:0;z-index:9;background-color:#fff;}
	header .hotline{display:none;}
	header .menu-icon{display:block;font-size:24px;}
	.idx{margin:0;padding-top:50px;}
	nav{position:relative;z-index:9;height:0;overflow:visible;}
	nav ul{position:fixed;top:40px;right:-100px;background:none;width:66px;background-color:rgba(0,0,0,.8);}
	nav.active ul{right:0;}
	nav li{float:none;width:100% !important;padding:0;background:none;}
	nav li.login{display:block;}
	nav li a{font-size:12px;line-height:36px;}
	nav li .subnav{top:auto;bottom:0;right:100%;}
	.idx-news .swiper-container{width:auto;}
	.cooperation .col-sm-4{float:left;width:50%;}
	.col-md-2{float:left;width:50%;}

}
@media (max-width:360px){
	header .menu-icon{font-size:16px;}
	.idx-subhead .tit span{display:none;}
	.idx-hd .tit span{display:none;}
}

/* page index end =================================================================*/


/* page news begin =================================================================*/
.sitemap{height:240px;line-height:30px;background:url(../images/bg_sitemap.png) no-repeat 50% 0;}
.sitemap .banner{height:100%;margin-top:-30px;background:url(../images/banner.jpg) no-repeat 50% 0;}
.news-box{margin-top:-64px;padding-top:64px;}
.site-menu{float:left;width:240px;height:630px;border-right:1px solid #ddd;}
.site-menu .tit{margin:0;font-size:24px;font-weight:700;color:#c65d00;}
.site-menu .tit span{display:block;margin-top:4px;font-size:12px;font-weight:100;color:#999;}
.site-menu ul{width:200px;margin:10px 0 0;padding:0;list-style:none;}
.site-menu ul a{display:block;line-height:30px;padding-left:10px;font-size:14px;font-weight:700;color:#293647;}
.site-menu ul a.current{color:#fff;background-color:#127aa1;}
.site-menu ul a.current:hover{text-decoration:none;}
.news-list{margin-left:280px;}
.news-list .tit{height:56px;margin:0;font-size:40px;color:#333;font-weight:700;border-bottom:1px solid #ddd;}
.news-list .map{margin-top:-56px;line-height:56px;font-size:14px;text-align:right;}
.news-list .caption{padding:35px 0;border-bottom:1px solid #88a9ac;}
.news-list .caption h3{margin:0;font-size:32px;font-weight:700;color:#127aa1;}
.news-list .caption p{margin:6px 0 0;font-size:15px;font-weight:700;color:#b5b5b6;}
.news-list .list{border-bottom:1px solid #88a9ac;border-top:1px solid #d3dfe0;}
.news-list .list li{height:34px;line-height:34px;overflow:hidden;}
.news-list .list li a{font-size:14px;}
.news-list .list li time{float:right;padding-left:10px;}
.news-list .list li em{margin-right:10px;font-style:normal;}
.news-list .list li a{color:#707070;}
.news-list .plus{padding:36px 0 60px;border-top:1px solid #d3dfe0;}
.news-list .plus .search{position:relative;float:left;}
.news-list .plus .search .select{position:absolute;top:31px;left:0;min-width:100px;background-color:#fff;border:1px solid #ccc;display:none;}
.news-list .plus .search .select li{padding:5px 15px;cursor:pointer;}
.news-list .plus .search .select li:hover{background-color:#f0f0f0;}
.news-list .plus .search .type{float:left;height:32px;line-height:32px;margin-right:4px;padding:0 35px 0 10px;color:#127aa1;border:1px solid #ccc;background:url(../images/arrow3.png) no-repeat 100% 50%;}
.news-list .plus .search .keywords{float:left;width:200px;height:32px;line-height:24px;padding:3px;border:1px solid #ccc;border-right:0;background-color:#fff;}
.news-list .plus .search .submit{float:left;width:28px;height:32px;border:1px solid #ccc;border-left:0;background:#fff url(../images/search.png) no-repeat 50%;}
.news-list .plus .pagin{float:right;text-align:center;}
.news-list .plus .pagin a{display:inline-block;height:32px;padding:0 5px;line-height:32px;font-size:14px;border:1px solid #fff;text-align:center;vertical-align:top;}
.news-list .plus .pagin a.bd{width:32px;border-color:#ccc;font-family:tahoma;}
.news-list .plus .pagin a.current{width:32px;color:#fff;background-color:#d11e37;cursor:default;border-color:#d11e37;}
.news-list .plus .pagin a:hover{text-decoration:none;}
.news-article{margin-top:-64px;padding-top:34px;}
.news-article h1{margin:0;line-height:42px;font-size:24px;font-weight:700;color:#333;text-align:center;}
.news-article .text{margin-right:220px;padding:40px 0;line-height:24px;font-size:14px;color:#575757;}
.news-article .text p{margin-bottom:1.2em;}
.news-article .bnr{float:right;padding:40px 0 0 20px;}
.side-bnr{position:fixed;bottom:10px;right:0;display:none;}
@media (max-width:1080px){
	.side-bnr{display:none;}
}
@media (max-width:768px){
	.site-menu{position:fixed;top:0;left:0;display:none;}	
	.news-list{margin-left:0;}
}
@media (max-width:750px) {
	.news-article h1{line-height:30px;font-size:16px;}
	.news-article .text{margin-right:0;padding:20px 0;}
	.news-article .bnr{display:none;}

	.news-list .tit{height:30px;line-height:30px;font-size:16px;}
	.news-list .map{margin-top:-30px;line-height:30px;}
	.news-list .caption{padding:15px 0;}
	.news-list .caption h3{font-size:14px;}
	.news-list .caption p{font-size:12px;}
}
@media (max-width:670px){
	.news-list .plus .search{float:none;}
	.news-list .plus .pagin{clear:both;float:none;padding-top:30px;}
}
@media (max-width:460px){
	.sitemap{margin-top:58px;height:120px;}
	.sitemap .banner{margin-top:-15px;background-size:auto 100%;}
	.news-article{margin-top:-32px;}
}
@media (max-width:360px){
	.sitemap{margin-top:50px;}
	.news-list .plus .search .keywords{width:160px;}
}

/* page news end =================================================================*/