/* Tiny Scrollbar */
#scrollbar { margin-top: 20px; }
#scrollbar .viewport { width: 980px; height: 138px; overflow: hidden; position: relative;  }
#scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) repeat-y 0 0; position: relative; background-position: 0 0; float: right; width: 12px; }
#scrollbar .track { background-color:#e1e1e1; height: 100%; width:12px; position: relative;}
#scrollbar .thumb { background-color:#eb5405; height: 20px; width: 12px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0; }
#scrollbar .thumb .end { background-color:#eb5405; overflow: hidden; height: 5px; width: 12px; }
#scrollbar .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
