

.icon-bank{display:inline-block;width:142px;height:36px;background:url(../images/icon-banksv6.png) 0 100px no-repeat;}
.icon-CMB{background-position:0 -252px;}
.icon-ICBCB2C{width:200px;background-position:0px -432px;}
.icon-CCB{width:200px;background-position:0px -108px;}
.icon-ABC{width:190px;background-position:0px 0px;}
.icon-BOCB2C{background-position:0px -72px;}
.icon-CEB{width:170px;background-position:0px -144px;}
.icon-CEBBANK{width:170px;background-position:0px -144px;}
.icon-CITIC{background-position:0px -216px;}
.icon-CIB{background-position:0px -180px;}
.icon-POSTGC{width:250px;background-position:0px -468px;}
.icon-COMM{width:164px;background-position:0px -324px;}
.icon-SPDBB2B{background-position:0px -576px;}
.icon-SPDB{background-position:0px -576px;}
.icon-GDB{background-position:0px -360px;}
.icon-CMBC{width:190px;background-position:0px -288px;}
.icon-BJBANK{width:148px;background-position:0px -36px;}
.icon-SPABANK{background-position:0px -540px;}
.icon-NBBANK{background-position:0px 100px;}
.icon-SHBANK{background-position:0px -504px;}
.icon-HXBANK{background-position:0px -612px;}
.icon-HZCBB2C{background-position:0px -396px;}
.icon-DYBANK{background-position:0px 100px;}
.icon-FJNXBANK{background-position:0px 100px;}
.icon-GZBANK{background-position:0px 100px;}
.icon-SDNXH{background-position:0px 100px;}
.icon-FDB{background-position:0px -1441px;}
.icon-STANBANK{background-position:0px -684px;}
.icon-CITIBANK{background-position:0px -648px;}
.icon-EEDSBANK{width:190px;background-position:0px -719px;}
.icon-FJHXBANK{width:190px;background-position:0px -754px;}
.icon-HUBEIBANK{width:148px;background-position:0px -791px;}
.icon-JHCCB{background-position:0px -826px;}
.icon-NCBANK{background-position:0px -864px;}
.icon-QHRCCB{width:230px;background-position:0px -900px;}
.icon-WLMQSYBANK{width:250px;background-position:0px -936px;}
.icon-ZJCZBANK{width:220px;background-position:0px -1007px;}
.icon-LZBANK{background-position:0px -1043px;}
.icon-XTBANK{width:170px;background-position:0px -973px;}
.icon-LJBANK{background-position:0px -1080px;}
.icon-QLBANK{background-position:0px -1115px;}
.icon-QDCCB{width:148px;background-position:0px -1153px;}
.icon-GZNCSYBANK{width:200px;background-position:0px -1188px;}
.icon-PDSCB{width:190px;background-position:0px -1224px;}
.icon-GYBANK{width:170px;background-position:0px -1260px;}
.icon-AHRCU{width:220px;background-position:0px -1296px;}
.icon-CSNSBANK{width:220px;background-position:0px -1332px;}
.icon-WZBANK{width:170px;background-position:0px -1368px;}
.icon-DRCBANK{width:240px;background-position:0px -1404px;}
.icon-GUILINBANK{background-position:0px -1476px;}
.icon-JXCCB{background-position:0px -1512px;}
.icon-JYNSBANK{width:190px;background-position:0px -1548px;}
.icon-SHNSBANK{width:190px;background-position:0px -1584px;}
.icon-BSBANK{width:190px;background-position:0px -1620px;}