@charset "utf-8";
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
/*html,body{height:100%;overflow:hidden;}*/
body{color:#666;font:14px/1.5 Helvetica;background:#19232f;}
body,p,dl,dt,dd,ul,ol,hr{margin:0;}
h1,h2,h3,h4{margin:0;font-size:100%;font-weight:400;}
ul,ol{padding:0;list-style:none;}
a{color:#333;text-decoration:none;}
input,button,textarea,select{font-size:100%;border:none;outline:none;resize:none;}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0;text-align:left;}
th{text-align:left;}
address,cite,dfn,em,i,strong{font-style:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
::-ms-clear,::-ms-reveal{display:none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}

/* noscroll */
.noscroll{overflow:hidden;}

/*bg*/
.bg1{background:url(../images/bg1.jpg) no-repeat fixed #0a69b9 50% 50%;background-size:100% auto;}
.bg1 .header{background:none;}
.bg2{background:url(../images/bg2.jpg) no-repeat fixed #0a69b9 50% 50%;background-size:100% auto;}
.bg3{background:url(../images/bg3.jpg) no-repeat fixed #0a69b9 50% 50%;background-size:100% auto;}

/* button */
.ubtn{display:inline-block;padding:0;text-align:center;cursor:pointer;border:none;color:#fff;background:url(../images/btn.png) no-repeat;white-space:nowrap;}

.ubtn-primary{width:179px;height:64px;line-height:64px;background-position:-225px -249px;}
.ubtn-primary:hover{background-position:-25px -249px;}
.ubtn-small{width:142px;height:52px;line-height:52px;background-position:-21px -164px;}
.ubtn-small:hover{background-position:-217px -164px;}
.ubtn-filter{width:146px;height:53px;line-height:53px;background-position:-25px -341px;}
.ubtn-td{width:100px;height:52px;line-height:52px;background-position:-18px -90px;}
.ubtn-td:hover{background-position:-221px -90px;}

/* link */
.c-red{color:#d74141;}
.c-red:hover{color:#c13a3a;}
.c-blue{color:#1869ff;}
.c-blue:hover{color:#155ee5;}
.c-gray{color:#999;}
.link{color:#fff;}
.link:hover{text-decoration:underline;}

/* ico */
.ico{display:inline-block;width:30px;height:30px;background:url(../images/ico.png) no-repeat;}

/* border-radius */
.cbx input{margin:0 6px 0 0;vertical-align:-2px;}

/* layout */
.fr{float:right;}
.fl{float:left;}
.ml30{margin-left:30px;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.hide{display:none;}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.slt,.ipt{height:30px;padding:0 8px;border:1px solid #3b434d;color:#fff;background:#3b434d;font-size:14px;}
.ipt:disabled{background:#ededed;color:#999;}
.nav, .header{min-width:1200px;}
.content{position:absolute;top:94px;left:240px;right:0;bottom:20px;padding:20px;overflow-x:hidden;overflow-y:auto;}
.box{min-width:1000px;min-height:100%;padding:20px;color:#fff;background:#135792;}
.box .tit{padding-bottom:10px;font-size:16px;line-height:30px;border-bottom:1px solid #ddd;}


/* header */
.header{position:fixed;top:0;left:0;right:0;height:100px;color:#b9cacc;z-index:2;/*background:#1a232e;*/}
.header:before{content:'';position:absolute;top:0;right:0;width:31px;height:356px;background:url(../images/header.png) no-repeat -335px 0;}
.header:after{content:'';position:absolute;top:0;right:365px;left:665px;height:8px;background:url(../images/header.png) 0 100%;}
.header .logo{width:665px;height:75px;overflow:hidden;background:url(../images/header.png) no-repeat -366px 0;}
.header .logo a{display:inline-block;padding-left:96px;line-height:75px;font-size:30px;background:url(../images/logo.png) no-repeat 12px 50%;color:#fff;}
.header .logo a:hover{color:#fff;}
.header .user{position:absolute;top:0;right:30px;bottom:-20px;width:335px;line-height:26px;padding-top:10px;text-align:right;background:url(../images/header.png) no-repeat;}
.header .user li a{color:#b9cacc;}
.header .user li a:hover{color:#fff;}
.header .nav{position:absolute;left:34.375%;top:20px;}
.header .nav li{float:left;position:relative;width:180px;text-align:center;cursor:default;}
.header .nav .ico{display:inline-block;width:30px;height:30px;margin:0 6px 0 -20px;vertical-align:middle;}
.header .nav .ico-1{background-position:-78px 50%;}
.header .nav .ico-2{background-position:-121px 50%;}
.header .nav .ico-3{background-position:-162px 50%;}
.header .nav .ico-4{background-position:-203px 50%;}
.header .nav .ico-5{background-position:-241px 50%;}
.header .nav dt{line-height:70px;font-size:18px;color:#fff;background:url(../images/btn.png) no-repeat -18px -8px;}
.header .nav dd{position:absolute;top:100%;left:0;right:0;display:none;color:#fff;}
.header .nav li:hover dt{background-position:-242px -8px;}
.header .nav li:hover dd{display:block;}
.header .nav a{display:block;color:#fff;font-size:18px;line-height:30px;}

/* footer */
.footer{position:fixed;right:30px;bottom:2px;color:#fff;}

/* side-menu */
.side-menu{position:absolute;top:94px;left:0;bottom:0;width:230px;padding-top:20px;color:#a5b5c8;background:#1e4575;}
.side-menu .scroll{height:100%;overflow:hidden;}
.side-menu .s{width:20px;height:44px;background:url(../images/sg.png) no-repeat -20px -20px;}
.side-menu .dot{position:absolute;top:7px;left:15px;background-position:-6px -402px;}
.side-menu .arrow{display:inline-block;margin-left:10px;background-position:-68px -404px;vertical-align:top;}
.side-menu .level1{position:relative;line-height:60px;padding-left:40px;font-size:16px;cursor:pointer;}
.side-menu .level1 .arrow{position:absolute;top:9px;right:15px;background-position:-26px -402px;margin:0;}
.side-menu .level2{position:relative;padding-left:40px;cursor:pointer;}
.side-menu .level3{position:relative;padding-left:60px;cursor:pointer;color:#a5b5c8;}
.side-menu a{display:block;padding-left:60px;color:#a5b5c8;}
.side-menu .son a{padding-left:80px;}
.side-menu .on,
.side-menu a:hover{background:#0294db;color:#fff;}
.side-menu li{line-height:40px;}
.side-menu ul ul{display:none;}
.side-menu .active .level1{color:#fff;background:url(../images/sg.png) 0 -285px;}
.side-menu .active .level1 .arrow{background-position:-48px -402px;}
.side-menu .active .active{color:#fff;background:#0a2d57;}
.side-menu .active .active .level2 .arrow{background-position:-86px -404px;}
.side-menu .active .active .active .level3 .arrow{background-position:-86px -404px;}
.side-menu .open{position:absolute;top:50%;right:-13px;width:17px;height:93px;margin-top:-46px;background:url(../images/open.png) no-repeat;cursor:pointer;}
.side-menu .current{background:#0066bd;color:#fff;border-left-color:#009bff;}
.side-fold .side-menu .open{background-position:-20px 0;}


/* layer */
.wrapper{min-width:1000px;margin:100px 20px 0;padding:20px 18px;background:#242d38;box-shadow:0 0 5px rgba(0,0,0,.2);}
/*.box{padding:20px 18px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2);}*/
.box .tit{position:relative;padding:0 0 10px 26px;line-height:18px;font-size:16px;border-bottom:1px solid #ddd;background:url(../images/ico-site.png) no-repeat;}
.box .cap{width:260px;line-height:1;margin-bottom:10px;padding:4px;font-size:16px;background:#d4def0;}
.box .cap:before{content:'';display:inline-block;height:18px;margin-right:6px;border-left:5px solid #4778c7;vertical-align:top;}

/* crumbs */
.crumbs{position:relative;width:760px;margin:0 0 20px 5px;padding:8px 40px;font-size:18px;color:#fff;border-bottom:2px solid #234078;}
.crumbs:before{content:'';position:absolute;bottom:-2px;left:-5px;width:53px;height:30px;background:url(../images/ico-site.png) no-repeat;}

/* filter */
.filter{position:relative;padding-bottom:12px;font-size:18px;line-height:28px;color:#ccc;}
.filter:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.filter .for,.filter i{display:inline-block;vertical-align:top;}
.filter .ipt, .filter .slt, .filter .ubtn, .filter .for{vertical-align:top;}
.filter .ubtn{min-width:85px;}
.filter .abs{position:absolute;top:-6px;right:0;}
.filter .ipt, .filter .slt{width:220px;}
.filter .ipt-long{width:280px;}
.filter span{font-size:16px;}
.filter em{margin:0 2px;}
.filter .hr{display:block;margin-top:20px;}
.filter .group{float:left;margin-bottom:10px;}
.site{margin:0 5px;line-height:30px;font-size:16px;}
.queryTime{display:inline-block;width:460px;}
.queryTime em{margin:0 4px;}
.queryTime .ipt{margin:0;width:160px!important;}


/* table */
.table{margin-top:15px;color:#fff;font-size:16px;}
.table th{font-weight:400;font-size:18px;border-top:1px solid #3b434d;}
.table th,
.table td{height:60px;padding:8px;border-bottom:1px solid #3b434d;}
.table tr:hover td{background:#3b434d;}
.table .active{background:#ffc53d;}
.table .tc th{text-align:center;}
.table .tl{text-align:left!important;}
/*.table .cbx{vertical-align:middle;}*/
.table .cbx{margin-right:6px;vertical-align:-2px;}
.table .ubtn{min-width:auto;margin:0 3px;padding:0 8px;}
.table .empty{height:80px;text-align:center;}
.table .pic{display:none;}
.table .pic td{padding:15px;background:#f8f8f8!important;text-align:left;}
.table .pic ul{overflow:hidden;*zoom:1;}
.table .pic li{position:relative;float:left;width:180px;height:100px;padding:3px;margin:0 12px 12px 0;border:1px solid #ebebeb;border-radius:3px;background:url(../images/thumb.png) no-repeat 50% 50%;}
.table .pic li:hover{border-color:#00cccb;}
.table .pic img{width:180px;height:100px;}
.table .gray td{background:#424676!important;}
.operate{margin-top:20px;overflow:hidden;*zoom:1;}
.operate .action{float:left;}
.operate .action .slt{margin-left:10px;}

/* jquery.pagination */
.pagination{float:right;line-height:30px;color:#fff;}
.pagination .p-size{float:left;padding-right:10px;}
.pagination .p-num{float:right;}
.pagination .p-num a,
.pagination .p-num .current{display:inline-block;min-width:20px;margin:0 3px;padding:0 15px;font:16px/28px tahoma;color:#fff;text-align:center;vertical-align:top;background:#122033;border:1px solid #0e5acb;}
.pagination .p-num .current,
.pagination .p-num a:hover{color:#fff;background:#0e5acb;}


/* spinner  */
.spinner{position:fixed;top:50%;left:50%;width:80px;height:80px;font:12px/120px '';margin:-40px 0 0 -40px;background:#2f3b4c url(../images/spinner.gif) no-repeat 50% 40%;background-color:rgba(47,59,76,.9);color:#fff;text-align:center;border-radius:5px;z-index:99999;}
.spinner-lock:before{content:'';position:fixed;top:0;left:0;right:0;bottom:0;background:#000;opacity:0.5;filter:alpha(opacity=50);z-index:99998;}


/* form */
.form{padding:1px 50px;color:#fff;overflow:hidden;*zoom:1;}
.form .row{position:relative;margin:20px 0;line-height:30px;padding:0 0px 0 140px;}
.form .req:after{content:'*';position:absolute;top:0;right:-20px;color:#ff0;font-size:30px;} /*必填*/
.form .for{position:absolute;top:0;left:0;white-space:nowrap;font-size:18px;}
.form .ipt,
.form .slt{display:inline-block;width:100%;vertical-align:top;color:#fff;background:#2a3748;border:1px solid #2a3748;}
.form .ipt-short{width:80px;}
.form .ipt-mul{height:60px;vertical-align:top;}
.form .ipt-area{height:160px;vertical-align:top;overflow:hidden;overflow-y:auto;}
.form .msg-box{position:absolute;top:100%;left:140px;color:#ff0;font-size:12px;line-height:1.8;}

.login-form .row{padding-left:39px;margin:30px 0;}
.login-form .row .ico{position:absolute;top:0;left:0;width:40px;height:40px;border:1px solid #1944b8;background-color:#122033;z-index:1;}
.login-form .row .user{background-position:1px 50%;}
.login-form .row .lock{background-position:-33px 50%;}
.login-form .row .ubtn{margin-top:-8px;}
.login-form .row .msg-box{left:49px;}
.login-form .row .ipt{height:40px;}

.layer-form{display:none;max-height:380px;overflow-y:auto;}
.layer-form .select2{width:100%!important;}
.layer-form .info{overflow:hidden;*zoom:1;}
.layer-form .info li{float:left;width:50%;padding:10px 0;color:#333;}
.layer-form .info .for{color:#999;}
.layer-form .picture{width:480px;height:360px;margin:10px 0;background:#d2d2d2;position:relative;}
.layer-form .op .ubtn{text-indent:15px;background:url(../images/camera_op.png) no-repeat;}
.layer-form .op .ico1{background-position:5px 0;}
.layer-form .op .ico2{background-position:5px -30px;}
.layer-form .op .ico3{background-position:5px -60px;}
.layer-form .ul{line-height:40px;font-size:16px;text-align:center;}
.layer-form .ul a:hover{text-decoration:underline;color:#000;}
.layer-form-extra .txt{width:140px;}
.layer-form-extra .cnt{margin-left:150px;}
.layer-msg{text-align:center;box-shadow:0 0 5px rgba(0,0,0,.1);background-color:#fff;border:1px solid #ddd\9;display:none;}
.layer-msg .hd{line-height:46px;font-size:18px;color:#fff;background:url(../images/sg.png) 0 -285px;}
.layer-msg .ico{display:inline-block;margin-right:20px;vertical-align:middle;}
.layer-msg .ico-success{}
.layer-msg .ico-warning{width:67px;height:64px;background:url(../images/warn.png);}
.layer-msg .bd{padding:45px 0;color:#666;font-size:18px;}
.layer-msg .note{padding:20px 0;}
.layer-msg .ipt-mul{width:330px;height:130px;}
.layer-msg .ft{padding-bottom:26px;}
.layer-msg .ft .ubtn{margin:0 10px;}

.layer-loading{padding-top:26px;text-align:center;background:#fff;}
.layer-loading .ico{width:44px;height:44px;margin-right:10px;background:url(../images/common.png) no-repeat -44px 50%;vertical-align:top;}
.layer-loading .hd{font-size:24px;line-height:44px;}
.layer-loading .loading{height:100px;background:url(../images/loading.gif) no-repeat 50% 50%;}




/* 气泡式弹出层组件 */
.notify-message{position:fixed;top:60px;right:30px;z-index:2147483641;padding:16px 20px 16px 68px;border-radius:3px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.4);display:none;color:#fff;}
.notify-message .title{font-size:16px;}
.is-success{background:#00a854 url(../images/ico-success.png) no-repeat 10px 50%;}
.is-warning{background:#ffbf00 url(../images/ico-warn.png) no-repeat 10px 50%;}
.is-danger{background:#f04134 url(../images/ico-times.png) no-repeat 10px 50%;}

.page-error{position:absolute;top:20px;left:20px;right:20px;bottom:20px;padding-top:40px;background:#135792;text-align:center;color:#fff;}
.page-error .buttons{margin-top:30px;}
.page-error .f18{font-size:18px;}
.page-error .hd{font-size:22px;}
.bg-404{height:400px;background:url(../images/page-404.png) no-repeat 50% 30px;}
.bg-500{height:400px;background:url(../images/page-500.png) no-repeat 50% 30px;}



.tooltipsy{position:absolute;top:0;left:0;color:#333;background:#fff;border-radius:3px;margin-top:-5px;padding:5px 16px;max-width:400px;z-index:9999;}
.tooltipsy:before{content:'';position:absolute;border:5px dashed transparent;}
.tooltipsy.top:before{border-top:5px solid #18212a;border-bottom:0;bottom:-5px;left:50%;margin-left:-5px;}
.tooltipsy.right:before{border-right:5px solid #18212a;border-left:0;left:-5px;top:10px;}
.tooltipsy span{display:inline-block;width:86px;white-space:nowrap;margin:0 5px 5px 0;border:1px solid #ccc;text-align:center;border-radius:2px;}


body .layui-layer{background:none;}
body .layui-layer-title{padding:0 20px;height:49px;line-height:49px;font-size:24px;color:#fff;overflow:hidden;background:url(../images/layer.png) no-repeat 50% 0;text-align:center;border:0;}
body .layui-layer .layui-layer-content{background:#122033;border:0;border-left:2px solid #0b7ab2;border-right:2px solid #0b7ab2;}
body .layui-layer-setwin .layui-layer-close1{width:20px;height:20px;background:url(../images/layer.png) no-repeat -571px -70px;}
body .layui-layer-btn{height:89px;text-align:center;padding:12px;pointer-events:auto;background:url(../images/layer.png) no-repeat 50% 100%;}
body .layui-layer-btn a{width:179px;height:64px;line-height:64px;font-size:28px;background:url(../images/btn.png) no-repeat -225px -249px;border:0;color:#fff;margin:0 26px;}

body .layui-layer-btn .layui-layer-btn0{background-color:transparent;}
body .layer-confirm .layui-layer-content{height:auto!important;padding:90px 20px;font-size:24px;color:#fff;text-align:center;}
body .layer-tips .layui-layer-content{height:auto!important;padding:90px 20px 55px;font-size:24px;color:#fff;text-align:center;}
body .layer-tips .layui-layer-btn{height:40px;background-position:0 -141px;}
body .layer-tips .layui-layer-btn a{display:none;}
body .layer-btm:after{content:'';display:block;height:40px;margin-top:-20px;background:url(../images/layer.png) no-repeat 0 -141px;}
body .layer-btm .layui-layer-content{height:auto!important;}

.login-box{width:600px;display:block;position:absolute;top:50%;left:50%;margin:-155px 0 0 -300px;}
.login-box .hd{line-height:49px;font-size:24px;color:#fff;background:url(../images/layer.png) no-repeat 50% 0;text-align:center;}
.login-box .form{background:#122033;border-left:2px solid #0b7ab2;border-right:2px solid #0b7ab2;}
.login-box .button{height:89px;text-align:center;padding:12px;background:url(../images/layer.png) no-repeat 50% 100%;}


body .select2-dropdown{border:0;}
body .select2-container--default .select2-selection--single{background:#2a3748;border:0;}
body .select2-container--default .select2-selection--single .select2-selection__rendered{line-height:30px;color:#fff;}
body .select2-container--default .select2-selection--single .select2-selection__arrow b{border-top-color:#fff;}
body .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #fff;}
/*body .select2-container--default .select2-results__option[aria-selected="true"]{background:#3b434d;}*/
body .select2-container--default .select2-results__option--highlighted[aria-selected]{background:#328bae;}


/*ztree*/

/* ztree */
.ztree{margin:0;padding:5px;color:#fff;font-size:14px;border:1px solid #007bc6;}
.ztree li{padding:0;margin:0;list-style:none;line-height:30px;text-align:left;white-space:nowrap;outline:0;}
.ztree li ul{margin:0;padding:0 0 0 24px}
.ztree li a{display:inline-block;padding-right:6px;cursor:pointer;color:#fff;text-decoration:none;vertical-align:top;}
.ztree li a:hover{text-decoration:underline}
.ztree .node_name{font-size:100%;}
.ztree .curSelectedNode .node_name{background-color:#0da7bb;border:1px #0da7bb solid;color:#fff;font-weight:700;box-shadow:0 0 8px rgba(3,109,217,0.5) inset;}
.ztree .rename{height:14px;width:80px;padding:0;margin:0;font-size:12px;border:1px #7EC4CC solid;}
.ztree .line{background:url(../images/ztree/line_conn.png) 7px 0 repeat-y;}
.ztree .button{display:inline-block;cursor:pointer;background:url(../images/ztree/ztree.png) no-repeat;vertical-align:top;}
.ztree .button.car_ico_close,
.ztree .button.car_ico_open,
.ztree .button.car_ico_docu{width:40px;background-position:50% 50%!important;}
.ztree .chk{width:16px;height:30px;margin-right:5px;}
.ztree .checkbox_false_full_focus,
.ztree .checkbox_false_full{background-position:-35px -170px;}
.ztree .checkbox_false_part_focus,
.ztree .checkbox_false_part{background-position:-35px -170px;}
.ztree .checkbox_true_part_focus,
.ztree .checkbox_true_part{background-position:-85px -170px}
.ztree .checkbox_true_full_focus,
.ztree .checkbox_true_full{background-position:-85px -170px;}
.ztree .checkbox_false_disable{background-position:-35px -170px;}
.ztree .checkbox_true_disable{background-position:-85px -170px;}
.ztree .radio_false_full_focus,
.ztree .radio_false_full{background-position:-35px -170px;}
.ztree .radio_false_part_focus,
.ztree .radio_false_part{background-position:-35px -170px;}
.ztree .radio_true_part_focus,
.ztree .radio_true_part{background-position:-85px -170px}
.ztree .radio_true_full_focus,
.ztree .radio_true_full{background-position:-85px -170px;}
.ztree .radio_false_disable{background-position:-35px -170px;}
.ztree .radio_true_disable{background-position:-85px -170px;}
.ztree .switch{width:30px;height:30px;}
.ztree .root_open{background-position:-29px -101px}
.ztree .root_close{background-position:-79px -101px}
.ztree .roots_open{background-position:-29px 7px}
.ztree .roots_close{background-position:-79px 7px}
.ztree .center_open{background-position:-29px -29px}
.ztree .center_close{background-position:-79px -29px}
.ztree .bottom_open{background-position:-29px -66px}
.ztree .bottom_close{background-position:-79px -66px}
.ztree .noline_open{background-position:-29px -137px}
.ztree .noline_close{background-position:-79px -137px}
.ztree .root_docu{background:none;}
.ztree .roots_docu{background-position:10px 7px}
.ztree .center_docu{background-position:10px -29px}
.ztree .bottom_docu{background-position:10px -66px}
.ztree .noline_docu{background:none;}
.ztree .ico_open{background-position:50% 50%;}
.ztree .ico_close{background-position:50% 50%;}
.ztree .org{width:20px;height:30px;}
.ztree .car_ico_docu{width:40px;height:30px;background-position:50% 50%;}
.ztree .org1+.node_name{font-size:18px;}

.layer-tree{position:absolute;top:100%;left:0;width:220px;z-index:999;height:264px;margin-top:5px;padding-top:5px;background:#18212a;border:1px solid #007bc6;display:none;box-shadow:0 0 8px rgba(3,109,217,0.5) inset;}
.layer-tree .ztree{height:195px;border-width:0;overflow:auto;}
.layer-tree:before{content:'';position:absolute;top:0;left:0;width:34px;height:34px;background:url(../images/ico-filter.png) no-repeat 10px 50%;}
.layer-tree .ipt{width:170px;height:24px;border:0;margin-left:40px;}
.layer-tree .choose{position:absolute;top:30px;left:40px;width:180px;padding:1px;background:#fff;height:180px;overflow:hidden;overflow-y:auto;display:none;border:1px solid #999;z-index:1;}
.layer-tree .choose span{display:block;color:#333;font-size:14px;line-height:26px;padding:0 7px;border-top:1px solid #eee;cursor:pointer;}
.layer-tree .choose span:hover{background:#3b434d;color:#fff;}
.layer-tree .ops{text-align:center;padding-top:5px;}
.layer-tree .ops .ubtn{margin:0 4px;}
.layer-tree .ubtn{min-width:40px;height:24px;font-size:12px;color:#fff;border:1px solid #007bc6;background:none;}
.layer-tree .ubtn:hover{box-shadow:0 0 8px rgba(3,109,217,0.5) inset;}

.layer-form .ztree{height:220px;overflow:hidden;overflow-y:auto;border:0;background:#2a3748;}
