html,body{height:100%;}
body{background:url(../images/bg.jpg) no-repeat 50% 50%;background-size:100% 100%;}

.login-box{position:absolute;z-index:1;top:50%;left:50%;width:1044px;height:444px;margin:-260px 0 0 -522px;background:url(../images/bg-box.png);}
.login-box .myform{position:absolute;top:70px;right:90px;width:338px;}
.login-box .title{text-align:center;font-size:18px;color:#fff;}
.login-box .group{margin-top:20px;}
.login-box .input{width:324px;height:24px;line-height:24px;padding:7px;border:1px solid #fff;border-radius:6px;background:#fff url(../images/ico-login.png) no-repeat -30px 0;transition:border .1s;}
.login-box .input:focus{box-shadow:0 0 5px rgba(38, 185, 154,1);border:1px solid #26b99a;}
.login-box .user{background-position:100% 10px;}
.login-box .user:focus{background-position:100% -42px;}
.login-box .lock{background-position:100% -92px;}
.login-box .lock:focus{background-position:100% -144px;}
.login-box .shot{width:200px;}
.login-box .msg{position:absolute;top:0;left:0;right:0;font-size:18px;color:#2f3b4c;font-weight:700;text-align:center;background:#4b94ba;}
.login-box .error{position:absolute;top:42px;right:104%;font-size:16px;color:#f00;text-align:center;background:#fff;white-space:nowrap;padding:13px 35px;border-radius:5px;display:none;}
.login-box .error:after{content:"";position:absolute;top:50%;right:-5px;margin-top:-5px;border:5px dashed transparent;border-left:5px solid #fff;border-right:0;}
.login-box .error-1{top:42px;}
.login-box .error-2{top:102px;}
.login-box .error-3{top:162px;}
.login-box .button{margin-top:38px;}
.login-box .ubtn{width:100%;height:44px;font-size:16px;box-shadow:0 1px 1px rgba(0, 0, 0, .4);}
.login-box .ubtn:hover{box-shadow:0 1px 3px rgba(0, 0, 0, .4);}
.login-box .verifycodeImg{float:right;width:100px;height:40px;cursor:pointer;border:1px solid #ccc;border-radius:4px;}
.login-box .copyright{position:absolute;top:100%;left:0;right:0;padding-top:20px;text-align:center;color:#fff;}

.login-footer{position:fixed;right:0;bottom:0;left:0;height:40px;padding:9px 20px;line-height:40px;color:#fff;background:url(../images/bg-ft.png);}
.login-footer img{width:auto;height:40px;margin-right:9px;vertical-align:top;}
.login-footer li{float:left;font-size:14px;}
.login-footer em{display:inline-block;padding-left:60px;background:url(../images/support.png) no-repeat 0 50%;vertical-align:top;}
.login-footer .hr{width:1px;height:40px;margin:0 35px;background:#fff;}
